@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');
@import './vars.scss';
@import './mixins.scss';
img {
    max-width: 100%;
}
:after, :before {
    box-sizing: content-box;
}
select::-ms-expand {
    display: none;
}

/deep/ .vue-slider-component.vue-slider-has-label {
    padding: 0 !important;
    margin-bottom: 0;

}

/deep/ .vue-slider-piecewise {
    margin: 6px 0 0 !important;

    .vue-slider-piecewise-item {
        margin: 0 !important;
        position: absolute !important;
        &:before {
            content: '' !important;
            color: transparent !important;
            font-size: 0 !important;
            margin-right: 0 !important;
        }
        span {
            color: $green !important;
            cursor: pointer;
            @media (max-width: 500px) {
                white-space: unset !important;
                text-align: center !important;
            }

        }

        &:first-of-type {
            span {
                transform: translate(0%, 8px);
            }
        }

        &:last-of-type {
            span {
                transform: translate(-100%, 8px);
            }
        }
    }

}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


/deep/.fade-enter-active,
/deep/.fade-leave-active {
    transition: opacity 0.3s;
}

/deep/.fade-enter,
/deep/.fade-leave-to {
    opacity: 0;
}

.slide-fade-enter-active {
    transition: all .5s ease;
}
.slide-fade-leave-active {
    transition: all .5s ease;
    position: absolute;
}
.slide-fade-enter,
.slide-fade-leave-to {
    transform: translateX(50px);
    opacity: 0;
}
