$border-color: #dedede;
$error-color: #F3001D;
$text-color: #b2b2b2;
$margin-grid: 15px;
$white: #fff;
$black: #000;
$text: #333;
$grey: #333;
$grey_bg: #F4F4F4;
$grey_text: #575755;
$grey_lighter: #454545;
$grey_lighter-2: #BDBDBD;
$grey_2: #8D8D8D;
$green: #50b848;
$green_light: #EDF9EE;
$green_dark: #429D3B;
$yellow: #FFF32A;
$yellow_light: #FFFCD0;
$yellow_dark: #F5E700;
$purple: #8870B9;
$border: lighten($grey, 50%); //#b3b3b3
$border_light: lighten($border, 18%); //#e0e0e0
$border_link: #b8e1ab;
$grey_border_link: #E7E7E7;
$border_hover: darken($border_light, 4%); //#A2A2A2;
$inputHeight: 52px;