<template>
    <div class="carLoanComponent">
        <div class="credCalc__group credCalc__group_with-slider">
            <cibInput
                v-model="params.sum"
                fieldName="sum"
                labelText="Cтоимость автомобиля (в рублях)"
                :required="false"
                :replaceCharactersRegExp="/[^0-9]/g"
                :sumFormatted="true"
            ></cibInput>
            <div class="element-wrapper-input">
                <vue-slider
                    @callback="sliderValueChanged('changeSumFromSlider')"
                    ref="sumSlider"
                    v-model="params.sumSliderValue"
                    :min="0"
                    :max="sumSliderMax"
                    :piecewise="false"
                    :piecewise-label="true"
                    :tooltip="false"
                    :real-time="false"
                    :stop-propagation="true"
                    :height='3'
                    :padding='0'
                    :dotSize='20'
                    :sliderStyle="{
                    'backgroundColor': '#50b848',
                    'boxShadow': 'none'
                }"
                    :processStyle="{
                    'backgroundColor': '#50b848'
                }">
                    <span
                        slot="label"
                        slot-scope="label"
                        class="vue-slider-piecewise-label">{{ sliderLabels[label.index] }}</span>
                </vue-slider>
            </div>
        </div>
        <div class="credCalc__group credCalc__group_with-slider">
            <cibInput
                v-model="params.prepay"
                fieldName="prepay"
                labelText="Первоначальный взнос (в рублях)"
                :required="false"
                :replaceCharactersRegExp="/[^0-9]/g"
                :sumFormatted="true"
            ></cibInput>
            <div class="element-wrapper-input">
                <vue-slider
                    @callback="sliderValueChanged('changePrepayFromSlider')"
                    ref="sumSlider"
                    v-model="params.prepaySliderValue"
                    :min="0"
                    :max="prepaySliderMax"
                    :piecewise="false"
                    :piecewise-label="true"
                    :tooltip="false"
                    :real-time="false"
                    :stop-propagation="true"
                    :height='3'
                    :padding='0'
                    :dotSize='20'
                    :sliderStyle="{
                    'backgroundColor': '#50b848',
                    'boxShadow': 'none'
                }"
                    :processStyle="{
                    'backgroundColor': '#50b848'
                }">
                    <span
                        slot="label"
                        slot-scope="label"
                        class="vue-slider-piecewise-label">{{ prepaySliderLabels[label.index] }}</span>
                </vue-slider>
            </div>
        </div>
        <div class="credCalc__group credCalc__group_with-slider">
            <cibInput
                v-model="params.period"
                fieldName="period"
                labelText="Срок кредитования (в годах)"
                :required="false"
                :replaceCharactersRegExp="/[^0-9]/g"
                :sumFormatted="true"
            ></cibInput>
            <div class="element-wrapper-input">
                <vue-slider
                    ref="periodSlider"
                    v-model="params.period"
                    :min="1"
                    :max="periodSliderMax"
                    :piecewise="false"
                    :piecewise-label="true"
                    :tooltip="false"
                    :moveLinkByIndex="true"
                    :height='3'
                    :padding='0'
                    :dotSize='20'
                    :sliderStyle="{
                    'backgroundColor': '#50b848',
                    'boxShadow': 'none'
                }"
                    :processStyle="{
                    'backgroundColor': '#50b848'
                }"></vue-slider>
            </div>
        </div>
        <div class="credCalc__checkboxes-wr checkboxes-wr">
            <cibInput
                v-model="params.med"
                fieldName="ruralAreas"
                inputType="checkbox"
                checkBoxType="toggle"
            >
                <template #labelText>
                    <span class="checkboxes-wr__label-text">Мед. работник <sup class="credCalc__question" @click.prevent="toggleHint('med')">?</sup></span>
                </template>
            </cibInput>
        </div>
    </div>
</template>

<script>
import creditCalcMixin from '../../mixins/creditCalcMixin'
import { formatMoney } from '../../utils/common'
export default {
    name: 'autocredit',
    mixins: [creditCalcMixin],
    computed: {
        suitableProgramms () {
            const suitableProgramms = []
            this.programms.forEach(programm => {
                const { name, rates, url, description, med } = programm
                const ratesArr = []
                rates.forEach(rate => {
                    const { minPeriod, rateValue, minInstalment, maxInstalment } = rate
                    if (
                        (this.params.period >= minPeriod) &&
                        (minInstalment <= this.prepaymentPercentage && this.prepaymentPercentage <= maxInstalment)
                       ) {
                        ratesArr.push({
                            minPeriod,
                            rateValue
                        })
                    }
                })
                rates.forEach(rate => {
                    const { minPeriod, maxPeriod, minSum, maxSum, minCreditSum = 0, maxCreditSum = 2147483647, minInstalment, maxInstalment } = rate
                    if (
                        (minSum <= this.params.sum && this.params.sum <= maxSum) &&
                        (minCreditSum <= this.creditSum && this.creditSum <= maxCreditSum) &&
                        (minInstalment <= this.prepaymentPercentage && this.prepaymentPercentage <= maxInstalment) &&
                        (minPeriod <= this.params.period && this.params.period <= maxPeriod)
                        // (client === this.params.client || client === 'any')
                    ) {
                        suitableProgramms.push({ name, url, description, ratesArr, med })
                    }
                })
            })
            return suitableProgramms
        },
        finalProgramms () {
            const programmsArr = []
            this.suitableProgramms.forEach(programm => {
                const { name, url, description, med } = programm
                const paysArr = []
                programm.ratesArr.forEach(rate => {
                    let { rateValue, minPeriod } = rate
                    rateValue = (med && med === this.params.med) ? rateValue - 0.5 : rateValue
                    if (this.params.period >= minPeriod) {
                        const rateMon = rateValue / 100 / 12
                        const k = rateMon * Math.pow(1 + rateMon, this.num) / (Math.pow(1 + rateMon, this.num) - 1)
                        const pay = this.creditSum * k
                        paysArr.push({ pay: formatMoney(pay.toFixed(0).toString()), rateValue: rateValue.toFixed(2).toString().replace('.', ','), minPeriod })
                    }
                })
                programmsArr.push({ name, url, description, paysArr })
            })
            return programmsArr
        },
        errors () {
            const errors = [
                {
                    isError: this.params.prepay < this.prepayValueBoundary.min,
                    errorMessage: `Сумма первоначального взноса должна быть не менее ${formatMoney(this.prepayValueBoundary.min)} руб.`
                },
                {
                    isError: this.params.prepay > this.prepayValueBoundary.max,
                    errorMessage: `Сумма первоначального взноса не должна превышать ${formatMoney(this.prepayValueBoundary.max)} руб.`
                }
            ]
            const errorMessages = []
            errors.forEach(item => {
                if (item.isError) {
                    errorMessages.push(item.errorMessage)
                }
            })
            return {
                isError: errors.some(item => item.isError),
                errorMessages
            }
        }
    }
}
</script>

<style>

</style>
