<template>
    <div class="consumerComponent">
        <div class="credCalc__group credCalc__group_with-slider">
            <cibInput
                v-model="params.sum"
                fieldName="sum"
                labelText="Сумма (в рублях)"
                :required="false"
                :replaceCharactersRegExp="/[^0-9]/g"
                :sumFormatted="true"
            ></cibInput>
            <div class="element-wrapper-input">
                <vue-slider
                    @callback="sliderValueChanged('changeSumFromSlider')"
                    ref="sumSlider"
                    v-model="params.sumSliderValue"
                    :min="0"
                    :max="sumSliderMax"
                    :piecewise="false"
                    :piecewise-label="true"
                    :tooltip="false"
                    :real-time="false"
                    :stop-propagation="true"
                    :height='3'
                    :padding='0'
                    :dotSize='20'
                    :sliderStyle="{
                    'backgroundColor': '#50b848',
                    'boxShadow': 'none'
                }"
                    :processStyle="{
                    'backgroundColor': '#50b848'
                }">
                    <span
                        slot="label"
                        slot-scope="label"
                        class="vue-slider-piecewise-label">{{ sliderLabels[label.index] }}</span>
                </vue-slider>
            </div>
        </div>
        <div class="credCalc__group credCalc__group_with-slider">
            <cibInput
                v-model="params.period"
                fieldName="period"
                labelText="Срок кредитования (в годах)"
                :required="false"
                :replaceCharactersRegExp="/[^0-9]/g"
                :sumFormatted="true"
            ></cibInput>
            <div class="element-wrapper-input">
                <vue-slider
                    ref="periodSlider"
                    v-model="params.period"
                    :min="1"
                    :max="periodSliderMax"
                    :piecewise="false"
                    :piecewise-label="true"
                    :tooltip="false"
                    :moveLinkByIndex="true"
                    :height='3'
                    :padding='0'
                    :dotSize='20'
                    :sliderStyle="{
                    'backgroundColor': '#50b848',
                    'boxShadow': 'none'
                }"
                    :processStyle="{
                    'backgroundColor': '#50b848'
                }"></vue-slider>
            </div>
        </div>
        <div class="credCalc__checkboxes-wr checkboxes-wr">

<!--            <cibInput-->
<!--                v-model="params.client"-->
<!--                fieldName="client"-->
<!--                inputType="checkbox"-->
<!--                checkBoxType="toggle"-->
<!--            >-->
<!--                <template #labelText>Клиент «Центр-инвест»<sup class="credCalc__question" @click.prevent="toggleHint('client')">?</sup></template>-->
<!--            </cibInput>-->

<!--            <cibInput-->
<!--                v-model="params.ndfl2"-->
<!--                fieldName="income"-->
<!--                inputType="checkbox"-->
<!--                checkBoxType="toggle"-->
<!--            >-->
<!--                <template #labelText>-->
<!--                    <span class="checkboxes-wr__label-text">Официальное подтверждение дохода</span>-->
<!--                </template>-->
<!--            </cibInput>-->

            <cibInput
                v-model="params.med"
                fieldName="ruralAreas"
                inputType="checkbox"
                checkBoxType="toggle"
                v-if="params.showMedCheckbox"
            >
                <template #labelText>
                    <span class="checkboxes-wr__label-text">Мед. работник <sup class="credCalc__question" @click.prevent="toggleHint('med')">?</sup></span>
                </template>
            </cibInput>

            <cibInput
                v-model="params.accelerator"
                fieldName="ruralAreas"
                inputType="checkbox"
                checkBoxType="toggle"
                v-if="params.showAccCheckbox"
            >
                <template #labelText>
                    <span class="checkboxes-wr__label-text">самозанятый, окончивший курс Акселератор Банка <br>«Центр-инвест»</span>
                </template>
            </cibInput>
        </div>
    </div>
</template>

<script>
import creditCalcMixin from '../../mixins/creditCalcMixin'
import { formatMoney } from '../../utils/common'
export default {
    name: 'consumer',
    mixins: [creditCalcMixin],
    computed: {
        suitableProgramms () {
            const suitableProgramms = []
            const period = this.params.period * 12
            this.programms.forEach(programm => {
                const { name, ndfl2, rates, url, description, monthCalculusPeriod, med } = programm
                const ratesArr = []
                const isAcceleratorProg = programm.name === 'Потребительский кредит для ф.л. на НПД (самозанятые)' && this.params.accelerator
                const isProgrammInList = this.params.showProgrammsList.length ? this.params.showProgrammsList.includes(programm.name) : true
                rates.forEach(rate => {
                    let { minPeriod, minSum, maxSum, rateValue } = rate
                    minPeriod = monthCalculusPeriod ? minPeriod : minPeriod * 12
                    if (isAcceleratorProg) {
                        rateValue = rateValue - 0.25
                    }
                    if (period >= minPeriod && (minSum <= this.params.sum && this.params.sum <= maxSum)) {
                        ratesArr.push({
                            minPeriod,
                            rateValue
                        })
                    }
                })
                rates.forEach(rate => {
                    let { minPeriod, maxPeriod, minSum, maxSum } = rate
                    minPeriod = monthCalculusPeriod ? minPeriod : minPeriod * 12
                    maxPeriod = monthCalculusPeriod ? maxPeriod : maxPeriod * 12
                    if (
                        (minSum <= this.params.sum && this.params.sum <= maxSum) &&
                        (minPeriod <= period && period <= maxPeriod) &&
                        // (client === this.params.client || client === 'any') &&
                        (ndfl2 === this.params.ndfl2 || ndfl2 === 'any') &&
                        isProgrammInList
                        // (ruralAreas === this.params.ruralAreas)
                    ) {
                        suitableProgramms.push({ name, url, description, ratesArr, monthCalculusPeriod, med })
                    }
                })
            })
            return suitableProgramms
        },
        finalProgramms () {
            const programmsArr = []
            const period = this.params.period * 12
            this.suitableProgramms.forEach(programm => {
                const { name, url, description, monthCalculusPeriod, med } = programm
                const paysArr = []
                programm.ratesArr.forEach(rate => {
                    let { rateValue, minPeriod } = rate
                    rateValue = (med && med === this.params.med) ? rateValue - 0.5 : rateValue

                    if (period >= minPeriod) {
                        const rateMon = rateValue / 100 / 12
                        const k = rateMon * Math.pow(1 + rateMon, this.num) / (Math.pow(1 + rateMon, this.num) - 1)
                        const pay = this.creditSum * k
                        paysArr.push({ pay: formatMoney(pay.toFixed(0).toString()), rateValue: rateValue.toFixed(2).toString().replace('.', ','), minPeriod })
                    }
                })
                programmsArr.push({ name, url, description, paysArr, monthCalculusPeriod })
            })
            return programmsArr
        },
        errors () {
            const errorMessages = []
            const errors = [
                {
                    isError: this.params.sum > 250000 && this.params.ruralAreas,
                    errorMessage: `Сумма кредита должна быть не более ${formatMoney(250000)} руб.`
                }
            ]
            errors.forEach(item => {
                if (item.isError) {
                    errorMessages.push(item.errorMessage)
                }
            })
            return {
                isError: errors.some(item => item.isError),
                errorMessages
            }
        }
    },
    watch: {
        'params.ruralAreas' () {
            if (this.params.ruralAreas) {
                this.params.ndfl2 = false
                this.params.client = false
                this.params.sum = 250000
            }
        },
        'params.ndfl2' () {
            if (this.params.ndfl2) {
                this.params.ruralAreas = false
            }
        },
        'params.client' () {
            if (this.params.client) {
                this.params.ruralAreas = false
            }
        }
    }
}
</script>

<style lang="scss">

</style>
