<template>
    <div class="mortgageComponent">
        <div class="credCalc__group">
            <cibInput
                inputTag="select"
                labelText="Программа кредитования"
                fieldName="select"
                v-model="params.mortgageTypes.model"
                :required="false"
                key="paramsMortgageTypesModel"
            >
                <template #selectOptions>
                    <option v-for="(creditType) in mortgageTypes" :key="creditType.value" :value="creditType.value">{{ creditType.text }}</option>
                </template>
            </cibInput>
        </div>
        <div class="credCalc__checkboxes-wr checkboxes-wr" v-if="currentMortgageTypeObject.nestedParams">
            <cibLink v-show="currentMortgageTypeObject.nestedParams.type === 'checkbox'" :blank="true" :href="currentProgramm.programm.url">Подробнее о программе</cibLink>
            <cibInput
                v-show="currentMortgageTypeObject.nestedParams.type === 'checkbox'"
                v-model="currentMortgageTypeObject.nestedParams.model"
                fieldName="postpravMoscow"
                inputType="checkbox"
                checkBoxType="toggle"
                key="currentMortgageTypeObjectNestedParamsModel"
                v-if="params.mortgageTypes.model === 'postprav'"
            >
                <template #labelText>
                    Жилье в Москве / Московской обл. <sup class="credCalc__question" @click.prevent="toggleHint('mortgageMoscow')">?</sup>
                </template>
            </cibInput>
            <cibInput
                v-show="currentMortgageTypeObject.nestedParams.type === 'radio'"
                v-model="currentMortgageTypeObject.nestedParams.model"
                inputType="radio"
                fieldName="purchaseAndRefinancing"
                :itemsArr="currentMortgageTypeObject.nestedParams.params"
                key="currentMortgageTypeObjectNestedParamsModel2"
            ></cibInput>
        </div>
        <div class="credCalc__group credCalc__group_with-slider">
            <cibInput
                v-model="params.sum"
                fieldName="sum"
                labelText="Cтоимость недвижимости (в рублях)"
                :required="false"
                :replaceCharactersRegExp="/[^0-9]/g"
                :sumFormatted="true"
                key="paramsSum"
            ></cibInput>
            <div class="element-wrapper-input">
                <vue-slider
                    key="paramsSumSliderValue"
                    @callback="sliderValueChanged('changeSumFromSlider')"
                    ref="sumSlider"
                    v-model="params.sumSliderValue"
                    :min="0"
                    :max="sumSliderMax"
                    :piecewise="false"
                    :piecewise-label="true"
                    :tooltip="false"
                    :real-time="false"
                    :stop-propagation="true"
                    :height='3'
                    :padding='0'
                    :dotSize='20'
                    :sliderStyle="{
                    'backgroundColor': '#50b848',
                    'boxShadow': 'none'
                }"
                    :processStyle="{
                    'backgroundColor': '#50b848'
                }">
                    <span
                        slot="label"
                        slot-scope="label"
                        class="vue-slider-piecewise-label">{{ sliderLabels[label.index] }}</span>
                </vue-slider>
            </div>
        </div>
        <div class="credCalc__group credCalc__group_with-slider">
            <cibInput
                v-model="params.prepay"
                fieldName="prepay"
                labelText="Первоначальный взнос (в рублях)"
                :required="false"
                :replaceCharactersRegExp="/[^0-9]/g"
                :sumFormatted="true"
                key="paramsPrepay"
            ></cibInput>
            <div class="element-wrapper-input">
                <vue-slider
                    key="paramsPrepaySliderValue"
                    @callback="sliderValueChanged('changePrepayFromSlider')"
                    ref="sumSlider"
                    v-model="params.prepaySliderValue"
                    :min="0"
                    :max="prepaySliderMax"
                    :piecewise="false"
                    :piecewise-label="true"
                    :tooltip="false"
                    :real-time="false"
                    :stop-propagation="true"
                    :height='3'
                    :padding='0'
                    :dotSize='20'
                    :sliderStyle="{
                    'backgroundColor': '#50b848',
                    'boxShadow': 'none'
                }"
                    :processStyle="{
                    'backgroundColor': '#50b848'
                }">
                    <span
                        slot="label"
                        slot-scope="label"
                        class="vue-slider-piecewise-label">{{ prepaySliderLabels[label.index] }}</span>
                </vue-slider>
            </div>
        </div>
        <div class="credCalc__group credCalc__group_with-slider">
            <cibInput
                v-model="params.period"
                fieldName="period"
                labelText="Срок кредитования (в годах)"
                :required="false"
                :replaceCharactersRegExp="/[^0-9]/g"
                :sumFormatted="true"
                key="paramsPeriod"
            ></cibInput>
            <div class="element-wrapper-input">
                <vue-slider
                    key="paramsPeriod"
                    ref="periodSlider"
                    v-model="params.period"
                    :min="1"
                    :max="periodSliderMax"
                    :piecewise="false"
                    :piecewise-label="true"
                    :tooltip="false"
                    :moveLinkByIndex="true"
                    :height='3'
                    :padding='0'
                    :dotSize='20'
                    :sliderStyle="{
                    'backgroundColor': '#50b848',
                    'boxShadow': 'none'
                }"
                    :processStyle="{
                    'backgroundColor': '#50b848'
                }"></vue-slider>
            </div>
        </div>
        <div class="credCalc__checkboxes-wr checkboxes-wr" v-if="showMed">
            <cibInput
                v-model="params.med"
                fieldName="ruralAreas"
                inputType="checkbox"
                checkBoxType="toggle"
                key="paramsMed"
            >
                <template #labelText>
                    <span class="checkboxes-wr__label-text">Мед.работник <sup class="credCalc__question" @click.prevent="toggleHint('med')">?</sup></span>
                </template>
            </cibInput>
        </div>
    </div>
</template>

<script>
import creditCalcMixin from '../../mixins/creditCalcMixin'
import { formatMoney, createArraysForSlider } from '../../utils/common'
export default {
    name: 'mortgage',
    mixins: [creditCalcMixin],
    components: {
        cibLink: () => import(/* webpackChunkName: "cibLink" */'../link')
    },
    async created () {
        await this.init()
        this.createPrepaySliderValues(this.currentProgrammTypePrepayValueBoundary.min, this.currentProgrammTypePrepayValueBoundary.max)
        this.changePrepay(this.currentProgrammTypePrepayValueBoundary.min, this.currentProgrammTypePrepayValueBoundary.max)
    },
    computed: {
        showMed () {
            return this.params.mortgageTypes.model === 'purchaseAndRefinancing' || this.params.mortgageTypes.model === 'construct' || this.params.mortgageTypes.model === 'commerce'
        },
        currentMortgageTypeObject () {
            return this.params.mortgageTypes.types.find(type => {
                return type.value === this.params.mortgageTypes.model
            })
        },
        suitableProgramms () {
            const suitableProgramms = []
            this.programms.forEach(programm => {
                const { name, rates, url, description, mortgageType, region, ratesSplit = false, med } = programm
                const isDesiredRegion = this.isDesiredRegion(region)
                let ratesArr = []
                rates.forEach(rate => {
                    const { minPeriod, rateValue, minInstalment, maxInstalment } = rate
                    if (
                        (this.params.period >= minPeriod) &&
                        (minInstalment <= this.prepaymentPercentage && this.prepaymentPercentage < maxInstalment) &&
                        isDesiredRegion
                       ) {
                        if (ratesSplit) {
                            ratesArr.push({
                                minPeriod,
                                rateValue
                            })
                        } else {
                            ratesArr = [{
                                minPeriod,
                                rateValue
                            }]
                        }
                    }
                })
                rates.forEach(rate => {
                    let { minPeriod, maxPeriod, minSum, maxSum, minCreditSum = 0, maxCreditSum = 2147483647, minInstalment, maxInstalment } = rate
                    const isPurchaseAndRefinancingParams = this.currentMortgageTypeObject.hasOwnProperty('nestedParams') ? mortgageType === this.currentMortgageTypeObject.nestedParams.model : false
                    if (this.currentMortgageTypeObject.hasOwnProperty('nestedParams') && mortgageType === 'postprav') {
                        maxCreditSum = this.currentMortgageTypeObject.nestedParams.model ? 12000000 : maxCreditSum
                    }
                    // if (this.currentMortgageTypeObject.hasOwnProperty('nestedParams') && mortgageType === 'postprav65') {
                    //     maxCreditSum = this.currentMortgageTypeObject.nestedParams.model ? 12000000 : maxCreditSum
                    // }
                    if (
                        (minSum <= this.params.sum && this.params.sum <= maxSum) &&
                        (minCreditSum <= this.creditSum && this.creditSum <= maxCreditSum) &&
                        (minInstalment <= this.prepaymentPercentage && this.prepaymentPercentage < maxInstalment) &&
                        (minPeriod <= this.params.period && this.params.period <= maxPeriod) &&
                        (mortgageType === this.params.mortgageTypes.model || isPurchaseAndRefinancingParams) &&
                        isDesiredRegion
                    ) {
                        suitableProgramms.push({ name, url, description, minSum, maxSum, minCreditSum, maxCreditSum, ratesArr, mortgageType, med })
                    }
                })
            })
            return suitableProgramms
        },
        finalProgramms () {
            const programmsArr = []
            this.suitableProgramms.forEach(programm => {
                const { name, url, description, mortgageType, med } = programm
                const paysArr = []
                programm.ratesArr.forEach(rate => {
                    let { rateValue, minPeriod } = rate
                    rateValue = this.showMed && med === this.params.med ? rateValue - 0.5 : rateValue
                    if (this.params.period >= minPeriod) {
                        const rateMon = rateValue / 100 / 12
                        let k = rateMon * Math.pow(1 + rateMon, this.num - 1) / (Math.pow(1 + rateMon, this.num - 1) - 1)
                        if (mortgageType === 'postprav' || mortgageType === 'postprav65' || mortgageType === 'village') {
                            k = rateMon * Math.pow(1 + rateMon, this.num) / (Math.pow(1 + rateMon, this.num) - 1)
                        }

                        const pay = this.creditSum * k
                        paysArr.push({ pay: formatMoney(pay.toFixed(0).toString()), rateValue: rateValue.toFixed(2).toString().replace('.', ','), minPeriod })
                    }
                })
                programmsArr.push({ name, url, description, paysArr })
            })
            return programmsArr
        },
        currentProgramm () {
            const currentProgramm = this.programms.find(programm => {
                return this.params.mortgageTypes.model === programm.mortgageType
            }) || this.programms.find(programm => {
                return this.currentMortgageTypeObject.nestedParams.model === programm.mortgageType
            })

            const typePrepaymentPercentage = currentProgramm.rates.reduce((minInstalment, currentInstalment) => {
                return Math.min(minInstalment, currentInstalment.minInstalment)
            }, 100) / 100
            let maxCreditSum = currentProgramm.rates[0].maxCreditSum ? currentProgramm.rates[0].maxCreditSum : currentProgramm.rates[0].maxSum
            const maxPeriod = currentProgramm.rates.reduce((maxPeriod, currentPeriod) => {
                return Math.max(maxPeriod, currentPeriod.maxPeriod)
            }, 0)
            if (this.currentMortgageTypeObject.hasOwnProperty('nestedParams') && currentProgramm.mortgageType === 'postprav') {
                maxCreditSum = this.currentMortgageTypeObject.nestedParams.model ? 12000000 : maxCreditSum
            }
            if (this.currentMortgageTypeObject.hasOwnProperty('nestedParams') && currentProgramm.mortgageType === 'postprav65') {
                maxCreditSum = this.currentMortgageTypeObject.nestedParams.model ? 12000000 : maxCreditSum
            }
            const programm = {
                minSum: currentProgramm.rates[0].minSum,
                minCreditSum: currentProgramm.rates[0].minCreditSum ? currentProgramm.rates[0].minCreditSum : 0,
                maxCreditSum: maxCreditSum,
                maxPeriod,
                url: currentProgramm.url
            }
            return {
                typePrepaymentPercentage,
                programm
            }
        },
        currentProgrammTypePrepayValueBoundary () {
            let max, min

            min = Math.round(this.params.sum * this.currentProgramm.typePrepaymentPercentage)
            max = Math.round((min >= this.params.sum * 0.95) && this.sliderData.intervals ? this.params.sum - createArraysForSlider(this.sliderData.intervals).intervalVal : this.params.sum * 0.95)
            if (
                (this.currentMortgageTypeObject.value === 'village' ||
                    this.currentMortgageTypeObject.value === 'postprav' ||
                    this.currentMortgageTypeObject.value === 'postprav65' ||
                    this.currentMortgageTypeObject.value === 'parkingSpaces') &&
                (this.params.sum - min) > this.currentProgramm.programm.maxCreditSum) {
                min = this.params.sum - this.currentProgramm.programm.maxCreditSum
            }
            return { max, min }
        },
        errors () {
            const errorMessages = []
            const errors = [
                {
                    isError: this.params.prepay < this.currentProgrammTypePrepayValueBoundary.min,
                    errorMessage: `Сумма первоначального взноса должна быть не менее ${formatMoney(this.currentProgrammTypePrepayValueBoundary.min)} руб.`
                },
                {
                    isError: this.params.prepay > this.currentProgrammTypePrepayValueBoundary.max,
                    errorMessage: `Сумма первоначального взноса не должна превышать ${formatMoney(this.currentProgrammTypePrepayValueBoundary.max)} руб.`
                },
                {
                    isError: this.params.sum < this.currentProgramm.programm.minSum,
                    errorMessage: `Стоимость недвижимости должна быть не менее <br/> ${formatMoney(this.currentProgramm.programm.minSum)} руб.`
                },
                {
                    isError: this.creditSum < this.currentProgramm.programm.minCreditSum && this.creditSum > 0,
                    errorMessage: `Сумма кредита должна быть не менее <br/> ${formatMoney(this.currentProgramm.programm.minCreditSum)} руб.`
                },
                {
                    isError: this.creditSum > this.currentProgramm.programm.maxCreditSum,
                    errorMessage: `Сумма кредита не должна превышать <br/> ${formatMoney(this.currentProgramm.programm.maxCreditSum)} руб.`
                },
                {
                    isError: this.params.period > this.currentProgramm.programm.maxPeriod,
                    errorMessage: `Срок кредитования не должен превышать <br/> ${this.currentProgramm.programm.maxPeriod} лет`
                }
            ]
            errors.forEach(item => {
                if (item.isError) {
                    errorMessages.push(item.errorMessage)
                }
            })
            return {
                isError: errors.some(item => item.isError),
                errorMessages
            }
        },
        mortgageTypes () {
            return this.params.mortgageTypes.types.filter(type => {
                return this.isDesiredRegion(type.region)
            })
        }
    },
    watch: {
        'params.mortgageTypes.model' () {
            this.createPrepaySliderValues(this.currentProgrammTypePrepayValueBoundary.min, this.currentProgrammTypePrepayValueBoundary.max)
            this.changePrepay(this.currentProgrammTypePrepayValueBoundary.min, this.currentProgrammTypePrepayValueBoundary.max)
        },
        'params.sum' () {
            this.createPrepaySliderValues(this.currentProgrammTypePrepayValueBoundary.min, this.currentProgrammTypePrepayValueBoundary.max)
            this.changePrepay(this.currentProgrammTypePrepayValueBoundary.min, this.currentProgrammTypePrepayValueBoundary.max)
        },
        finalProgramms: {
            handler () {
                this.$emit('calculationsCompleted', {
                    finalProgramms: this.finalProgramms,
                    paramsFromComponent: {
                        initPrepaymentPercentage: this.currentProgramm.typePrepaymentPercentage * 100,
                        currentMortgageTypeObject: this.currentMortgageTypeObject
                    }
                })
            },
            deep: true
        }
    }
}
</script>

<style>

</style>
