<template>
    <div class="bankomansAndTerminalsForm">
        <ATMSAndTerminalsField :$v="$v"></ATMSAndTerminalsField>
        <div class="feedBackPageForm__row feedBackPageForm__row_link">
            <a href="/ru/branches/" class="feedBackPageForm__target-link"><img class="feedBackPageForm__target" src="../../../../assets/img/target.svg" alt=""></a>
            <cibLink customClass="feedBackPageForm__link" href="/ru/branches/" :blank="true">Найти банкомат/терминал на карте</cibLink>
        </div>
        <fioField :$v="$v"></fioField>
        <emailField :$v="$v"></emailField>
        <phoneField :$v="$v"></phoneField>
    </div>
</template>

<script>
import fieldGroupMixin from '../../../../mixins/feedBackPage/fieldGroupMixin'
import { mapActions } from 'vuex'
export default {
    name: 'bankomansAndTerminalsForm',
    mixins: [fieldGroupMixin],
    components: {
        fioField: () => import(/* webpackChunkName: "fioField" */'../fields/fioField'),
        ATMSAndTerminalsField: () => import(/* webpackChunkName: "ATMSAndTerminalsField" */'../fields/ATMSAndTerminalsField'),
        emailField: () => import(/* webpackChunkName: "emailField" */'../fields/emailField'),
        phoneField: () => import(/* webpackChunkName: "phoneField" */'../fields/phoneField'),
    },
    async created () {
        await this.getATMSAndTerminalsList()
    },
    methods: {
        ...mapActions([
            'getATMSAndTerminalsList'
        ])
    }
}
</script>
