<template>
    <div class="bankAppForm">
        <serviceField :$v="$v"></serviceField>
        <fioField :$v="$v"></fioField>
        <transition-group name="slide-fade" mode="out-in">
            <div class="bankAppForm__group" v-if="isMobileApp" key="isMobileApp">
                <phoneModel :$v="$v"></phoneModel>
                <phoneOS :$v="$v"></phoneOS>
                <appVersion :$v="$v"></appVersion>
            </div>
            <div class="bankAppForm__group" v-if="isFullApp" key="isFullApp">
                <PCOSField :$v="$v"></PCOSField>
                <browserNameField :$v="$v"></browserNameField>
            </div>
        </transition-group>
        <emailField :$v="$v"></emailField>
        <phoneField :$v="$v"></phoneField>
    </div>
</template>

<script>
import fieldGroupMixin from '../../../../mixins/feedBackPage/fieldGroupMixin'
import { mapGetters } from 'vuex'
export default {
    name: 'bankAppForm',
    mixins: [fieldGroupMixin],
    components: {
        fioField: () => import(/* webpackChunkName: "fioField" */'../fields/fioField'),
        phoneModel: () => import(/* webpackChunkName: "phoneModelField" */'../fields/phoneModelField'),
        phoneOS: () => import(/* webpackChunkName: "phoneOSField" */'../fields/phoneOSField'),
        appVersion: () => import(/* webpackChunkName: "appVersionField" */'../fields/appVersionField'),
        emailField: () => import(/* webpackChunkName: "emailField" */'../fields/emailField'),
        phoneField: () => import(/* webpackChunkName: "phoneField" */'../fields/phoneField'),
        serviceField: () => import(/* webpackChunkName: "serviceField" */'../fields/serviceField'),
        PCOSField: () => import(/* webpackChunkName: "PCOSField" */'../fields/PCOSField'),
        browserNameField: () => import(/* webpackChunkName: "browserNameField" */'../fields/browserNameField'),
    },
    computed: {
        ...mapGetters([
            'isMobileApp',
            'isFullApp'
        ])
    }
}
</script>
