<template>
    <div class="creditHolidaysFizForm">
        <officeField :$v="$v"></officeField>
        <div class="feedBackPageForm__row feedBackPageForm__row_link">
            <a href="/ru/branches/" class="feedBackPageForm__target-link"><img class="feedBackPageForm__target" src="../../../../assets/img/target.svg" alt=""></a>
            <cibLink customClass="feedBackPageForm__link" href="/ru/branches/" :blank="true">Найти офис на карте</cibLink>
        </div>
        <loanNumberField :$v="$v"></loanNumberField>
        <passportDataField :$v="$v"></passportDataField>
        <holidaysDateField :$v="$v"></holidaysDateField>
        <vacationPeriodField :$v="$v"></vacationPeriodField>
        <fioField :$v="$v"></fioField>
        <emailField :$v="$v"></emailField>
        <phoneField :$v="$v"></phoneField>
    </div>
</template>

<script>
import fieldGroupMixin from '../../../../mixins/feedBackPage/fieldGroupMixin'
export default {
    name: 'creditHolidaysFizForm',
    mixins: [fieldGroupMixin],
    components: {
        fioField: () => import(/* webpackChunkName: "fioField" */'../fields/fioField'),
        loanNumberField: () => import(/* webpackChunkName: "loanNumberField" */'../fields/loanNumberField'),
        passportDataField: () => import(/* webpackChunkName: "passportDataField" */'../fields/passportDataField'),
        holidaysDateField: () => import(/* webpackChunkName: "holidaysDateField" */'../fields/holidaysDateField'),
        vacationPeriodField: () => import(/* webpackChunkName: "vacationPeriodField" */'../fields/vacationPeriodField'),
        officeField: () => import(/* webpackChunkName: "officeField" */'../fields/officeField'),
        emailField: () => import(/* webpackChunkName: "emailField" */'../fields/emailField'),
        phoneField: () => import(/* webpackChunkName: "phoneField" */'../fields/phoneField'),
    }
}
</script>
