<template>
    <div class="noClientFiz">
        <fioField :$v="$v"></fioField>
        <emailField :$v="$v"></emailField>
        <phoneField :$v="$v"></phoneField>
    </div>
</template>

<script>
import fieldGroupMixin from '../../../../mixins/feedBackPage/fieldGroupMixin'
export default {
    name: 'noClientFiz',
    mixins: [fieldGroupMixin],
    components: {
        fioField: () => import(/* webpackChunkName: "fioField" */'../fields/fioField'),
        emailField: () => import(/* webpackChunkName: "emailField" */'../fields/emailField'),
        phoneField: () => import(/* webpackChunkName: "phoneField" */'../fields/phoneField'),
    }
}
</script>
