<template>
    <div class="noClientBiz">
        <organizationField :$v="$v"></organizationField>
        <emailField :$v="$v"></emailField>
        <phoneField :$v="$v"></phoneField>
    </div>
</template>

<script>
import fieldGroupMixin from '../../../../mixins/feedBackPage/fieldGroupMixin'
export default {
    name: 'noClientBiz',
    mixins: [fieldGroupMixin],
    components: {
        organizationField: () => import(/* webpackChunkName: "organizationField" */'../fields/organizationField'),
        emailField: () => import(/* webpackChunkName: "emailField" */'../fields/emailField'),
        phoneField: () => import(/* webpackChunkName: "phoneField" */'../fields/phoneField'),
    }
}
</script>
