<template>
    <div class="scammersForm">
        <cibModal v-model="showModal">
            <template #content>
                <h1 class="cibModal__h1">Как распознать мошенника</h1>
                <div class="cibModal__text-block">
                    <div class="cibModal__text cibModal__text_strong">Уважаемые Клиенты!</div>
                    <div class="cibModal__text">Банк «Центр-инвест» на постоянной основе совершенствует сервисы дистанционного банковского обслуживания, а также уделяет особое внимание обеспечению информационной безопасности и сохранности персональных данных своих Клиентов.
                        Однако, мы рекомендуем  ознакомиться с мерами безопасности и защиты от мошенничества, с целью предотвращения подобных ситуаций.</div>
                </div>
                <div class="cibModal__text-block">
                    <h2 class="cibModal__h2">Как распознать мошенника:</h2>
                    <ol class="cibModal__list cibModal__list_decimal">
                        <li class="cibModal__list-item">Мошенники выходят на связь самостоятельно, совершая телефонный звонок, направляя SMS-сообщение, электронное письмо или ссылку в мессенджерах.</li>
                        <li class="cibModal__list-item">Используют психологическое давление, говоря о возможной потере денег или сверхприбыли.</li>
                        <li class="cibModal__list-item">Мошенники запрашивают персональные данные, просят сообщить код из направленного SMS.</li>
                        <li class="cibModal__list-item">Мошенники манипулируют эмоциями, стремясь вызвать у Вас сильные эмоции - напугать или наоборот, обрадовать новостью.</li>
                        <li class="cibModal__list-item">Заставляют оперативно принимать меры. Зачастую мошенники требуют немедленных действий, поэтому, если Вас торопят с решением, прекратите общение.</li>
                        <li class="cibModal__list-item">Мошенники могут запрашивать дистанционную оплату «комиссии», за осуществление «банковских» и прочих услуг.</li>
                    </ol>
                    <div class="cibModal__text">
                        При наличии подобных признаков рекомендуем прекратить общение и прозвонить по официальному номеру технической поддержки банка
                        <a href="tel:88002009109" class="cibModal__link">8 800 200 91 09</a>.
                    </div>
                </div>
                <div class="cibModal__text-block">
                    <h2 class="cibModal__h2">Меры безопасности:</h2>
                    <ul class="cibModal__list cibModal__list_decimal">
                        <li class="cibModal__list-item">Храните Вашу банковскую карту в недоступном для окружающих месте.</li>
                        <li class="cibModal__list-item">Не передавайте Вашу банковскую карту третьим лицам.</li>
                        <li class="cibModal__list-item">Исключите возможность неправомерного получения персональной информации пользователей Интернет банка/Мобильного банка.</li>
                        <li class="cibModal__list-item">Не сообщайте Ваш личный пин-код карты третьим лицам. При оплате товаров или услуг в сети интернет пин-код не требуется.</li>
                        <li class="cibModal__list-item">По возможности подключите услугу SMS-оповещения о проведенных операциях по карте.</li>
                        <li class="cibModal__list-item">При утрате банковской карты срочно свяжитесь с банком.</li>
                    </ul>
                    <div class="cibModal__text">
                        Оперативный звонок в банк поможет избежать негативных последствий.
                    </div>
                </div>
            </template>
        </cibModal>
        <div class="feedBackPageForm__row feedBackPageForm__row_link">
            <cibLink customClass="feedBackPageForm__link" @click.prevent="showModal = true">Как распознать мошенника</cibLink>
        </div>
        <contactMethodField :$v="$v"></contactMethodField>
        <transition-group name="slide-fade">
            <div class="scammersForm__group" v-if="isCallBackContactMethod" key="isCallBackContactMethod">
                <callBackPhoneField :$v="$v"></callBackPhoneField>
                <dateAndTimeField :$v="$v"></dateAndTimeField>
            </div>
            <div class="scammersForm__group" v-if="isSiteContactMethod" key="isSiteContactMethod">
                <fakeSiteAddressField :$v="$v"></fakeSiteAddressField>
            </div>
            <div class="scammersForm__group" v-if="isSmsContactMethod" key="isSmsContactMethod">
                <callBackPhoneField :$v="$v" :attrs="{
                    labelText: 'Укажите номер телефона, с которого поступило SMS'
                }"></callBackPhoneField>
                <dateAndTimeField :$v="$v" :attrs="{
                    labelText: 'Дата и время SMS'
                }"></dateAndTimeField>
            </div>
            <div class="scammersForm__group" v-if="isEmailContactMethod" key="isEmailContactMethod">
                <dateAndTimeField :$v="$v" :attrs="{
                    labelText: 'Дата и время поступившего письма'
                }"></dateAndTimeField>
                <fakeEmailField :$v="$v"></fakeEmailField>
            </div>
            <div class="scammersForm__group" v-if="isSocialContactMethod" key="isSocialContactMethod">
                <dateAndTimeField :$v="$v" :attrs="{
                    labelText: 'Дата и время поступившего сообщения'
                }"></dateAndTimeField>
                <socialNetworkOrMessengerField :$v="$v"></socialNetworkOrMessengerField>
                <profileLinkOrPhoneField :$v="$v"></profileLinkOrPhoneField>
            </div>
        </transition-group>

        <fioField :$v="$v"></fioField>
        <phoneField :$v="$v"></phoneField>
        <transition name="slide-fade">
            <emailField :$v="$v" v-if="isEmailContactMethod"></emailField>
        </transition>
    </div>
</template>

<script>
import fieldGroupMixin from '../../../../mixins/feedBackPage/fieldGroupMixin'
import { mapGetters } from 'vuex'
export default {
    name: 'scammersForm',
    mixins: [fieldGroupMixin],
    data: () => ({
        showModal: false
    }),
    components: {
        contactMethodField: () => import(/* webpackChunkName: "contactMethodField" */'../fields/contactMethodField'),
        callBackPhoneField: () => import(/* webpackChunkName: "callBackPhoneField" */'../fields/callBackPhoneField'),
        socialNetworkOrMessengerField: () => import(/* webpackChunkName: "socialNetworkOrMessengerField" */'../fields/socialNetworkOrMessengerField'),
        profileLinkOrPhoneField: () => import(/* webpackChunkName: "profileLinkOrPhoneField" */'../fields/profileLinkOrPhoneField'),
        fakeEmailField: () => import(/* webpackChunkName: "fakeEmailField" */'../fields/fakeEmailField'),
        dateAndTimeField: () => import(/* webpackChunkName: "dateAndTimeField" */'../fields/dateAndTimeField'),
        fakeSiteAddressField: () => import(/* webpackChunkName: "fakeSiteAddressField" */'../fields/fakeSiteAddressField'),
        fioField: () => import(/* webpackChunkName: "fioField" */'../fields/fioField'),
        phoneField: () => import(/* webpackChunkName: "phoneField" */'../fields/phoneField'),
        emailField: () => import(/* webpackChunkName: "emailField" */'../fields/emailField'),
        cibModal: () => import(/* webpackChunkName: "cibModal" */'../../cibModal'),
    },
    computed: {
        ...mapGetters([
            'isCallBackContactMethod',
            'isSiteContactMethod',
            'isSmsContactMethod',
            'isEmailContactMethod',
            'isSocialContactMethod',
        ])
    }
}
</script>
