<template>
    <div class="standartBizForm">
        <officeField :$v="$v"></officeField>
        <div class="feedBackPageForm__row feedBackPageForm__row_link">
            <a href="/ru/branches/" class="feedBackPageForm__target-link"><img class="feedBackPageForm__target" src="../../../../assets/img/target.svg" alt=""></a>
            <cibLink customClass="feedBackPageForm__link" href="/ru/branches/" :blank="true">Найти офис на карте</cibLink>
        </div>
        <organizationFields :$v="$v"></organizationFields>
        <accountField :$v="$v"></accountField>
        <fioField :$v="$v"></fioField>
        <emailField :$v="$v"></emailField>
        <phoneField :$v="$v"></phoneField>
    </div>
</template>

<script>
import fieldGroupMixin from '../../../../mixins/feedBackPage/fieldGroupMixin'
export default {
    name: 'standartBizForm',
    mixins: [fieldGroupMixin],
    components: {
        organizationFields: () => import(/* webpackChunkName: "organizationFields" */'../fields/organizationFields'),
        fioField: () => import(/* webpackChunkName: "fioField" */'../fields/fioField'),
        accountField: () => import(/* webpackChunkName: "accountField" */'../fields/accountField'),
        officeField: () => import(/* webpackChunkName: "officeField" */'../fields/officeField'),
        emailField: () => import(/* webpackChunkName: "emailField" */'../fields/emailField'),
        phoneField: () => import(/* webpackChunkName: "phoneField" */'../fields/phoneField'),
    }
}
</script>
