<template>
    <section class="maternalCapitalRequest-step">
        <div class="maternalCapitalRequest-step__group" v-if="isResidentialBuildingType">
            <h3 class="maternalCapitalRequest__h3">Информация о земельном участке</h3>
            <div class="maternalCapitalRequest__row">
                <cibInput
                    v-model="model.annexData.steadCadastralNumber"
                    :validator="$v.annexData.steadCadastralNumber"
                    fieldName="modelAnnexDataSteadCadastralNumber"
                    labelText="Кадастровый (условный) номер"
                    key="modelAnnexDataSteadCadastralNumber"
                    :errorMessage="{
                    required: 'Укажите кадастровый (условный) номер'
                }"
                ></cibInput>
            </div>
            <div class="maternalCapitalRequest__row">
                <cibInput
                    v-model="model.annexData.steadLandCategory"
                    :validator="$v.annexData.steadLandCategory"
                    fieldName="modelAnnexDataSteadLandCategory"
                    labelText="Категория земель"
                    key="modelAnnexDataSteadLandCategory"
                    :errorMessage="{
                        required: 'Укажите категорию земель'
                    }"
                ></cibInput>
            </div>
            <div class="maternalCapitalRequest__row">
                <cibInput
                    v-model.number="model.annexData.steadArea"
                    :validator="$v.annexData.steadArea"
                    fieldName="modelAnnexDataSteadArea"
                    labelText="Площадь, кв.м"
                    key="modelAnnexDataSteadArea"
                    :errorMessage="{
                        required: 'Укажите площадь'
                    }"
                ></cibInput>
            </div>
        </div>
        <div class="maternalCapitalRequest__group" v-if="isResidentialBuildingType">
            <h3 class="maternalCapitalRequest__h3">Адрес земельного участка</h3>
            <adressBlock
                v-model="model.annexData.steadAddress"
                :$v="$v.annexData.steadAddress"
            ></adressBlock>
        </div>
        <div class="maternalCapitalRequest__row">
            <cibInput
                v-model="model.annexData.spouseFullName"
                :validator="$v.annexData.spouseFullName"
                fieldName="annexDataSpouseFullName"
                labelText="Фамилия, имя, отчество (при наличии) супруга(и) владельца сертификата"
                input-hint="Заполняется, если договор заключён не владельцем сертификата"
                :errorMessage="{
                    required: 'Укажите Фамилию Имя Отчество',
                    ruDashSpace: 'Только русские буквы, дефис и пробел',
                    maxLength: 'Превышен допустимый лимит {max} символов'
                }"
                key="annexDataSpouseFullName"
            />
        </div>
    </section>
</template>

<script>
import maternalCapitalRequestMixin from '../../mixins/maternalCapitalRequestMixin'
import { mapGetters } from 'vuex'

export default {
    mixins: [maternalCapitalRequestMixin],
    components: {
        adressBlock: () => import(/* webpackChunkName: "adressBlock" */'../components/maternalCapitalRequest/adressBlock')
    },
    computed: {
        ...mapGetters([
            'isResidentialBuildingType'
        ])
    }
}
</script>
