<template>
    <section class="maternalCapitalRequest-step">
        <h3 class="maternalCapitalRequest__h3">Направление средств (часть средств) мат.капитала на улучшение жилищных условий на:</h3>
        <div class="maternalCapitalRequest__row">
            <cibInput
                v-model="model.typeOfExpenses"
                :validator="$v.typeOfExpenses"
                inputTag="select"
                fieldName="typeOfExpenses"
                labelText="Вид расходов"
                :errorMessage="{
                        required: 'Необходимо указать вид расходов'
                    }"
                :vCurrencyOptions="{
                        locale: undefined
                    }"
                key="modelTypeOfExpenses"
            >
                <template #selectOptions>
                    <option value="" disabled selected>...</option>
                    <option v-for="(type, key) in typesOfExpenses" :value="key" :key="key">{{ type }}</option>
                </template>
            </cibInput>
        </div>
        <div class="maternalCapitalRequest__row">
            <cibInput
                v-model="model.capitalAmount"
                :validator="$v.capitalAmount"
                fieldName="capitalAmount"
                labelText="Размер мат.капитала"
                :errorMessage="{
                        required: 'Укажите сумму'
                    }"
                :vCurrencyOptions="{
                        precision: 2,
                        'value-as-integer': true,
                        'auto-decimal-mode': true
                    }"
                key="modelCapitalAmount"
            />
        </div>
        <h3 class="maternalCapitalRequest__h3">Способы информирования о ходе и результатах данного заявления</h3>
        <div class="maternalCapitalRequest__row">
            <cibInput
                v-model="model.notificationType"
                :validator="$v.notificationType"
                inputType="radio"
                fieldName="notificationType"
                :itemsArr="notificationTypes"
                labelForGroup="Способы информирования"
                :errorMessage="{
                        required: 'Укажите способ информирования'
                    }"
                key="modelNotificationType"
            ></cibInput>
        </div>
        <div class="maternalCapitalRequest__row" v-if="isEmailNotification">
            <cibInput
                v-model="model.email"
                :validator="$v.email"
                fieldName="email"
                labelText="E-mail"
                suggestionsApiMethod="emailSuggestions"
                :errorMessage="{
                        required: 'Укажите email',
                        emailFullCheck: 'Некорректный Email. Пример: pochta@domain.ru'
                    }"
                key="modelEmail"
            ></cibInput>
        </div>
        <div class="maternalCapitalRequest__row" v-if="isPhoneNotification">
            <cibInput
                v-model="model.codeWord"
                :validator="$v.codeWord"
                fieldName="codeWord"
                labelText="Кодовое слово"
                :errorMessage="{
                        required: 'Укажите кодовое слово'
                    }"
                key="modelCodeWord"
            ></cibInput>
        </div>
    </section>
</template>

<script>
import maternalCapitalRequestMixin from '../../mixins/maternalCapitalRequestMixin'
import { mapGetters } from 'vuex'
import { notificationTypes, typesOfExpenses } from '../../config/maternalData'

export default {
    mixins: [maternalCapitalRequestMixin],
    props: {
        $v: {
            type: Object,
            default: () => ({})
        }
    },
    data: () => ({
        typesOfExpenses: typesOfExpenses,
        notificationTypes: notificationTypes,
    }),
    computed: {
        ...mapGetters([
            'isEmailNotification',
            'isPhoneNotification'
        ]),
    }
}
</script>
