<template>
    <section class="maternalCapitalRequest-step">
        <message ref="message"></message>
        <div class="maternalCapitalRequest__row">
            <cibInput
                v-model="model.loanContractNumber"
                :validator="$v.loanContractNumber"
                fieldName="loanContractNumber"
                labelText="Номер кредитного договора"
                mask="99999999"
                :errorMessage="{
                    required: `Укажите номер кредитного договора`,
                    contractNumber: 'Номер кредитного договора должен состоять из 8 цифр'
                }"
                key="modelLoanContractNumber"
            >
            </cibInput>
        </div>
        <div class="maternalCapitalRequest__row">
            <cibInput
                v-model="model.loanContractDate"
                :validator="$v.loanContractDate"
                fieldName="loanContractDate"
                labelText="Дата заключения кредитного договора"
                mask="99.99.9999"
                :v-date-picker-support="true"
                :v-max-date="disabledDates.issuedDate.from"
                :errorMessage="{
                    required: 'Укажите дату выдачи договора',
                    dateFormat: 'Введите корректную дату в формате \'xx.xx.xxxx\'',
                    maxPreviousDay : 'Нельзя указывать дату в будущем'
                }"
                key="modelLoanContractDate"
            />
        </div>
        <div class="maternalCapitalRequest__row">
            <label class="input-component__single-label input-component__single-label_required">Подразделение банка, где вы получали кредит</label>
            <v-select :options="officesList" :reduce="value => value.id" label="value" v-model="model.officeId" key="modelOfficeId">
                <template #open-indicator>
                    <img src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iOSIgdmlld0JveD0iMCAwIDE4IDkiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+DQo8cGF0aCBkPSJNMSAxTDkgOEwxNyAxIiBzdHJva2U9IiM4RDhEOEQiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+DQo8L3N2Zz4NCg==" alt="">
                </template>
                <template #no-options>
                    Подразделений не найдено
                </template>
            </v-select>
            <div class="input-component__inputHint input-component__inputHint_hint" :class="{ 'input-component__inputHint_error': $v.officeId.$anyDirty && !$v.officeId.required }">
                <span v-show="!($v.officeId.$anyDirty && !$v.officeId.required)">Услуга доступна для заемщиков, оформивших ипотечный кредит в отделениях банка Ростовской области</span>
                <span v-show="$v.officeId.$anyDirty && !$v.officeId.required">Выберите подразделение</span>
            </div>
        </div>

        <div class="maternalCapitalRequest__row">
            <cibInput
                v-model.trim="model.personName.surname"
                :validator="$v.personName.surname"
                fieldName="personNameSurname"
                labelText="Фамилия"
                :errorMessage="{
                    required: 'Укажите Фамилию',
                    rusInput: errorMessages.rusInput,
                    maxLength: 'Превышен допустимый лимит {max} символов'
                }"
                key="personNameSurname"
            />
        </div>
        <div class="maternalCapitalRequest__row">
            <cibInput
                v-model.trim="model.personName.bornSurname"
                :validator="$v.personName.bornSurname"
                fieldName="personNameBornSurname"
                labelText="Фамилия, которая была при рождении"
                :errorMessage="{
                    required: 'Укажите Фамилию, которая была при рождении',
                    rusInput: errorMessages.rusInput,
                    maxLength: 'Превышен допустимый лимит {max} символов'
                }"
                key="personNameBornSurname"
            />
        </div>
        <div class="maternalCapitalRequest__row">
            <cibInput
                v-model.trim="model.personName.name"
                :validator="$v.personName.name"
                fieldName="personNameName"
                labelText="Имя"
                :errorMessage="{
                    required: 'Укажите Имя',
                    rusInput: errorMessages.rusInput,
                    maxLength: 'Превышен допустимый лимит {max} символов'
                }"
                key="personNameName"
            />
        </div>
        <div class="maternalCapitalRequest__row">
            <cibInput
                v-model.trim="model.personName.patronymic"
                :validator="$v.personName.patronymic"
                fieldName="personNamePatronymic"
                labelText="Отчество"
                :errorMessage="{
                    required: 'Укажите Отчество',
                    rusInput: errorMessages.rusInput,
                    maxLength: 'Превышен допустимый лимит {max} символов'
                }"
                key="personNamePatronymic"
            />
        </div>
<!--        <div class="maternalCapitalRequest__row">-->
<!--            <cibInput-->
<!--                v-model="model.fullName"-->
<!--                :validator="$v.fullName"-->
<!--                fieldName="modelFullName"-->
<!--                labelText="Фамилия (в скобках фамилия, которая была при рождении) Имя Отчество"-->
<!--                :errorMessage="{-->
<!--                    required: 'Укажите Фамилию Имя Отчество',-->
<!--                    rusInput: errorMessages.rusInput,-->
<!--                    maxLength: 'Превышен допустимый лимит {max} символов'-->
<!--                }"-->
<!--                key="modelFullName"-->
<!--            />-->
<!--        </div>-->
<!--        <div class="maternalCapitalRequest__row">-->
<!--            <cibInput-->
<!--                v-model="model.applicantStatus"-->
<!--                :validator="$v.applicantStatus"-->
<!--                inputTag="select"-->
<!--                fieldName="applicantStatus"-->
<!--                labelText="Статус владельца сертификата"-->
<!--                :errorMessage="{-->
<!--                    required: 'Необходимо выбрать статус владельца сертификата'-->
<!--                }"-->
<!--                key="modelApplicantStatus"-->
<!--            >-->
<!--                <template #selectOptions>-->
<!--                    <option value="" disabled selected>...</option>-->
<!--                    <option v-for="(status, key) in applicantStatuses" :value="key" :key="key">{{ status }}</option>-->
<!--                </template>-->
<!--            </cibInput>-->
<!--        </div>-->
        <div class="maternalCapitalRequest__row">
            <cibInput
                v-model="model.snils"
                :validator="$v.snils"
                fieldName="snils"
                labelText="СНИЛС"
                mask="999-999-999-99"
                :errorMessage="{
                    required: 'Укажите снилс',
                    snils: 'СНИЛС должен состоять из 11 цифр'
                }"
                key="modelSnils"
            ></cibInput>
        </div>
        <div class="maternalCapitalRequest__row">
            <cibInput
                v-model="model.certSeriesAndNumber"
                :validator="$v.certSeriesAndNumber"
                fieldName="certSeriesAndNumber"
                labelText="Серия и номер сертификата"
                :errorMessage="{
                    required: 'Укажите серию и номер сертификата'
                }"
                inputHint="МК-Э-071-2020 №1123545"
                key="modelCertSeriesAndNumber"
            ></cibInput>
        </div>
        <div class="maternalCapitalRequest__row">
            <cibInput
                v-model="model.certIssuedByAndDate"
                :validator="$v.certIssuedByAndDate"
                fieldName="certIssuedByAndDate"
                labelText="Сертификат выдан (кем и когда)"
                :errorMessage="{
                    required: 'Укажите кем и когда выдан сертификат',
                    rusInputAndNumbers: errorMessages.rusInputAndNumbers
                }"
                inputHint="Государственное учреждение – Управление Пенсионного фонда Российской Федерации в г. Ростове-на-Дону (межрайонное) 10 февраля 2021г."
                key="modelCertIssuedByAndDate"
            ></cibInput>
        </div>
    </section>
</template>

<script>
import { applicantStatuses } from '../../config/maternalData'
import maternalCapitalRequestMixin from '../../mixins/maternalCapitalRequestMixin'
import axios from 'axios'
export default {
    mixins: [maternalCapitalRequestMixin],
    data: () => ({
        applicantStatuses: applicantStatuses,
        officesList: [],
        rostovRegionId: 'b0e6a3cc-7e9b-11e7-bffd-628caf01d019',
        rostovRegionIds: [],
    }),
    async created () {
        await this.getOffices()
    },
    computed: {},
    methods: {
        async filterOffices (offices) {
            const promise = await new Promise((resolve) => {
                const result = offices.filter((item) => {
                    return this.rostovRegionIds.includes(item.city_id)
                })
                resolve(result)
            })
            this.officesList = promise.map((item) => {
                return {
                    id: item.id,
                    value: item.full_address
                }
            })
            return promise
        },
        setCities (rostovRegionCities) {
            this.rostovRegionIds = rostovRegionCities.map(item => {
                return item.value
            })
        },
        async getOffices () {
            this.showLoader = true
            try {
                let rostovRegionCities = await axios.get(`${this.host}cabinet/ajax/yandexmapcoordinate2/?call=getCities&param=${this.rostovRegionId}`)
                rostovRegionCities = rostovRegionCities.data
                this.setCities(rostovRegionCities)
                let offices = await axios.get(`${this.host}cabinet/ajax/yandexmapcoordinate2/?call=getFullOffices`)
                offices = offices.data
                await this.filterOffices(offices)
            } catch (e) {
                console.log(e)
                this.$refs.message.open({
                    type: 'is-danger',
                    message: e.message
                })
                return e.response.status
            } finally {
                setTimeout(() => {
                    this.showLoader = false
                }, 300)
            }
        },
    },
    watch: {
        'model.personName': {
            deep: true,
            handler () {
                this.model.fullName = `${this.model.personName.surname} (${this.model.personName.bornSurname}) ${this.model.personName.name} ${this.model.personName.patronymic}`
            }
        }
    }
}
</script>

<style lang="scss" scoped>
@import '../../assets/styles/base/vars';
.input-component {
    &__single-label {
        color: $grey;
        font-size: 18px;
        line-height: 1.2;
        display: inline-block;
        margin-bottom: 16px;
        font-weight: normal;

        &_required {
            &:before {
                content: '*';
                color: #f3001d;
                transition: color .3s ease;
                margin-right: 5px;
            }
        }
    }
    &__inputHint {
        line-height: 1.5;
        min-height: 24px;
        font-weight: normal;
        transition: all 0.3s;
        font-family: 'Roboto', sans-serif;
        &_hint {
            color: $grey_2;
        }
        &_error {
            color: #ff3860;
        }

    }
}
</style>
