<template>
    <section class="maternalCapitalRequest-step">
        <h2 class="maternalCapitalRequest__h2">Приложение к заявлению о распоряжении средствами материнского (семейного) капитала </h2>
        <div class="maternalCapitalRequest__row">
            <cibInput
                v-model="model.annexData.ownershipRightsDocumentData"
                :validator="$v.annexData.ownershipRightsDocumentData"
                fieldName="ownershipRightsDocumentData"
                labelText="Документ, подтверждающий право на объект"
                :errorMessage="{
                    required: 'Укажите документ, подтверждающий право на объект'
                }"
                inputHint="Наименование, номер, дата"
                key="modelAnnexDataOwnershipRightsDocumentData"
            ></cibInput>
        </div>
        <h3 class="maternalCapitalRequest__h3">Информация об объекте</h3>
        <div class="maternalCapitalRequest__row">
            <cibInput
                v-model="model.annexData.cadastralNumber"
                :validator="$v.annexData.cadastralNumber"
                fieldName="cadastralNumber"
                labelText="Кадастровый (условный) номер"
                :errorMessage="{
                    required: 'Укажите кадастровый (условный) номер'
                }"
                key="modelAnnexDataCadastralNumber"
            ></cibInput>
        </div>
        <div class="maternalCapitalRequest__row">
            <cibInput
                v-model="model.annexData.objectType"
                :validator="$v.annexData.objectType"
                fieldName="modelAnnexDataObjectType"
                inputTag="select"
                labelText="Вид объекта"
                :errorMessage="{
                    required: 'Укажите вид объекта'
                }"
                key="modelAnnexDataObjectType"
            >
                <template #selectOptions>
                    <option value="" disabled selected>...</option>
                    <option v-for="(type, key) in objectTypes" :value="key" :key="key">{{ type }}</option>
                </template>
            </cibInput>
        </div>
        <div class="maternalCapitalRequest__group">
            <h3 class="maternalCapitalRequest__h3">Адрес объекта</h3>
            <adressBlock
                v-model="model.annexData.objectAddress"
                :$v="$v.annexData.objectAddress"
            ></adressBlock>
        </div>


        <div class="maternalCapitalRequest__row" v-if="isResidentialBuildingType">
            <cibInput
                v-model="model.annexData.buildingRightsDocumentData"
                :validator="$v.annexData.buildingRightsDocumentData"
                fieldName="modelAnnexDataBuildingRightsDocumentData"
                labelText="Документ, подтверждающий право на проведение работ по строительству (реконструкции) объекта"
                key="modelAnnexDataBuildingRightsDocumentData"
                input-hint="Название документа, номер, дата"
                :errorMessage="{
                    required: 'Укажите документ'
                }"
            ></cibInput>
        </div>
        <div class="maternalCapitalRequest__row" v-if="isResidentialBuildingType">
            <cibInput
                v-model="model.annexData.steadRightsDocumentData"
                :validator="$v.annexData.steadRightsDocumentData"
                fieldName="modelAnnexDataSteadRightsDocumentData"
                labelText="Документ, подтверждающий право на земельный участок"
                key="modelAnnexDataSteadRightsDocumentData"
                input-hint="Название документа, номер, дата"
                :errorMessage="{
                    required: 'Укажите документ'
                }"
            ></cibInput>
        </div>
    </section>
</template>

<script>
import maternalCapitalRequestMixin from '../../mixins/maternalCapitalRequestMixin'
import { mapFields } from 'vuex-map-fields'
import { mapGetters } from 'vuex'

export default {
    mixins: [maternalCapitalRequestMixin],
    components: {
        adressBlock: () => import(/* webpackChunkName: "adressBlock" */'../components/maternalCapitalRequest/adressBlock')
    },
    computed: {
        ...mapFields([
            'objectTypes'
        ]),
        ...mapGetters([
            'isResidentialBuildingType'
        ])
    },
}
</script>
