<template>
    <section class="maternalCapitalRequest-step">
        <h3 class="maternalCapitalRequest__h3">Паспортные данные</h3>
        <div class="maternalCapitalRequest__row">
            <cibInput
                v-model="model.passport.passportData"
                :validator="$v.passport.passportData"
                fieldName="passportData"
                labelText="Серия и номер"
                mask="9999 999999"
                :errorMessage="{
                    required: 'Укажите серию и номер паспорта',
                    passportData: 'Серия и номер паспорта должна состоять из 10 цифр'
                }"
                key="modelPassportPassportData"
            ></cibInput>
        </div>
        <div class="maternalCapitalRequest__row">
            <cibInput
                v-model="model.passport.issuedDate"
                :validator="$v.passport.issuedDate"
                fieldName="issuedDate"
                labelText="Дата выдачи"
                mask="99.99.9999"
                :v-date-picker-support="true"
                :v-max-date="disabledDates.issuedDate.from"
                :errorMessage="{
                    required: 'Укажите дату выдачи',
                    dateFormat: 'Введите корректную дату в формате \'xx.xx.xxxx\'',
                    maxPreviousDay : 'Нельзя указывать дату в будущем'
                }"
                key="modelPassportIssuedDate"
            />
        </div>
        <div class="maternalCapitalRequest__row">
            <cibInput
                v-model="model.passport.divisionCode"
                :validator="$v.passport.divisionCode"
                fieldName="divisionCode"
                labelText="Код подразделения"
                mask="999-999"
                :errorMessage="{
                    required: 'Укажите код подразделения',
                    passportDivisionCode: 'Код подразделения должен состоять из 6 цифр'
                }"
                suggestionsApiMethod="passportIssuedName"
                key="modelPassportDivisionCode"
                @customSuggestions="suggestHandler"
                :showSuggestion="showSuggestion.divisionCode"
            >
                <template #suggestions>
                    <div
                        class="input-component__suggest"
                        v-for="(suggestion, index) in findSuggestionsArr('divisionCode')"
                        :key="`${index}-divisionCode`"
                        @click="autofillBookerIssuedName('divisionCode', suggestion)"
                    >
                        <div class="input-component__suggest-row">{{ `${suggestion.code}, ${suggestion.value}` }}</div>
                    </div>
                </template>
            </cibInput>
        </div>
        <div class="maternalCapitalRequest__row">
            <cibInput
                v-model="model.passport.issuedName"
                :validator="$v.passport.issuedName"
                fieldName="passportIssuedName"
                labelText="Кем выдан"
                :errorMessage="{
                    required: 'Укажите кем выдан паспорт',
                    rusInputAndNumbers: errorMessages.rusInputAndNumbers
                }"
                suggestionsApiMethod="passportIssuedName"
                key="modelPassportIssuedName"
                @customSuggestions="suggestHandler"
                :showSuggestion="showSuggestion.passportIssuedName"
            >
                <template #suggestions>
                    <div
                        class="input-component__suggest"
                        v-for="(suggestion, index) in findSuggestionsArr('passportIssuedName')"
                        :key="`${index}-passportIssuedName`"
                        @click="autofillBookerIssuedName('passportIssuedName', suggestion)"
                    >
                        <div class="input-component__suggest-row">{{ `${suggestion.code}, ${suggestion.value}` }}</div>
                    </div>
                </template>
            </cibInput>
        </div>
        <div class="maternalCapitalRequest__group">
            <h3 class="maternalCapitalRequest__h3">Адрес места регистрации</h3>
            <div class="maternalCapitalRequest__row">
                <cibInput
                    v-model="model.registrationAddress.postCode"
                    :validator="$v.registrationAddress.postCode"
                    fieldName="registrationAddressPostCode"
                    labelText="Индекс"
                    mask="999999"
                    :errorMessage="{
                    required: 'Укажите индекс',
                    postCode: 'Индекс должен состоять из 6 цифр'
                }"
                    key="modelRegistrationAddressPostCode"
                ></cibInput>
            </div>
            <adressBlock
                v-model="model.registrationAddress"
                :$v="$v.registrationAddress"
            ></adressBlock>
        </div>
        <div class="maternalCapitalRequest__row maternalCapitalRequest__row_big-margin">
            <cibInput
                v-model="model.residenceAddressSameAsRegistration"
                fieldName="residenceAddressSameAsRegistration"
                inputType="checkbox"
                checkboxSize="small"
            >
                <template #labelText>
                    <span>
                        Адрес проживания совпадает с адресом регистрации
                    </span>
                </template>
            </cibInput>
        </div>
        <transition name="fade">
            <div class="maternalCapitalRequest__group" v-show="!model.residenceAddressSameAsRegistration">
                <h3 class="maternalCapitalRequest__h3">Адрес места жительства</h3>
                <div class="maternalCapitalRequest__row">
                    <cibInput
                        v-model="model.residenceAddress.postCode"
                        :validator="$v.residenceAddress.postCode"
                        fieldName="residenceAddressPostCode"
                        labelText="Индекс"
                        mask="999999"
                        :errorMessage="{
                            required: 'Укажите индекс',
                            postCode: 'Индекс должен состоять из 6 цифр'
                        }"
                        key="modelResidenceAddressPostCode"
                    ></cibInput>
                </div>
                <adressBlock
                    v-model="model.residenceAddress"
                    :$v="$v.residenceAddress"
                ></adressBlock>
            </div>
        </transition>
        <div class="maternalCapitalRequest__row">
            <cibInput
                v-model="model.contactPhoneNumber"
                :validator="$v.contactPhoneNumber"
                fieldName="contactPhoneNumber"
                labelText="Контактный телефон"
                mask="+7 (999) 999-99-99"
                :mask-options="{
                    clearMaskOnLostFocus: true,
                    inputmode: 'tel',
                }"
                :errorMessage="{
                    required: 'Укажите номер телефона',
                    phone: 'Номер телефона должен содержать 11 цифр в формате +7 (999) 999-99-99'
                }"
                key="modelContactPhoneNumber"
            />
        </div>
    </section>
</template>

<script>
import maternalCapitalRequestMixin from '../../mixins/maternalCapitalRequestMixin'

export default {
    mixins: [maternalCapitalRequestMixin],
    components: {
        adressBlock: () => import(/* webpackChunkName: "adressBlock" */'../components/maternalCapitalRequest/adressBlock')
    },
    data: () => ({
        suggestionsArrByFieldName: [],
        showSuggestion: {
            divisionCode: false,
            passportIssuedName: false
        }
    }),
    methods: {
        autofillBookerIssuedName (fieldName, suggestion) {
            this.model.passport.divisionCode = suggestion.code
            this.model.passport.issuedName = suggestion.value
            for (const key in this.showSuggestion) {
                this.showSuggestion[key] = false
            }
        },
        suggestHandler (suggestionData) {
            const index = this.findIndexByFieldName(suggestionData)
            if (index === -1) {
                this.suggestionsArrByFieldName.push(suggestionData)
            } else {
                this.suggestionsArrByFieldName[index].suggestions = suggestionData.suggestions
            }
            this.showSuggestion[suggestionData.fieldName] = true
        },
    }
}
</script>
