<template>
    <span>{{ tweeningValue }}</span>
</template>

<script>
    import TWEEN from '@tweenjs/tween.js'
    import * as util from '../../utils/common'

    export default {
        name: 'animated-integer',
        props: {
            value: {
                type: Number,
                required: true
            }
        },
        data () {
            return {
                tweeningValue: 0
            }
        },
        watch: {
            value (newValue, oldValue) {
                this.tween(oldValue, newValue)
            }
        },
        mounted () {
            this.tween(0, this.value)
        },
        methods: {
            tween (startValue, endValue) {
                const self = this
                function animate () {
                    if (TWEEN.update()) {
                        requestAnimationFrame(animate)
                    }
                }
                new TWEEN.Tween({ tweeningValue: parseInt(startValue) })
                  .to({ tweeningValue: parseInt(endValue) }, 500)
                  .onUpdate(function () {
                      self.tweeningValue = util.formatMoney(this._object.tweeningValue.toFixed(0))
                  })
                  .start()
                animate()
            }
        }
    }
</script>

<style>

</style>
