<template>
    <transition name="fade">
        <div v-if="isVisible" class="cibModal" @click.self.prevent="closeModal">
            <div class="cibModal__wr">
                <div class="cibModal__content">
                    <slot name="content">
                        <p v-html="hintText"></p>
                    </slot>
                </div>
                <div class="cibModal__close" @click.self.prevent="closeModal"></div>
            </div>
        </div>
    </transition>
</template>

<script>
export default {
    name: 'modal-hint',
    props: {
        hintText: {
            type: String
        },
        value: {
            type: Boolean
        },
        notClose: {
            type: Boolean
        }
    },
    created () {
        this.isVisible = this.value
    },
    data () {
        return {
            isVisible: false
        }
    },
    methods: {
        closeModal () {
            if (!this.notClose) {
                this.isVisible = false
            }
        }
    },
    watch: {
        value (n) {
            this.isVisible = n
        },
        isVisible (n) {
            this.$emit('input', n)
        }
    }
}
</script>

<style scoped lang="scss">
.cibModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    &__wr {
        max-height: 80vh;
        max-width: 800px;
        position: relative;
        border-radius: 5px;
        background: #fff;
        padding: 15px;
        @media (max-width: 900px) {
            max-width: 80%;
        }
    }
    &__content {
        color: rgb(51, 51, 51);
        height: 100%;
        width: 100%;
        font-size: 14px;
        line-height: 1.3;
        overflow-y: auto;
        max-height: 77vh;
    }
    &__close {
        position: absolute;
        top: -20px;
        right: -20px;
        width: 20px;
        height: 20px;
        cursor: pointer;
        &::before {
            content: '';
            width: 100%;
            height: 2px;
            background: #fff;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translate(0, -50%) rotate(45deg);
        }
        &::after {
            content: '';
            width: 100%;
            height: 2px;
            background: #fff;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translate(0, -50%) rotate(-45deg);
        }
    }
}

</style>
