<template>
    <div class="credCalc-print">
        <table class="credCalc-print__table">
            <tr>
                <th>Тип кредита</th>
                <td>{{payLoad.creditName}}</td>
            </tr>
            <tr>
                <th>{{payLoad.sumTitle}} (руб.)</th>
                <td>{{model.sum}}</td>
            </tr>
            <tr v-show="model.type=='autocredit' || model.type=='mortgage'">
                <th>Первоначальный взнос (руб.)</th>
                <td>{{model.prepay}}</td>
            </tr>
            <tr v-show="model.type=='autocredit' || model.type=='mortgage'">
                <th>Сумма кредита (руб.)</th>
                <td>{{payLoad.credSum}}</td>
            </tr>
            <tr>
                <th>Срок кредитования (в годах)</th>
                <td>{{model.period}}</td>
            </tr>
            <tr v-show="model.type=='credit'">
                <th>Клиент банка</th>
                <td><span v-show="model.client">да</span><span v-show="!model.client">нет</span></td>
            </tr>
            <tr v-show="model.type=='credit'">
                <th>Подтверждение дохода</th>
                <td><span v-show="model.docs=='OBLIGATORY'">официально</span><span v-show="model.docs=='CHOOSINGLY'">в свободной форме</span></td>
            </tr>
            <tr v-show="model.type=='autocredit'">
                <th>Льготная программа</th>
                <td><span v-show="model.benefit">да</span><span v-show="!model.benefit">нет</span></td>
            </tr>
            <tr v-show="model.type=='mortgage'">
                <th>Строительство жилья</th>
                <td><span v-show="model.construct">да</span><span v-show="!model.construct">нет</span></td>
            </tr>
            <tr v-show="model.type=='autocredit'">
                <th>Коммерческий автотранспорт</th>
                <td><span v-show="model.commerce">да</span><span v-show="!model.commerce">нет</span></td>
            </tr>
            <tr v-show="model.type=='card'">
                <th>Учаcтник зарплатного проекта</th>
                <td><span v-show="model.salary">да</span><span v-show="!model.salary">нет</span></td>
            </tr>
        </table>
        <table class="results-print">
            <tr>
                <th>{{ model.tableName.title }}</th>
                <th>{{ model.tableName.rate }}</th>
                <th>{{ model.tableName.pay }}</th>
            </tr>
            <tr v-for="(c, index, key) in payLoad.creditsPayments" :key="key">
                <td>
                    <div class="calc-result-table__info">
                        <a class="calc-result-table__link" :href="c.link" target="_blank" v-html="c.name"></a>
                        {{ c.desc }}
                        <span>{{ payLoad.showStar(c.rate) }}</span>
                        <i class="table-title--mosprime" v-if="c.mosprime === 'true' && model.region !== 'Нижегородская область'">*</i>
                    </div>
                </td>
                <td>
                    <div class="calc-result-table__sub-row">
                        <span class="calc-result-table__rates" v-html="c.rates.replace(/\./g,',')"></span>
                    </div>
                </td>
                <td>
                    <div class="calc-result-table__sub-row" v-html="c.pays"></div>
                </td>
            </tr>
        </table>
        <div class="credCalc-notices credCalc-notices_print">
            <div class="credCalc__notice credCalc-notice" v-show="payLoad.isAutoCredit || payLoad.isMortgageCredit">
                Внимание! Минимальный <b>авансовый платеж</b> по программе
                <b>{{ payLoad.prepayData.initType }}</b>
                составляет
                <span class="credCalc-notice__value">{{ payLoad.prepayData.initPer }}</span>
                <span class="credCalc-notice__percent">%</span>
            </div>
            <div class="credCalc__notice credCalc-notice" v-show="payLoad.isMortgageCredit && model.region != 'Нижегородская область' && !model.postprav">
                <sup>*</sup>Внимание! Указанная процентная ставка применяется в первые
                <span id="mp-period">{{ payLoad.mosPrimePeriod }}</span> обслуживания кредита,
                далее &ndash; размер ключевой ставки Центрального банка Российской Федерации
                по состоянию на 1 октября предыдущего года + 3,5% годовых
            </div>
            <div class="credCalc__notice credCalc-notice" v-html="payLoad.hintObj.two" v-show="payLoad.isMortgageCredit && model.region != 'Нижегородская область' && model.commerce"></div>
            <div class="credCalc__notice credCalc-notice" v-show="payLoad.isCardCredit">
                <sup>*</sup>Внимание! Минимальный платеж по кредиту указан без учета платы
                за ежемесячное обслуживание, размер которой будет зависеть от типа карты,
                выбранной клиентом и иных расходов (комиссий) по карте, которые могут
                возникнуть при ее использовании.
            </div>
            <div class="credCalc-notices__hints">
                <p>
                    Обращаем ваше внимание, что данный калькулятор позволяет оценить примерную стоимость кредита.
                    За более точной информацией обратитесь к нашим специалистам в <a href="https://www.centrinvest.ru/ru/branches/offices/" v-if="!model.onCreditForm">ближайший офис</a><span v-else>ближайший офис</span> банка,
                    либо по телефону <br>8&nbsp;863&nbsp;2-000-000, 8&nbsp;800&nbsp;200-99-29.
                </p>

                <p class="note-potreb" v-show="payLoad.showHintCredit">* Положительная кредитная история в ПАО КБ «Центр-инвест» в рамках программы "Потребительский кредит под 11,75% (для клиентов Банка)" —
                    полностью погашенные кредиты физического лица в банке, надлежащим образом исполненные, погашенные по сроку или не ранее 6 месяцев с даты оформления, без фактов возникновения просроченных платежей, за сключением не более 3-х просроченных платежей, продолжительностью не более 10 календарных дней каждый, и (или) активный кредит в банке, действующий не менее 6 месяцев с момента оформления, без фактов возникновения просроченных платежей, за исключением не более 3-х просроченных платежей, продолжительностью не более 10 календарных дней каждый. Активный вклад в банке — вклад «Срочный» или «Накопительный», действующий не менее тридцати календарных дней на момент подачи заявки на кредит. Активная банковская карта - банковская карта, выданная ПАО КБ "Центр-инвест", с поступлениями денежных средств в течение последних тридцати календарных дней на момент подачи заявки на кредит.
                </p>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        model: {
            type: Object
        },
        payLoad: {
            type: Object
        }
    },
    computed: {
    }
}
</script>

<style lang="scss">
    .credCalc-notices {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    .results-print {
        width: 100%;
        td, th {
            padding: 15px;
        }
        th {
            text-align: right;
            &:first-child {
                width: 50%;
                text-align: left;
            }
        }
    }
</style>
