<template>
    <div class="credCalc-print">
        <div class="credCalc-print__date">{{ getCurrendDate }} Версия для печати. Рассчитать {{ getCaptionCreditType }}</div>
        <div class="credCalc-print__caption">
            Рассчитать {{ getCaptionCreditType }}
        </div>
        <table class="credCalc-print__table">
            <tr>
                <td>Тип кредита</td>
                <td>{{printPayloadModified.creditTypeName.name}}</td>
            </tr>
            <tr v-if="printPayloadModified.creditTypeName.id === 'mortgage'">
                <td>Программа кредитования</td>
                <!-- <td v-if="printPayload.currentMortgageTypeObject.value === 'purchaseAndRefinancing'">{{ purchaseAndRefinancing.text }}</td> -->
                <td>{{ printPayload.currentMortgageTypeObject.text }}</td>
            </tr>
            <tr>
                <td>{{ printPayloadModified.sumTitle }}</td>
                <td>{{ formatMoneyMod(printPayload.sum) }} руб.</td>
            </tr>
            <tr v-if="printPayload.prepay">
                <td>Первоначальный взнос</td>
                <td>{{formatMoneyMod(printPayload.prepay)}} руб.</td>
            </tr>
            <tr v-if="printPayload.credSum">
                <td>Сумма кредита</td>
                <td>{{formatMoneyMod(printPayload.credSum)}} руб.</td>
            </tr>
            <tr>
                <td>Срок кредитования (в годах)</td>
                <td>{{printPayload.period}}</td>
            </tr>
            <tr v-if="printPayloadModified.creditTypeName.id !== 'mortgage'">
                <td>Клиент банка</td>
                <td>{{ printPayloadModified.client }}</td>
            </tr>
            <tr v-if="printPayloadModified.creditTypeName.id === 'consumer'">
                <td>Подтверждение дохода</td>
                <td>{{ printPayloadModified.ndfl2 }}</td>
            </tr>
        </table>
        <div id="calc-results" class="credCalc__result credCalc__result_print calc-result">
            <div class="calc-result__caption">Предложения для Вас:</div>
            <div class="calc-result__table calc-result-table">
                <div class="calc-result-table__row calc-result-table__row_caption">
                    <div class="calc-result-table__col calc-result-table__col_th calc-result-table__col_title">{{ model.tableName.title }}</div>
                    <div class="calc-result-table__col calc-result-table__col_th calc-result-table__col_rate">{{ model.tableName.rate }}</div>
                    <div class="calc-result-table__col calc-result-table__col_th calc-result-table__col_pay">{{ model.tableName.pay }}</div>
                </div>
                <div class="calc-result-table__row" v-for="(programm, key) in printPayload.countedPrograms" :key="key">
                    <div class="calc-result-table__col calc-result-table__col_title">
                        <div class="calc-result-table__info">
                            <cibLink :href="programm.url" :blank="true">{{ programm.name }}</cibLink>
                            {{ programm.description }}
                            <span>{{ showStar(programm.paysArr[0].rateValue, programm.name) }}</span>
                        </div>
                    </div>
                    <div class="calc-result-table__col calc-result-table__col_rate">
                        <div class="calc-result-table__sub-row">
                            <div class="calc-result-table__rates" v-for="(rate, key) in programm.paysArr" :key="key">
                                <span v-if="programm.paysArr.length > 1">c {{ rate.minPeriod }} года - </span> <mark>{{ rate.rateValue }} %</mark>
                            </div>
                        </div>
                    </div>
                    <div class="calc-result-table__col calc-result-table__col_pay">
                        <div class="calc-result-table__sub-row">
                            <div class="calc-result-table__pays" v-for="(rate, key) in programm.paysArr" :key="key">
                                <mark v-html="rate.pay + model.rubSvg"></mark>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="credCalc-notices credCalc-notices_print">
            <div class="credCalc__notice credCalc-notice" v-show="printPayload.notice.minPrepay.showNotice">
                Внимание! Минимальный <b>авансовый платеж</b> по программе
                <b>{{ printPayload.notice.minPrepay.value }}</b>
                составляет
                <span class="credCalc-notice__value">{{ printPayload.initPrepaymentPercentage }}</span>
                <span class="credCalc-notice__percent">%</span>
            </div>
            <div class="credCalc__notice credCalc-notice" v-show="printPayload.notice.mosPrime.showNotice">
                <sup>*</sup>Внимание! Указанная процентная ставка применяется в первые
                <span id="mp-period">{{ printPayload.notice.mosPrime.value }}</span> обслуживания кредита,
                далее &ndash; размер ключевой ставки Центрального банка Российской Федерации
                по состоянию на 1 октября предыдущего года + 3,5% годовых
            </div>
            <div class="credCalc__notice credCalc-notice" v-html="printPayload.notice.commerce.value" v-show="printPayload.notice.commerce.showNotice"></div>
            <div class="credCalc-notices__hints">
                <p>
                    Обращаем ваше внимание, что данный калькулятор позволяет оценить примерную стоимость кредита.
                    За более точной информацией обратитесь к нашим специалистам в ближайший офис банка,
                    либо по телефону <br>8&nbsp;863&nbsp;2-000-000, 8&nbsp;800&nbsp;200-99-29.
                </p>

                <p class="note-potreb" v-show="printPayload.showHintConsumer">* Положительная кредитная история в ПАО КБ «Центр-инвест» в рамках программы "Потребительский кредит под 11,25% (для клиентов Банка)" —
                    полностью погашенные кредиты физического лица в банке, надлежащим образом исполненные, погашенные по сроку или не ранее 6 месяцев с даты оформления, без фактов возникновения просроченных платежей, за сключением не более 3-х просроченных платежей, продолжительностью не более 10 календарных дней каждый, и (или) активный кредит в банке, действующий не менее 6 месяцев с момента оформления, без фактов возникновения просроченных платежей, за исключением не более 3-х просроченных платежей, продолжительностью не более 10 календарных дней каждый. Активный вклад в банке — вклад «Срочный» или «Накопительный», действующий не менее тридцати календарных дней на момент подачи заявки на кредит. Активная банковская карта - банковская карта, выданная ПАО КБ "Центр-инвест", с поступлениями денежных средств в течение последних тридцати календарных дней на момент подачи заявки на кредит.
                </p>
            </div>
        </div>
    </div>
</template>

<script>
import { formatMoney } from '../../utils/common'
export default {
    components: {
        cibLink: () => import(/* webpackChunkName: "cibLink" */'../link')
    },
    computed: {
        printPayloadModified () {
            const creditTypeName = this.printPayload.creditTypes.find(item => {
                return item.id === this.printPayload.creditType
            })
            let sumTitle
            switch (this.printPayload.creditType) {
                case 'consumer':
                    sumTitle = 'Сумма'
                    break

                case 'carLoan':
                    sumTitle = 'Cтоимость автомобиля'
                    break

                case 'mortgage':
                    sumTitle = 'Cтоимость недвижимости'
                    break
            }
            return {
                creditTypeName,
                sumTitle,
                client: this.printPayload.client ? 'да' : 'нет',
                ndfl2: this.printPayload.ndfl2 ? 'официально' : 'в свободной форме'
            }
        },
        purchaseAndRefinancing () {
            console.log(this.printPayload)
            return this.printPayload.currentMortgageTypeObject.nestedParams.params.find(item => {
                return item.value === this.printPayload.currentMortgageTypeObject.nestedParams.model
            })
        },
        getCurrendDate () {
            const newDate = new Date()
            let date = newDate.getDate().toString()
            let mounth = newDate.getMonth().toString()
            const year = newDate.getFullYear().toString()
            date = date.length < 2 ? '0' + date : date
            mounth = mounth.length < 2 ? '0' + (parseInt(mounth) + 1) : mounth + 1
            return `${date}.${mounth}.${year}`
        },
        getCaptionCreditType () {
            switch (this.printPayloadModified.creditTypeName.name) {
                case 'Ипотека':
                    return 'ипотеку'
                    break

                case 'Автокредит':
                    return 'автокредит'
                    break
                case 'Потребительский':
                    return 'потребительский кредит'
                    break
            }
        }
    },
    methods: {
        formatMoneyMod (value) {
            return formatMoney(value)
        },
        showStar (rate, name) {
            let result
            if (
                (rate === '11,00' && this.printPayload.creditType === 'consumer' && this.printPayload.typeSelection) ||
                (name !== 'Ипотека 4,5 % годовых' && this.printPayload.creditType === 'mortgage' && this.printPayload.region !== 'Нижегородская область')
            ) {
                result = '*'
            } else if (rate === '11,00' && this.printPayload.creditType === 'consumer' && !this.printPayload.typeSelection) {
                result = '***'
            }
            return result
        }
    },
    mounted () {
        this.$nextTick(() => {
            window.print()
        })
    },
    props: {
        model: {
            type: Object
        },
        printPayload: {
            type: Object
        }
    }
}
</script>

<style lang="scss">
    .credCalc-notices {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    .results-print {
        width: 100%;
        td, th {
            padding: 15px;
        }
        th {
            text-align: right;
            &:first-child {
                width: 50%;
                text-align: left;
            }
        }

    }
    .credCalc-print {
        &__caption {
            font-size: 36px;
            color: #333333;
            margin-top: 42px;
            font-weight: 700;
        }
        &__table {
            margin-top: 32px;
            td {
                padding: 10px 0;
                font-size: 18px;
                width: 50%;
                &:first-child {
                    color: #787878;
                }
                &:last-child {
                    color: #333333;
                    font-weight: 700;
                }
            }
        }
        &__date {
            font-size: 14px;
            line-height: 1.2;
            color: #A7A7A7;
        }
    }
</style>
