<template>
    <input
        ref="input"
        :class="`form-control required ${className}`"
        :id="id"
        type="tel"
        v-model="compValue"
    >

</template>

<script>
    import * as util from '../../utils/common'

    export default {
        name: 'currencyInput',
        props: {
            value: {
                type: Number
            },
            id: {
                type: String
            },
            className: {
                type: String,
                default: ''
            }
        },
        data () {
            return {
                model: this.value
            }
        },
        computed: {
            compValue: {
                get () {
                    return util.formatMoney(this.model.toString())
                },
                set (value) {
                    let newValue = parseInt(value.replace(/[^0-9\.]/g, ''))
                    if (isNaN(newValue)) {
                        newValue = 0
                    }
                    this.model = newValue
                    this.$forceUpdate()
                }
            }
        },
        watch: {
            model () {
                this.$emit('input', this.model)
            },
            value () {
                this.model = this.value
            }
        }
    }
</script>

<style>

</style>
