<template>
    <div>
        <message ref="message"></message>
        <transition name="fade">
            <div class="feedbackModal" v-if="show">
                <div class="feedbackModal__overlay" @click="closeModal"></div>
                <div class="feedbackModal__window">
                    <div class="feedbackModal__close" @click="closeModal"></div>
                    <transition name="fade" mode="out-in">
                        <div class="feedbackModal__content" v-if="!showMessage">
                            <div class="feedbackModal__input">
                                <cibInput
                                    v-model="feedbackData.phoneNumber"
                                    :validator="$v.feedbackData.phoneNumber"
                                    fieldName="phoneVote"
                                    labelText="Введите номер телефона"
                                    mask="+7 (999) 999-99-99"
                                    :error-message="{
                                required: 'Укажите номер телефона',
                            phone: 'Неправильный формат телефона'
                        }"
                                ></cibInput>
                                <cibButton color-theme="green-empty" custom-class="feedbackModal__codeButton" :disabled="$v.feedbackData.phoneNumber.$invalid" @click="getCode">Выслать код подтверждения</cibButton>
                            </div>
                            <transition name="fade">
                                <div class="feedbackModal__input" v-show="!this.$v.feedbackData.phoneNumber.$invalid && isCodeShow">
                                    <cibInput
                                        :validator="$v.feedbackData.verificationCode"
                                        v-model="feedbackData.verificationCode"
                                        fieldName="verificationCode"
                                        labelText="Код"
                                        mask="9999"
                                        :error-message="{
                                required: 'Введите код из смс',
                            code: 'Код должен состоять из 4 цифр'
                        }"
                                    ></cibInput>
                                </div>
                            </transition>

                            <div class="feedbackModal__buttons-wr">
                                <cibButton color-theme="yellow" custom-class="feedbackModal__button" v-if="!$v.feedbackData.verificationCode.$invalid" @click="sendVote" :disabled="$v.$invalid">Проголосовать</cibButton>
                            </div>
                            <div class="feedbackModal__error" v-if="$v.feedbackData.voteResult.$invalid">
                                Не выбран участник, за которого вы хотите проголосовать. Вернитесь на предыдущую страницу и выберите участинка повторно.
                            </div>
                        </div>
                        <div class="feedbackModal__message" v-else>{{ message }}</div>
                    </transition>
                    <div class="message-wr" v-if="pending">
                        <div class="message-wr__loader" v-if="showLoader"></div>
                    </div>
                </div>
            </div>
        </transition>
    </div>
</template>

<script>
import { validationMixin } from 'vuelidate'
import { helpers, required } from 'vuelidate/lib/validators'
import axios from 'axios'
const phone = helpers.regex('phone', /^(\+7\s\(9[0-9]{2}\)\s[0-9]{3}-[0-9]{2}-[0-9]{2})$/)
const code = helpers.regex('code', /[0-9]{4}/)
export default {
    mixins: [validationMixin],
    components: {
        cibInput: () => import(/* webpackChunkName: "cibInput" */'../cibInput'),
        cibButton: () => import(/* webpackChunkName: "cibButton" */'../Button'),
        message: () => import(/* webpackChunkName: "popupMessage" */'../popupMessage')
    },
    data: () => ({
        feedbackData: {
            phoneNumber: null,
            voteResult: null,
            verificationCode: null
        },
        show: false,
        showLoader: false,
        pending: false,
        isCodeShow: false,
        message: null,
        showMessage: false
    }),
    validations: {
        feedbackData: {
            phoneNumber: {
                required,
                phone
            },
            verificationCode: {
                required,
                code
            },
            voteResult: {
                required
            }
        }
    },
    props: {
        value: {
            type: Boolean
        },
        voteResult: {
            type: String,
            required: true
        }
    },
    mounted () {
        console.log(123)
    },
    computed: {
        isValid () {
            return !this.$v.$invalid
        }
    },
    methods: {
        closeModal () {
            this.feedbackData.phoneNumber = null
            this.feedbackData.verificationCode = null
            this.isCodeShow = false
            this.$v.$reset()
            this.message = null
            this.showMessage = false
            this.show = false
        },
        getCode () {
            this.$v.feedbackData.phoneNumber.$touch()
            if (!this.$v.feedbackData.phoneNumber.$invalid) {
                this.pending = true
                this.showLoader = true
                axios.post('https://site-api.centrinvest.ru/api/v1/best-start-vote/verification-codes', {
                    phoneNumber: this.feedbackData.phoneNumber
                })
                .then(res => {
                    if (res.data.status === 204) {
                        this.$refs.message.open({
                            type: 'is-success',
                            message: 'На ваш номер отправлена смс с кодом подтверждения',
                            position: 'is-top',
                            duration: 3000
                        })
                    }
                    this.isCodeShow = true
                })
                .catch(error => {
                    if (error.response.status === 400) {
                        this.$refs.message.open({
                            type: 'is-danger',
                            message: error.response.data.error,
                            position: 'is-top',
                            duration: 3000
                        })
                    }
                })
                .finally(() => {
                    this.pending = false
                    this.showLoader = false
                })
            }
        },
        sendVote () {
            if (!this.$v.$invalid) {
                this.pending = true
                this.showLoader = true
                const sendData = new FormData()
                for (const key in this.feedbackData) {
                    sendData.append(key, this.feedbackData[key])
                }
                axios({
                    method: 'post',
                    url: 'https://www.centrinvest.ru/ru/include/votelog',
                    data: sendData
                })
                .then(res => {
                    console.log(res)
                })
                axios.post('https://site-api.centrinvest.ru/api/v1/best-start-vote', this.feedbackData)
                .then(res => {
                    if (res.data.status === 204) {
                        this.message = 'Спасибо, ваш голос отправлен!'
                        this.showMessage = true
                        this.feedbackData.phoneNumber = null
                        this.feedbackData.verificationCode = null
                        this.$v.$reset()
                    }
                })
                .catch(error => {
                    console.log(error.response)
                    if (error.response.status === 400) {
                        this.$refs.message.open({
                            type: 'is-danger',
                            message: error.response.data.error,
                            position: 'is-top',
                            duration: 3000
                        })
                    }
                })
                .finally(() => {
                    this.pending = false
                    this.showLoader = false
                })
            }
        }
    },
    watch: {
        value () {
            this.show = this.value
            this.feedbackData.voteResult = this.voteResult
        },
        show () {
            this.$emit('input', this.show)
        }
    }
}
</script>

<style lang="scss">
@import '../../assets/styles/base/vars';
.feedbackModal {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 99;
    &__overlay {
        background: rgba(0,0,0,0.5);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;
    }
    &__window {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 500px;
        transform: translate(-50% ,-50%);
        padding: 54px 90px;
        background: #fff;
        box-sizing: border-box;
        @media(max-width: 768px) {
            padding: 30px;
            width: 95%;
        }
    }
    &__content {
        padding: 12px 16px;
        background: #fff;
    }
    &__message {
        font-family: Roboto;
        padding: 12px 16px;
        background: #fff;
        color: $green;
        font-size: 18px;
        line-height: 1.2;
    }
    &__close {
        position: absolute;
        right: 16px;
        top: 16px;
        transform: translate(0, -50%);
        width: 16px;
        height: 16px;
        cursor: pointer;
        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            transform: rotate(45deg);
            width: 100%;
            height: 2px;
            background: #ccc;
        }
        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            transform: rotate(-45deg);
            width: 100%;
            height: 2px;
            background: #ccc;
        }
    }
    //&__buttons-wr {
    //    display: flex;
    //    justify-content: center;
    //    margin-top: 16px;
    //}
    &__button {
        font-family: Roboto;
        border-radius: 4px;
        font-size: 12px;
        padding: 10px 24px;
        text-transform: uppercase;
        cursor: pointer;
        transition: background 0.3s;
        display: inline-block;
        height: auto;
        border: none;
        width: 100%;
        &_grey {
            background: #EAEAEA;
            color: $text;
            &:hover {
                color: $text;
                background: darken(#EAEAEA, 10%);
            }
        }
    }
    &__codeButton {
        font-family: Roboto;
        border-radius: 4px;
        font-size: 12px;
        padding: 10px 24px;
        text-transform: uppercase;
        height: auto;
        margin-bottom: 16px;
        margin-top: 6px;
        width: 100%;
    }
    &__code {
        font-family: Roboto;
        font-size: 14px;
        color: $green;
        cursor: pointer;
        &_inactive {
            color: #958f8f;
            cursor: not-allowed;
        }
    }
    &__input {
        margin-bottom: 16px
    }
    &__error {
        color: #ff3860;
        font-family: Roboto;
        font-size: 18px;
        line-height: 1.2;
        margin-top: 16px;
    }
}
.message-wr {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.2);
    }
    &__loader {
        position: absolute;
        top: calc(50% - 25px);
        left: calc(50% - 25px);
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-bottom: 3px solid $green;
        border-top: 3px solid $green;
        animation: rotate 1s linear infinite;

    }
    &__message {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 20px;
    }
}
.input-component__wr_valid:before {
    display: none !important;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
</style>
