<template>
    <div class="modal-hint" @click.self.prevent="closeModal">
        <div class="modal-hint__content">
            <slot name="content">
                <p v-html="hintText"></p>
            </slot>
            <div class="modal-hint__close" @click.self.prevent="closeModal"></div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'modal-hint',
        props: {
            hintText: {
                type: String
            }
        },
        methods: {
            closeModal () {
                this.$emit('closeModal')
            }
        }
    }
</script>

<style scoped lang="scss">
    .modal-hint {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,0.5);
            z-index: 1000;
            display: flex;
            align-items: center;
            justify-content: center;
        &__content {
            background: #fff;
            color: rgb(51, 51, 51);
            padding: 15px;
            max-width: 800px;
            position: relative;
            border-radius: 5px;
            font-size: 14px;
            line-height: 1.3;
            @media (max-width: 900px) {
                max-width: 80%;
            }
        }
        &__close {
            position: absolute;
            top: -20px;
            right: -20px;
            width: 20px;
            height: 20px;
            cursor: pointer;
            &::before {
                content: '';
                width: 100%;
                height: 2px;
                background: #fff;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translate(0, -50%) rotate(45deg);
            }
            &::after {
                content: '';
                width: 100%;
                height: 2px;
                background: #fff;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translate(0, -50%) rotate(-45deg);
            }
        }
    }

</style>
