<template>
    <div class="main">
        <div class="menu">
            <ul class="menu__list">
                <router-link v-for="(route, index) in routesFilter"
                            :key="index"
                            :to="{name: route.name}"
                            class="menu__item"
                            active-class=""
                            exact-active-class=""
                            tag="li">
                    <a class="menu__link">{{ route.name }}</a>
                </router-link>
            </ul>
        </div>
    </div>
</template>

<script>

export default {
    name: 'home',
    data () {
        return {
            routes: this.$router.options.routes,
            hiddenRoutes: ['Главная']
        }
    },
    computed: {
        routesFilter () {
            return Object.assign([], this.routes).filter((element) => {
                return this.hiddenRoutes.indexOf(element.name) === -1
            })
        }
    }
}
</script>

<style scoped lang="scss">
    .menu {
        &__list {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__item {
            width: 300px;
            box-sizing: border-box;
            background: #42b983;
            margin: 10px 0;
        }
        &__link {
            padding: 15px;
            color: #fff;
            text-decoration: none;
            display: block;
        }

    }
</style>
