<template>
    <div class="maternalCapitalRequest__group">
        <div class="maternalCapitalRequest__row">
            <cibInput
                v-model="model.region"
                :validator="$v.region"
                :fieldName="`region-${_uid}`"
                labelText="Регион"
                :errorMessage="{
                    required: 'Укажите регион',
                    rusInputAndNumbers: errorMessages.rusInputAndNumbers
                }"
                :query-params="regionDadataQueryParams"
                :key="`region-${_uid}`"
                suggestions-api-method="dadataAddressSuggestions"
                :showSuggestion="showSuggestion[`region-${_uid}`]"
                @customSuggestions="suggestHandler"
            >
                <template #suggestions>
                    <div
                        class="input-component__suggest"
                        v-for="(suggestion, index) in findSuggestionsArr(`region-${_uid}`)"
                        :key="`${index}-region-${_uid}`"
                        @click="onHintClick({ region_with_type: suggestion.data.region_with_type }, suggestion)"
                    >
                        <div class="input-component__suggest-row" v-html="suggestion.value"></div>
                    </div>
                </template>
            </cibInput>
        </div>
        <div class="maternalCapitalRequest__row">
            <cibInput
                v-model="model.district"
                :validator="$v.district"
                :fieldName="`district-${_uid}`"
                labelText="Район"
                :errorMessage="{
                    required: 'Укажите район',
                    rusInputAndNumbers: errorMessages.rusInputAndNumbers
                }"
                suggestions-api-method="dadataAddressSuggestions"
                :query-params="districtDadataQueryParams"
                :key="`district-${_uid}`"
                :showSuggestion="showSuggestion[`district-${_uid}`]"
                @customSuggestions="suggestHandler"
            >
                <template #suggestions>
                    <div
                        class="input-component__suggest"
                        v-for="(suggestion, index) in findSuggestionsArr(`district-${_uid}`)"
                        :key="`${index}-district-${_uid}`"
                        @click="onHintClick({ area_with_type: suggestion.data.area_with_type }, suggestion)"
                    >
                        <div class="input-component__suggest-row" v-html="suggestion.value"></div>
                    </div>
                </template>
            </cibInput>
        </div>
        <div class="maternalCapitalRequest__row">
            <cibInput
                v-model="model.locality"
                :validator="$v.locality"
                :fieldName="`locality-${_uid}`"
                labelText="Город или населенный пункт"
                :errorMessage="{
                    required: 'Укажите город или населенный пункт',
                    rusInputAndNumbers: errorMessages.rusInputAndNumbers
                }"
                suggestions-api-method="dadataAddressSuggestions"
                :query-params="localityDadataQueryParams"
                :key="`locality-${_uid}`"
                :showSuggestion="showSuggestion[`locality-${_uid}`]"
                @customSuggestions="suggestHandler"
            >
                <template #suggestions>
                    <div
                        class="input-component__suggest"
                        v-for="(suggestion, index) in findSuggestionsArr(`locality-${_uid}`)"
                        :key="`${index}-locality-${_uid}`"
                        @click="onHintClick({ city_with_type: suggestion.data.city_with_type, settlement_with_type: suggestion.data.settlement_with_type }, suggestion)"
                    >
                        <div class="input-component__suggest-row" v-html="suggestion.value"></div>
                    </div>
                </template>
            </cibInput>
        </div>
        <div class="maternalCapitalRequest__row">
            <cibInput
                v-model="model.street"
                :validator="$v.street"
                :fieldName="`street-${_uid}`"
                labelText="Улица"
                :errorMessage="{
                    required: 'Укажите улицу',
                    rusInputAndNumbers: errorMessages.rusInputAndNumbers
                }"
                :key="`street-${_uid}`"
                suggestions-api-method="dadataAddressSuggestions"
                :query-params="streetDadataQueryParams"
                :showSuggestion="showSuggestion[`street-${_uid}`]"
                @customSuggestions="suggestHandler"
            >
                <template #suggestions>
                    <div
                        class="input-component__suggest"
                        v-for="(suggestion, index) in findSuggestionsArr(`street-${_uid}`)"
                        :key="`${index}-street-${_uid}`"
                        @click="onHintClick({ street_with_type: suggestion.data.street_with_type }, suggestion)"
                    >
                        <div class="input-component__suggest-row" v-html="suggestion.value"></div>
                    </div>
                </template>
            </cibInput>
        </div>
        <div class="maternalCapitalRequest__row">
            <cibInput
                v-model="model.houseNum"
                :validator="$v.houseNum"
                :fieldName="`houseNum-${_uid}`"
                labelText="Дом"
                :key="`houseNum-${_uid}`"
                suggestions-api-method="dadataAddressSuggestions"
                :query-params="houseNumDadataQueryParams"
                :showSuggestion="showSuggestion[`houseNum-${_uid}`]"
                @customSuggestions="suggestHandler"
                :errorMessage="{
                    required: 'Укажите дом',
                    rusInputAndNumbers: errorMessages.rusInputAndNumbers
                }"
            ></cibInput>
        </div>
        <div class="maternalCapitalRequest__row">
            <cibInput
                v-model="model.flatNum"
                :validator="$v.flatNum"
                :fieldName="`flatNum-${_uid}`"
                labelText="Квартира"
                :key="`flatNum-${_uid}`"
                :errorMessage="{
                    rusInputAndNumbers: errorMessages.rusInputAndNumbers
                }"
            ></cibInput>
        </div>
    </div>
</template>

<script>
import errorMessages from '../../../services/errorMessages'
import { fiasIdObject } from '../../../config/maternalData'

export default {
    name: 'adressBlock',
    props: {
        $v: {
            type: Object,
            default: () => ({})
        },
        value: {
            type: Object,
            default: () => ({})
        }
    },
    components: {
        cibInput: () => import(/* webpackChunkName: "cibInput" */'../../cibInput'),
    },
    data () {
        return {
            errorMessages,
            model: this.value,
            dadataMeta: {
                residenceAddress: fiasIdObject
            },
            suggestionsArrByFieldName: [],
            fiasIdObject: {},
            dadataTypesObject: {},
            locality: null,
            showSuggestion: {
                [`region-${this._uid}`]: false,
                [`district-${this._uid}`]: false,
                [`locality-${this._uid}`]: false,
                [`street-${this._uid}`]: false,
                [`houseNum-${this._uid}`]: false
            }
        }
    },
    computed: {
        regionDadataQueryParams () {
            return {
                from_bound: { value: 'region' },
                to_bound: { value: 'region' }
            }
        },
        disabledDates () {
            return {
                issuedDate: {
                    from: new Date()
                }
            }
        },
        districtDadataQueryParams () {
            const residenceAddress = this.dadataMeta.residenceAddress
            return {
                locations: [
                    {
                        region_fias_id: residenceAddress.region_fias_id
                    }
                ],
                from_bound: {
                    value: 'area'
                },
                to_bound: {
                    value: 'area'
                },
                restrict_value: true
            }
        },
        localityDadataQueryParams () {
            const residenceAddress = this.dadataMeta.residenceAddress
            const fiasId = residenceAddress.area_fias_id || residenceAddress.region_fias_id
            const fiasIdKey = this.getKeyByValue(residenceAddress, fiasId) || 'region_fias_id'
            return {
                locations: [
                    {
                        [fiasIdKey]: fiasId
                    }
                ],
                from_bound: {
                    value: 'city'
                },
                to_bound: {
                    value: 'settlement'
                },
                restrict_value: true
            }
        },
        streetDadataQueryParams () {
            const residenceAddress = this.dadataMeta.residenceAddress
            const fiasId = residenceAddress.settlement_fias_id || residenceAddress.city_fias_id || null
            const fiasIdKey = this.getKeyByValue(residenceAddress, fiasId) || 'settlement_fias_id'
            return {
                locations: [
                    {
                        [fiasIdKey]: fiasId
                    }
                ],
                from_bound: {
                    value: 'street'
                },
                to_bound: {
                    value: 'street'
                },
                restrict_value: true
            }
        },
        houseNumDadataQueryParams () {
            const residenceAddress = this.dadataMeta.residenceAddress
            const fiasId = residenceAddress.street_fias_id || residenceAddress.settlement_fias_id || null
            const fiasIdKey = this.getKeyByValue(residenceAddress, fiasId) || 'street_fias_id'
            return {
                locations: [
                    {
                        [fiasIdKey]: fiasId
                    }
                ],
                from_bound: {
                    value: 'house'
                },
                restrict_value: true
            }
        }
    },
    methods: {
        findIndexByFieldName (suggestionData) {
            return this.suggestionsArrByFieldName.findIndex(suggestion => {
                return suggestion.fieldName === suggestionData.fieldName
            })
        },
        suggestHandler (suggestionData) {
            const index = this.findIndexByFieldName(suggestionData)
            if (index === -1) {
                this.suggestionsArrByFieldName.push(suggestionData)
            } else {
                this.suggestionsArrByFieldName[index].suggestions = suggestionData.suggestions
            }
            this.showSuggestion[suggestionData.fieldName] = true
        },
        onHintClick (valueTypesObj, suggestionData) {
            this.fiasIdObject = {
                region_fias_id: suggestionData.data.region_fias_id,
                area_fias_id: suggestionData.data.area_fias_id,
                city_fias_id: suggestionData.data.city_fias_id,
                settlement_fias_id: suggestionData.data.settlement_fias_id,
                street_fias_id: suggestionData.data.street_fias_id,
                house_fias_id: suggestionData.data.house_fias_id
            }
            this.dadataTypesObject = {
                region_with_type: suggestionData.data.region_with_type,
                area_with_type: suggestionData.data.area_with_type,
                city_with_type: suggestionData.data.city_with_type,
                settlement_with_type: suggestionData.data.settlement_with_type,
                street_with_type: suggestionData.data.street_with_type,
                house_with_type: suggestionData.data.house_with_type,
                ...valueTypesObj
            }
            this.dadataMeta.residenceAddress = this.fiasIdObject
            if (this.dadataTypesObject.settlement_with_type && !this.dadataTypesObject.city_with_type) {
                this.locality = this.dadataTypesObject.settlement_with_type
            } else if (!this.dadataTypesObject.settlement_with_type && this.dadataTypesObject.city_with_type) {
                this.locality = this.dadataTypesObject.city_with_type
            } else if (this.dadataTypesObject.settlement_with_type && this.dadataTypesObject.city_with_type) {
                this.locality = `${this.dadataTypesObject.city_with_type}, ${this.dadataTypesObject.settlement_with_type}`
            }
            this.fill()
            for (const key in this.showSuggestion) {
                this.showSuggestion[key] = false
            }
        },
        fill () {
            this.model.region = this.dadataTypesObject.region_with_type
            this.model.district = this.dadataTypesObject.area_with_type
            this.model.locality = this.locality
            this.model.street = this.dadataTypesObject.street_with_type
            this.model.houseNum = this.dadataTypesObject.house_with_type
        },
        getKeyByValue (object, value) {
            return Object.keys(object).find(key => object[key] === value)
        },
        findSuggestionsArr (fieldName) {
            let result = this.suggestionsArrByFieldName.find(item => {
                return item.fieldName === fieldName
            })
            result = result ? result.suggestions : []
            return result
        }
    },
    watch: {
        model: {
            deep: true,
            handler () {
                this.$emit('input', this.model)
            }
        }
    }
}
</script>
