<template>
    <div class="feedBackPageForm__row" >
        <cibInput
            :validator="$v.formData.account"
            fieldName="account"
            v-model="formData.account"
            mask="99999999999999999999"
            labelText="Расчетный счет"
            :errorMessage="{
                account: 'Расчетный счет должен состоять из 20 цифр'
            }"
        >
        </cibInput>
    </div>
</template>

<script>
import fieldsMixin from '../../../../mixins/feedBackPage/fieldsMixin'
export default {
    name: 'accountField',
    mixins: [fieldsMixin]
}
</script>
