<template>
    <div class="feedBackPageForm__col feedBackPageForm__col_checkbox">
        <cibInput
            :validator="$v.formData.agreement"
            v-model="formData.agreement"
            fieldName="agreement"
            inputType="checkbox"
            checkboxSize="small"
        >
            <template #labelText>
                <span>
                    Я согласен с обработкой моих данных в соответствии с федеральным законом Российской Федерации<br>
                    <cibLink href="https://rg.ru/2006/07/29/personaljnye-dannye-dok.html" :blank="true">«О персональных данных»</cibLink>
                </span>
            </template>
        </cibInput>
    </div>
</template>

<script>
import fieldsMixin from '../../../../mixins/feedBackPage/fieldsMixin'
export default {
    name: 'agreementField',
    mixins: [fieldsMixin],
    components: {
        cibLink: () => import(/* webpackChunkName: "cibLink" */'../../../link'),
    }
}
</script>
