<template>
    <div class="feedBackPageForm__row">
        <cibInput
            :validator="$v.formData.appVersion"
            fieldName="appVersion"
            v-model="formData.appVersion"
            labelText="Укажите версию приложения"
            :errorMessage="{
                required: 'Укажите версию приложения'
            }"
        />
    </div>
</template>

<script>
import fieldsMixin from '../../../../mixins/feedBackPage/fieldsMixin'
export default {
    name: 'appVersion',
    mixins: [fieldsMixin]
}
</script>
