<template>
    <div class="feedBackPageForm__row feedBackPageForm__row_flex">
        <div class="feedBackPageForm__col feedBackPageForm__col_fileList">
            <div class="feedBackPageForm__fileList fileList" v-show="formData.files.length">
                <div class="fileList__item" v-for="(file, index) in formData.files" :key="index">
                    <div class="fileList__fileName">{{ file.name }} ({{transformSize(file.size)}} КБ)</div>
                    <img class="fileList__delete" src="../../../../assets/img/trash.svg" alt="" @click.prevent="deleteFile(index)">
                </div>
            </div>
            <div class="feedBackPageForm__col feedBackPageForm__col_file" v-show="formData.files.length < 5">
                <input type="file" name="" id="" ref="files" class="feedBackPageForm__file" @change="onImageSelection($event.target.files)">
                <cibButton @click.prevent="browseFiles" colorTheme="pseudo">
                    <img class="feedBackPageForm__clip" src="../../../../assets/img/clip.svg" alt="">Прикрепить файл
                </cibButton>
                <div class="feedBackPageForm__fileErrors">
                    {{ uploadFileErrors.join(', ') }}
                </div>
            </div>
            <div class="feedBackPageForm__ext">
                Допустимые форматы<br>{{ availableExtentions.join(', ') }}
            </div>
        </div>
        <div class="feedBackPageForm__col feedBackPageForm__col_attention">
            <slot name="attention"></slot>
        </div>
    </div>
</template>

<script>
import { mapFields } from 'vuex-map-fields'
import fieldGroupMixin from '../../../../mixins/feedBackPage/fieldGroupMixin'
import { mapActions, mapGetters } from 'vuex'
export default {
    name: 'attachFiles',
    mixins: [fieldGroupMixin],
    mounted () {
        this.setFileExtentions()
    },
    computed: {
        ...mapFields([
            'formData',
            'uploadFileErrors',
            'availableExtentions',
            'hostParam'
        ]),
        ...mapGetters([
            'isReduceMedicLoan',
            'isCreditHolidays',
            'isReduceFNSLoan'
        ])
    },
    methods: {
        ...mapActions([
            'getOfficesList'
        ]),
        transformSize (value) {
            return Math.round(value / 1024)
        },
        deleteFile (index) {
            const files = [...this.formData.files]
            files.splice(index, 1)
            this.formData.files = [...files]
        },
        onImageSelection (files) {
            if (!files.length) {
                return false
            }
            const file = files[0]
            const ext = /[^.]+$/.exec(file.name)[0].toLowerCase()
            if (!this.availableExtentions.includes(ext)) {
                this.uploadFileErrors.push('Недопустимое расширение файла')
                return false
            }
            const sumFilesSize = this.formData.files.reduce((sum, current) => {
                return sum + current.size
            }, 0) + file.size
            if (sumFilesSize > this.availableSize) {
                this.uploadFileErrors.push('Суммарный размер файлов не должен превышать 15 МБ')
                return false
            }
            this.formData.files.push(file)
        },
        browseFiles () {
            this.uploadFileErrors = []
            this.$refs.files.click()
        },
        setFileExtentions () {
            this.$refs.files.value = ''
            this.formData.files = []
            if (this.isCreditHolidays || this.isReduceMedicLoan || this.isReduceFNSLoan) {
                this.getOfficesList({
                    params: '&dataQuery=requestLoanindiv',
                    host: this.hostParam
                })
                this.availableExtentions = ['pdf', 'jpeg', 'jpg', 'tiff', 'tif', 'png']
            } else {
                this.getOfficesList({
                    params: '',
                    host: this.hostParam
                })
                this.availableExtentions = ['zip', 'rar', '7z', 'txt', 'rtf', 'doc', 'docx', 'xls', 'xlsx', 'ods', 'odt', 'jpg', 'jpeg', 'bmp', 'png', 'pdf']
            }
        }
    },
    watch: {
        isCreditHolidays () {
            this.setFileExtentions()
        },
        isReduceMedicLoan () {
            this.setFileExtentions()
        },
    }
}
</script>
