<template>
    <section class="baseFields">
        <transition-group name="slide-fade">
            <div class="feedBackPageForm__custom-radio-buttons custom-radio-buttons" key="feedBackPageForm__custom-radio-buttons" v-if="showTopicAndDirection">
                <div class="custom-radio-buttons__radio-wr" v-for="(option, index) in topicOptions" :value="option" :key="index">
                    <input v-model="formData.topic" class="custom-radio-buttons__radio" type="radio" :name="`topicOption-${index}`" :id="`topicOption-${index}`" :value="option">
                    <label class="custom-radio-buttons__label" :for="`topicOption-${index}`">
                        {{ option }}
                    </label>
                </div>
            </div>
            <clientField :$v="$v" key="clientField" v-if="showTopicAndDirection"></clientField>
            <div class="baseFields__row" key="achtung-button" v-if="isNoClientFiz">
                <div class="baseFields__achtung-button" @click.prevent="setScammersForm">Сообщить банку о подозрении на мошенничество</div>
            </div>
            <directionField :$v="$v" v-if="showTopicAndDirectionMod" key="directionField"></directionField>
            <div class="baseFields__achtung" key="attention" v-if="isScammersForm">Уважаемый Клиент! При подозрении на возможное мошенническое использование карты (или ее реквизитов) посторонними лицами, рекомендуем немедленно связаться с Банком для блокировки карты в целях безопасности. Контактный номер телефона круглосуточной технической поддержки банковских карт <a href="tel:88002009109" class="baseFields__link">8 800 200 91 09</a></div>
        </transition-group>
    </section>
</template>

<script>
import { mapFields } from 'vuex-map-fields'
import { mapGetters } from 'vuex'
import fieldGroupMixin from '../../../../mixins/feedBackPage/fieldGroupMixin'

export default {
    name: 'baseFields',
    mixins: [fieldGroupMixin],
    components: {
        clientField: () => import(/* webpackChunkName: "clientField" */'./clientField'),
        directionField: () => import(/* webpackChunkName: "directionField" */'./directionField'),
    },
    computed: {
        ...mapFields([
            'formData',
            'topicOptions',
            'showTopicAndDirection'
        ]),
        ...mapGetters([
            'showTopicAndDirectionMod',
            'isScammersForm',
            'isNoClientFiz'
        ])
    },
    methods: {
        setScammersForm () {
            this.formData.notClient = false
            this.formData.direction = 'Сообщить банку о подозрении на мошенничество'
        }
    }
}
</script>

<style scoped lang="scss">
.baseFields {
    &__achtung {
        margin-bottom: 16px;
        color: #ff3860;
        font-size: 15px;
        line-height: 1.2;
    }
    &__row {
        margin-bottom: 24px;
        display: inline-block;
    }
    &__link {
        color: #ff3860;
        text-decoration: none;
    }
    &__achtung-button {
        background: #f14668;
        color: #fff;
        padding: 14px 24px;
        border-radius: 4px;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
            background: darken(#f14668, 5%);
        }
    }
}
</style>
