<template>
    <div class="feedBackPageForm__row">
        <cibInput
            :validator="$v.formData.browserName"
            fieldName="browserNameField"
            v-model="formData.browserName"
            labelText="Укажите наименование браузера"
            :errorMessage="{
                required: 'Укажите наименование браузера'
            }"
        />
    </div>
</template>

<script>
import fieldsMixin from '../../../../mixins/feedBackPage/fieldsMixin'
export default {
    name: 'browserNameField',
    mixins: [fieldsMixin]
}
</script>
