<template>
    <div class="feedBackPageForm__row">
        <cibInput
            v-model="formData.callBackPhone"
            v-bind="attributes"
        />
    </div>
</template>

<script>
import fieldsMixin from '../../../../mixins/feedBackPage/fieldsMixin'
import merge from 'lodash/merge'
export default {
    name: 'callBackPhoneField',
    mixins: [fieldsMixin],
    computed: {
        attributes () {
            let obj = {}
            const attributes = {
                validator: this.$v.formData.callBackPhone,
                fieldName: 'callBackPhoneField',
                labelText: 'Номер телефона с которого звонили',
                mask: '+7 (999) 999-99-99',
                'mask-options': {
                    clearMaskOnLostFocus: true,
                    inputmode: 'tel'
                },
                errorMessage: {
                    required: 'Укажите номер телефона',
                    phone: 'Номер телефона должен содержать 11 цифр в формате +7 (999) 999-99-99'
                }
            }
            obj = merge(attributes, this.attrs)
            return obj
        }
    }
}
</script>
