<template>
    <div class="feedBackPageForm__row feedBackPageForm__row_client">
        <cibInput
            v-model="formData.notClient"
            fieldName="clientField"
            inputType="checkbox"
            check-box-type="toggle"
        >
            <template #labelText>
                <span>
                    Я не являюсь Клиентом банка, но хочу оставить обращение
                </span>
            </template>
        </cibInput>
    </div>
</template>

<script>
import fieldsMixin from '../../../../mixins/feedBackPage/fieldsMixin'
export default {
    name: 'clientField',
    mixins: [fieldsMixin]
}
</script>
