<template>
    <div class="feedBackPageForm__row">
        <cibInput
            :validator="$v.formData.contactMethod"
            fieldName="contactMethodField"
            v-model="formData.contactMethod"
            labelText="Способ контакта"
            inputTag="select"
            select-label-position="inside"
        >
            <template #selectOptions>
                <option value="" disabled selected></option>
                <option v-for="(option, index) in contactMethodOptions" :value="option" :key="index">{{ option }}</option>
            </template>
        </cibInput>
    </div>
</template>

<script>
import fieldsMixin from '../../../../mixins/feedBackPage/fieldsMixin'
import { mapFields } from 'vuex-map-fields'
export default {
    name: 'contactMethodField',
    mixins: [fieldsMixin],
    computed: {
        ...mapFields([
            'contactMethodOptions'
        ])
    }
}
</script>
