<template>
    <div class="feedBackPageForm__row">
        <cibInput
            v-model="formData.dateAndTime"
            v-bind="attributes"
        />
    </div>
</template>

<script>
import fieldsMixin from '../../../../mixins/feedBackPage/fieldsMixin'
import merge from 'lodash/merge'
export default {
    name: 'dateAndTimeField',
    mixins: [fieldsMixin],
    computed: {
        currentDate () {
            const date = new Date()
            return date
        },
        attributes () {
            let obj = {}
            const attributes = {
                validator: this.$v.formData.dateAndTime,
                fieldName: 'dateAndTimeField',
                labelText: 'Дата и время звонка',
                mask: '99.99.9999 99:99',
                'v-date-picker-support': true,
                'v-max-date': this.currentDate,
                vMode: 'dateTime',
                'v-is24hr': true,
                errorMessage: {
                    required: 'Необходимо выбрать дату и время',
                    date: 'Некорректный формат'
                }
            }
            obj = merge(attributes, this.attrs)
            return obj
        }
    }
}
</script>
