<template>
    <div class="feedBackPageForm__row">
        <cibInput
            :validator="$v.formData.direction"
            fieldName="directionField"
            v-model="formData.direction"
            labelText="Тема обращения"
            inputTag="select"
            select-label-position="inside"
        >
            <template #selectOptions>
                <option value="" disabled selected></option>
                <option v-for="(option, index) in currentDirectionOptions" :value="option" :key="index">{{ option }}</option>
            </template>
        </cibInput>
    </div>
</template>

<script>
import fieldsMixin from '../../../../mixins/feedBackPage/fieldsMixin'
import { mapGetters } from 'vuex'
export default {
    name: 'directionField',
    mixins: [fieldsMixin],
    computed: {
        ...mapGetters([
            'currentDirectionOptions'
        ])
    }
}
</script>
