<template>
    <div class="feedBackPageForm__row">
        <cibInput
            inputType="email"
            :validator="$v.formData.email"
            fieldName="emailField"
            v-model="formData.email"
            :labelText="labelText"
            :errorMessage="{
                email: 'Введите e-mail в формате pochta@mail.ru'
            }"
        />
    </div>
</template>

<script>
import fieldsMixin from '../../../../mixins/feedBackPage/fieldsMixin'
import { mapGetters } from 'vuex'
export default {
    name: 'emailField',
    mixins: [fieldsMixin],
    computed: {
        ...mapGetters([
            'isEmailContactMethod'
        ]),
        labelText () {
            let result = 'E-Mail'
            if (this.isEmailContactMethod) {
                result = 'Ваш e-mail, на который поступило письмо'
            }
            return result
        }
    }
}
</script>
