<template>
    <div class="feedBackPageForm__row">
        <cibInput
            :validator="$v.formData.fakeEmail"
            fieldName="fakeEmailField"
            v-model="formData.fakeEmail"
            labelText="Укажите e-mail, с которого поступило письмо"
            :errorMessage="{
                required: 'Укажите e-mail, с которого поступило письмо'
            }"
        />
    </div>
</template>

<script>
import fieldsMixin from '../../../../mixins/feedBackPage/fieldsMixin'
export default {
    name: 'fakeEmailField',
    mixins: [fieldsMixin]
}
</script>
