<template>
    <div class="feedBackPageForm__row">
        <cibInput
            :validator="$v.formData.fakeSiteAddress"
            fieldName="fakeSiteAddressField"
            v-model="formData.fakeSiteAddress"
            labelText="Укажите адрес подменного сайта"
            :errorMessage="{
                required: 'Укажите адрес сайта'
            }"
        />
    </div>
</template>

<script>
import fieldsMixin from '../../../../mixins/feedBackPage/fieldsMixin'
export default {
    name: 'fakeSiteAddressField',
    mixins: [fieldsMixin]
}
</script>
