<template>
    <div class="feedBackPageForm__row">
        <cibInput
            fieldName="feedBackAfterCheck"
            v-model="formData.feedBackAfterCheck"
            labelText="Прошу предоставить ответ по итогам проверки"
            input-type="checkbox"
            checkBoxType="toggle"
        >
        </cibInput>
    </div>
</template>

<script>
import fieldsMixin from '../../../../mixins/feedBackPage/fieldsMixin'

export default {
    name: 'feedBackAfterCheck',
    mixins: [fieldsMixin],
}
</script>

<style scoped>

</style>