<template>
    <div class="feedBackPageForm__row">
        <cibInput
            :validator="$v.formData.fio"
            fieldName="fioField"
            v-model="formData.fio"
            labelText="ФИО"
            :errorMessage="{
                required: 'Введите ФИО как в паспорте',
                ruDashSpace: 'Только русские буквы, дефис и пробел',
                maxLength: `Максимально допустимое количество символов {max}`
            }"
        />
    </div>
</template>

<script>
import fieldsMixin from '../../../../mixins/feedBackPage/fieldsMixin'
export default {
    name: 'fioField',
    mixins: [fieldsMixin]
}
</script>
