<template>
    <div class="feedBackPageForm__row">
        <cibInput
            v-model="formData.creditDate"
            :validator="$v.formData.creditDate"
            fieldName="holidaysDateField"
            labelText="Желаемая дата начала каникул"
            mask="99.99.9999"
            :v-date-picker-support="true"
            :v-min-date="currentDate"
            :errorMessage="{
                required: 'Необходимо выбрать дату выдачи документа',
                date: 'Некорректная дата'
            }"
        />
    </div>
</template>

<script>
import fieldsMixin from '../../../../mixins/feedBackPage/fieldsMixin'
export default {
    name: 'holidaysDateField',
    mixins: [fieldsMixin],
    computed: {
        currentDate () {
            const date = new Date()
            return date
        },
    }
}
</script>
