<template>
    <div class="feedBackPageForm__row" >
        <cibInput
            :validator="$v.formData.loanNumber"
            fieldName="loanNumberField"
            v-model="formData.loanNumber"
            labelText="Номер кредитного договора"
            mask="9{8,10}"
            :errorMessage="{
                loanNumber: `Номер должен состоять из 8-10 цифр`
            }"
        />
    </div>
</template>

<script>
import fieldsMixin from '../../../../mixins/feedBackPage/fieldsMixin'
export default {
    name: 'loanNumberField',
    mixins: [fieldsMixin]
}
</script>
