<template>
    <div class="feedBackPageForm__row feedBackPageForm__row_message">
        <cibInput
            :validator="$v.formData.message"
            v-model="formData.message"
            inputTag="textarea"
            fieldName="messageField"
            labelText="Сообщение"
            :placeholder="placeholder"
            auto-resize
            :errorMessage="{
                maxLength: `Максимально допустимое количество символов {max}`
            }"
        />
    </div>
</template>

<script>
import fieldsMixin from '../../../../mixins/feedBackPage/fieldsMixin'
import { mapGetters } from 'vuex'
export default {
    name: 'messageField',
    mixins: [fieldsMixin],
    computed: {
        ...mapGetters([
            'isScammersForm'
        ]),
        placeholder () {
            let result = 'Введите текст сообщения'
            if (this.isScammersForm) {
                result = 'Укажите все, что вам известно: ФИО, должность, название организации, от имени которой с вами общались - даже если это вымышленные мошенником данные, а также направленные Вам документы.'
            }
            return result
        }
    }
}
</script>
