<template>
    <div class="feedBackPageForm__row">
        <label class="input-component__single-label input-component__single-label_required">{{ subdivisionText }}</label>
        <v-select :options="officesList" :reduce="value => value.id" label="value" v-model="formData.officeId">
            <template #open-indicator>
                <img src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iOSIgdmlld0JveD0iMCAwIDE4IDkiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+DQo8cGF0aCBkPSJNMSAxTDkgOEwxNyAxIiBzdHJva2U9IiM4RDhEOEQiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+DQo8L3N2Zz4NCg==" alt="">
            </template>
            <template #no-options>
                Подразделений не найдено
            </template>
        </v-select>
    </div>
</template>

<script>
import fieldsMixin from '../../../../mixins/feedBackPage/fieldsMixin'
import { mapFields } from 'vuex-map-fields'
import { mapGetters } from 'vuex'
export default {
    name: 'emailField',
    mixins: [fieldsMixin],
    components: {
        vSelect: () => import(/* webpackChunkName: "vueSelect" */'vue-select'),
    },
    computed: {
        ...mapFields([
            'officesList'
        ]),
        ...mapGetters([
            'subdivisionText'
        ])
    }
}
</script>

<style lang="scss">
$vs-border-width: 0px;
@import "vue-select/src/scss/vue-select.scss";
</style>
