<template>
    <section class="organizationFields">
        <organizationField :$v="$v" v-if="isLegal"></organizationField>
        <innField :$v="$v" v-if="isLegal"></innField>
    </section>
</template>

<script>
import { mapFields } from 'vuex-map-fields'
import { mapGetters } from 'vuex'
import fieldGroupMixin from '../../../../mixins/feedBackPage/fieldGroupMixin'

export default {
    name: 'organizationFields',
    mixins: [fieldGroupMixin],
    components: {
        organizationField: () => import(/* webpackChunkName: "organizationField" */'./organizationField'),
        innField: () => import(/* webpackChunkName: "innField" */'./innField'),
    },
    computed: {
        ...mapFields([
            'formData',
        ]),
        ...mapGetters([
            'isLegal'
        ])
    },
}
</script>
