<template>
    <div class="feedBackPageForm__row" >
        <cibInput
            :validator="$v.formData.organization"
            fieldName="organizationField"
            v-model="formData.organization"
            labelText="Название организации (ФИО для ИП)"
            :showSuggestion="showSuggestion.organizationField"
            :disableSuggest="!isLegal"
            suggestionsApiMethod="companyNameSuggestions"
            @customSuggestions="suggestionsHandler"
        >
            <template #suggestions>
                <div class="input-component__suggest" v-for="(suggestion, index, key) in suggestionsFromComponent" :key="key" @click="onAutocompleteCompany(suggestion, 'organizationField')">
                    <div class="input-component__suggest-row" v-html="suggestion.value"></div>
                    <div class="input-component__suggest-row">{{ `ИНН: ${suggestion.additionalInfo.inn}; ${suggestion.additionalInfo.address}` }}</div>
                </div>
            </template>
        </cibInput>
    </div>
</template>

<script>
import fieldsMixin from '../../../../mixins/feedBackPage/fieldsMixin'
import { mapFields } from 'vuex-map-fields'
import { mapGetters } from 'vuex'
export default {
    name: 'organizationField',
    mixins: [fieldsMixin],
    computed: {
        ...mapFields([
            'formData',
            'suggestionsFromComponent',
            'showSuggestion'
        ]),
        ...mapGetters([
            'isLegal'
        ])
    },
    methods: {
        suggestionsHandler (payload) {
            this.suggestionsFromComponent = payload.suggestions
            this.showSuggestion[payload.fieldName] = true
        },
        onAutocompleteCompany (suggestion, fieldName) {
            const inn = suggestion.additionalInfo.inn
            if (inn) {
                this.formData.inn = inn
            }
            // if (!this.isLegalInn) {
            //     this.formData.organization = suggestion.name.full
            // } else {
                this.formData.organization = suggestion.name.short_with_opf
            // }
            this.showSuggestion[fieldName] = false
        },
    }
}
</script>
