<template>
    <div class="feedBackPageForm__row" >
        <cibInput
            :validator="$v.formData.passportData"
            fieldName="passportDataField"
            v-model="formData.passportData"
            labelText="Паспортные данные"
            mask="99 99 999999"
            :errorMessage="{
                passportData: 'Введите серию и номер паспорта'
            }"
        />
    </div>
</template>

<script>
import fieldsMixin from '../../../../mixins/feedBackPage/fieldsMixin'
export default {
    name: 'passportDataField',
    mixins: [fieldsMixin]
}
</script>
