<template>
    <div class="feedBackPageForm__row">
        <cibInput
            :validator="$v.formData.PCOS"
            fieldName="PCOS"
            v-model="formData.PCOS"
            labelText="Укажите операционную систему ПК"
            :errorMessage="{
                required: 'Укажите операционную систему ПК'
            }"
        />
    </div>
</template>

<script>
import fieldsMixin from '../../../../mixins/feedBackPage/fieldsMixin'
export default {
    name: 'PCOSField',
    mixins: [fieldsMixin]
}
</script>
