<template>
    <div class="feedBackPageForm__row">
        <cibInput
            :validator="$v.formData.phoneOS"
            fieldName="phoneOSField"
            v-model="formData.phoneOS"
            labelText="Укажите операционную систему устройства и ее версию"
            :errorMessage="{
                required: 'Укажите операционную систему устройства и ее версию'
            }"
        />
    </div>
</template>

<script>
import fieldsMixin from '../../../../mixins/feedBackPage/fieldsMixin'
export default {
    name: 'phoneOSField',
    mixins: [fieldsMixin]
}
</script>
