<template>
    <div class="feedBackPageForm__row">
        <cibInput
            :validator="$v.formData.phone"
            fieldName="phoneField"
            v-model="formData.phone"
            labelText="Контактный телефон"
            mask="+7 (999) 999-99-99"
            :mask-options="{
                clearMaskOnLostFocus: true,
                inputmode: 'tel',
            }"
            :errorMessage="{
                phone: 'Номер телефона должен содержать 11 цифр в формате +7 (999) 999-99-99'
            }"
        />
    </div>
</template>

<script>
import fieldsMixin from '../../../../mixins/feedBackPage/fieldsMixin'
export default {
    name: 'phoneField',
    mixins: [fieldsMixin]
}
</script>
