<template>
    <div class="feedBackPageForm__row">
        <cibInput
            :validator="$v.formData.phoneModel"
            fieldName="phoneModelField"
            v-model="formData.phoneModel"
            labelText="Укажите производителя и модель Вашего устройства"
            :errorMessage="{
                required: 'Укажите производителя и модель Вашего устройства'
            }"
        />
    </div>
</template>

<script>
import fieldsMixin from '../../../../mixins/feedBackPage/fieldsMixin'
export default {
    name: 'phoneModelField',
    mixins: [fieldsMixin]
}
</script>
