<template>
    <div class="feedBackPageForm__row">
        <cibInput
            :validator="$v.formData.profileLinkOrPhone"
            fieldName="profileLinkOrPhoneField"
            v-model="formData.profileLinkOrPhone"
            labelText="Укажите ссылку на профиль/номер телефона, с которого Вам написали"
            :errorMessage="{
                required: 'Укажите ссылку на профиль/номер телефона'
            }"
        />
    </div>
</template>

<script>
import fieldsMixin from '../../../../mixins/feedBackPage/fieldsMixin'
export default {
    name: 'profileLinkOrPhoneField',
    mixins: [fieldsMixin]
}
</script>
