<template>
    <div class="feedBackPageForm__row">
        <cibInput
            :validator="$v.formData.service"
            fieldName="serviceField"
            v-model="formData.service"
            labelText="Сервис"
            inputTag="select"
            select-label-position="inside"
        >
            <template #selectOptions>
                <option value="" disabled selected></option>
                <option v-for="(option, index) in serviceOptions" :value="option" :key="index">{{ option }}</option>
            </template>
        </cibInput>
    </div>
</template>

<script>
import fieldsMixin from '../../../../mixins/feedBackPage/fieldsMixin'
import { mapGetters } from 'vuex'
import { mapFields } from 'vuex-map-fields'
export default {
    name: 'serviceField',
    mixins: [fieldsMixin],
    computed: {
        ...mapGetters([
            'currentDirectionOptions'
        ]),
        ...mapFields([
            'serviceOptions'
        ])
    }
}
</script>
