<template>
    <div class="feedBackPageForm__row feedBackPageForm__row_slider" >
        <div class="feedBackPageForm__slider-caption">Срок каникул (в месяцах)</div>
        <vue-slider
            v-model="formData.vacationPeriod"
            :min="1"
            :max="6"
            :piecewise="false"
            :piecewise-label="true"
            :tooltip="false"
            :moveLinkByIndex="true"
            :height='3'
            :padding='0'
            :dotSize='20'
            :sliderStyle="{
                'backgroundColor': '#50b848',
                'boxShadow': 'none'
            }"
            :processStyle="{
                'backgroundColor': '#50b848'
            }">
        </vue-slider>
    </div>
</template>

<script>
import fieldsMixin from '../../../../mixins/feedBackPage/fieldsMixin'
export default {
    name: 'vacationPeriodField',
    mixins: [fieldsMixin],
    components: {
        vueSlider: () => import(/* webpackChunkName: "vueSlider" */'../../vue-slider'),
    },
    computed: {
        currentDate () {
            const date = new Date()
            return date
        },
    }
}
</script>
