<template>
    <div class="acquiring-calc">
        <div class="acquiring-calc__row">

            <div class="acquiring-calc__col">
                <cibInput
                    inputTag="select"
                    fieldName="category"
                    v-model="categorySelected"
                    labelText="Категория торговой точки"
                >
                <template #selectOptions>
                    <option v-for="(category, key, index) in categories" :key="index" :value="key">{{ category.label }}</option>
                </template>
                </cibInput>
            </div>

            <div class="acquiring-calc__col">
                <label for="count" class="acquiring-calc__label">Количество терминалов</label>
                <div class="input-wr">
                    <input id="count" type="tel" class="acquiring-calc__input" v-model="terminalsCount">
                </div>
            </div>

            <div class="acquiring-calc__col">
                <cibInput
                    v-model="acquiringSelected"
                    inputType="radio"
                    fieldName="acquiring"
                    :itemsArr="acquiringValues"
                    labelForGroup="Был ли ранее эквайринг?"
                ></cibInput>
            </div>

            <div class="acquiring-calc__col">
                <cibInput
                    v-model="equipmentSelected"
                    inputType="radio"
                    fieldName="equipment"
                    :itemsArr="equipmentValues"
                    labelForGroup="Оборудование"
                ></cibInput>
            </div>

            <div class="acquiring-calc__col acquiring-calc__col_rev">
                <label for="rev" class="acquiring-calc__label">Оборот</label>
                <div class="input-wr">

                    <currency-input
                        v-model="revSum"
                        ref="sum"
                        className="input-wr__input"
                        id="rev">
                    </currency-input>
                    <vue-slider
                            v-model="revSliderValue"
                            ref="revSlider"
                            @callback="sumSliderChanged"
                            :min="0"
                            :max="revRealValues.length - 1"
                            :piecewise="false"
                            :piecewise-label="true"
                            :tooltip="false"
                            :real-time="true"
                            :height="3"
                            :dot-size="20"
                            :sliderStyle="{
                                'backgroundColor': '#50b848',
                                'boxShadow' : 'none'
                            }"
                            :process-style="{
                                'backgroundColor': '#50b848',
                            }"
                            :label-style="{
                                'color': '#b2b2b2'
                            }"
                            >
                        <span
                            slot="label"
                            slot-scope="label"
                            class="vue-slider-piecewise-label"
                            >{{ revSliderData[label.index] }}</span>
                    </vue-slider>
                </div>
                <div class="acquiring-calc__rev-description">{{ revDescription }}</div>
            </div>

            <div class="acquiring-calc__col">
                <cibInput
                    inputTag="select"
                    fieldName="checkingAccount"
                    v-model="checkingAccount"
                    labelText="Расчетный счет"
                >
                <template #selectOptions>
                    <option v-for="(item, index) in checkingAccountValues" :key="index" :value="item.value">{{ item.text }}</option>
                </template>
                </cibInput>
            </div>
        </div>

        <div class="acquiring-calc__result result">
            <div class="result__caption">Предложение для Вас:</div>
            <div class="result__result" v-if="isClient">
                <span>{{ textSelectedCategory }} - {{ proc }}</span><span v-if="showNote"> *</span>
            </div>
            <div class="result__result" v-else>
                <span>{{ textSelectedCategory }}: <br>
                5% когда Ваш счет в другом банке <br>
                {{ proc }}<span v-if="showNote"> *</span> с бесплатным открытием счета в ПАО КБ «Центр-инвест».</span>
            </div>
        </div>
        <div class="acquiring-calc__note" v-if="showNote">* {{ noteText }}</div>
    </div>
</template>

<script>
import * as utils from '../utils/common'
import { categories } from '../config/acquiringCalcData'
export default {
    name: 'AcquiringCalc',
    components: {
        CurrencyInput: () => import(/* webpackChunkName: "currencyInput" */'./components/CurrencyInput'),
        VueSlider: () => import(/* webpackChunkName: "vueSlider" */'./components/vue-slider'),
        cibInput: () => import(/* webpackChunkName: "cibInput" */'./cibInput')
    },
    data () {
        return {
            revSum: 250000,
            revSliderValue: null,
            changeSumFromSlider: false,
            revSumIntervals: [100000, 250000, 500000, 1000000],
            revRealValues: [],
            revSliderData: [],
            equipmentSelected: 'free',
            acquiringSelected: 'yes',
            categorySelected: 'fastFood',
            checkingAccount: 'cinv',
            terminalsCountData: 1,
            isVisibleHint: false,
            equipmentValues: [
                {
                    text: 'Бесплатное оборудование банка',
                    value: 'free'
                },
                {
                    text: 'Покупка POS-терминала',
                    value: 'buy'
                }
            ],
            acquiringValues: [
                {
                    text: 'Да',
                    value: 'yes'
                },
                {
                    text: 'Нет',
                    value: 'no'
                }
            ],
            checkingAccountValues: [
                {
                    text: 'Расчетный счет в ПАО КБ "Центр-инвест',
                    value: 'cinv'
                },
                {
                    text: 'Расчетный счет в другом банке',
                    value: 'other'
                }
            ],
            categories: categories
        }
    },
    computed: {
        terminalsCount: {
            get () {
                return this.terminalsCountData
            },
            set (value) {
                let newValue = parseInt(value.replace(/[^0-9]/g, ''))
                if (isNaN(newValue)) {
                        newValue = 0
                    }
                this.terminalsCountData = newValue
                this.$forceUpdate()
            }
        },
        revDescription () {
            return this.acquiringSelected === 'yes'
            ? 'Укажите оборот за один месяц по Вашим терминалам'
            : 'Укажите суммарный оборот наличными, по Вашим торговым точкам'
        },
        rev () {
            return this.acquiringSelected === 'yes'
            ? this.revSum / this.terminalsCount
            : (this.revSum * 0.2) / this.terminalsCount
        },
        textSelectedCategory () {
            return this.categories[this.categorySelected].label
        },
        isClient () {
            return this.checkingAccount !== 'other'
        },
        proc () {
            const revArr = this.categories[this.categorySelected].equipment[this.equipmentSelected].rev
            let value = null
            revArr.forEach((element) => {
                if (element.minSum <= this.rev && this.rev <= element.maxSum) {
                    value = element.value
                } else {
                    return false
                }
            })
            return value
        },
        noteText () {
            const text = '700 рублей - минимальная комиссия, которая взимается только если оборот по терминалу не превышает 100 000 рублей. При более высоком обороте комиссия не взимается.'
            return text
        },
        showNote () {
            return this.proc === '2,5% + 700 рублей'
        }
    },
    methods: {
        sumSliderChanged () {
            this.changeSumFromSlider = true
        },
        changeSum () {
            this.changeSumFromSlider = false
            const closest = utils.findClosest(this.revSum, this.revRealValues)
            this.revSliderValue = this.revRealValues.indexOf(closest)
        },
        toggleDescription () {
            this.isVisibleHint = !this.isVisibleHint
        }
    },
    watch: {
        revSliderValue () {
            if (this.changeSumFromSlider) {
                this.revSum = this.revRealValues[this.revSliderValue]
            }
        },
        revSum () {
            this.changeSum()
        }
    },
    created () {
        this.revRealValues = utils.createArraysForSlider(this.revSumIntervals).realValues
        this.revSliderData = utils.createArraysForSlider(this.revSumIntervals).sliderValues
        this.changeSum()
    }
}
</script>

<style lang="scss">
    .input-component__single-label {
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 1;
    color: #575755;
}
</style>

<style scoped lang="scss">
@import '../assets/styles/acquiringCalc';
</style>
