<template>
    <div class="cib-button-wr">
        <a @click="emit($event)" :id="id" :href="href" :class="classObject" v-if="type === 'link-button'" rel="noopener noreferrer" :target="blank ? '_blank' : ''">
            <slot>Название кнопки</slot>
            <svg class="cib-button__arrow" v-if="withArrow" width="12" height="8" viewBox="0 0 12 8" xmlns="http://www.w3.org/2000/svg">
                <path d="M11.3536 4.35355C11.5488 4.15829 11.5488 3.84171 11.3536 3.64645L8.17157 0.464466C7.97631 0.269204 7.65973 0.269204 7.46447 0.464466C7.2692 0.659728 7.2692 0.976311 7.46447 1.17157L10.2929 4L7.46447 6.82843C7.2692 7.02369 7.2692 7.34027 7.46447 7.53553C7.65973 7.7308 7.97631 7.7308 8.17157 7.53553L11.3536 4.35355ZM0 4.5L11 4.5V3.5L0 3.5L0 4.5Z" />
            </svg>
        </a>
        <button @click="emit($event)" :id="id" type="submit" :class="classObject" :disabled="disabled"  v-if="type === 'form-button'">
            <slot>Название кнопки</slot>
            <svg class="cib-button__arrow" width="12" height="8" viewBox="0 0 12 8" xmlns="http://www.w3.org/2000/svg" v-if="withArrow">
                <path d="M11.3536 4.35355C11.5488 4.15829 11.5488 3.84171 11.3536 3.64645L8.17157 0.464466C7.97631 0.269204 7.65973 0.269204 7.46447 0.464466C7.2692 0.659728 7.2692 0.976311 7.46447 1.17157L10.2929 4L7.46447 6.82843C7.2692 7.02369 7.2692 7.34027 7.46447 7.53553C7.65973 7.7308 7.97631 7.7308 8.17157 7.53553L11.3536 4.35355ZM0 4.5L11 4.5V3.5L0 3.5L0 4.5Z" />
            </svg>
        </button>
    </div>
</template>

<script>
export default {
    name: 'cib-button',
    props: {
        href: {
            type: String
        },
        colorTheme: {
            type: String,
            default: 'yellow',
            validator: (value) => {
                const availableValues = ['green', 'green-empty', 'disabled', 'yellow', 'pseudo']
                const isValid = availableValues.indexOf(value) >= 0
                if (!isValid) {
                    console.error(`Не допустимое значение '${value}', параметра colorTheme`)
                    console.warn('Доступные свойства:')
                    console.warn(availableValues.join(', '))
                }
                return isValid
            }
        },
        disabled: {
            type: Boolean,
            default: false
        },
        type: {
            type: String,
            default: 'link-button',
            validator: (value) => {
                const availableValues = ['link-button', 'form-button']
                const isValid = availableValues.indexOf(value) >= 0
                if (!isValid) {
                    console.error(`Не допустимое значение '${value}', параметра type`)
                    console.warn('Доступные свойства:')
                    console.warn(availableValues.join(', '))
                }
                return isValid
            }
        },
        customClass: {
            type: String,
            default: ''
        },
        withArrow: {
            type: Boolean,
            default: false
        },
        arrowDirection: {
            type: String,
            default: 'right',
            validator: (value) => {
                const availableValues = ['right', 'left']
                const isValid = availableValues.indexOf(value) >= 0
                if (!isValid) {
                    console.error(`Не допустимое значение '${value}', параметра arrowDirection`)
                    console.warn('Доступные свойства:')
                    console.warn(availableValues.join(', '))
                }
                return isValid
            }
        },
        blank: {
            type: Boolean,
            default: false
        },
        id: {
            type: String
        }
    },
    computed: {
        classObject () {
            const obj = {}
            if (this.customClass) {
                obj[`${this.customClass}`] = true
            }
            obj['cib-button'] = true
            obj[`cib-button_${this.colorTheme}`] = true
            obj['cib-button_disabled'] = this.disabled
            obj['cib-button_withArrow'] = this.withArrow
            obj[`cib-button_${this.arrowDirection}`] = this.withArrow
            return obj
        }
    },
    methods: {
        emit ($event) {
            if (!this.disabled) {
                this.$emit('click', $event)
            }
        }
    }
}
</script>

<style lang="scss">
    @import '../assets/styles/button';
</style>
