<template>
    <div class="input-component">
        <div class="input-component__wr" :class="{'input-component__wr_valid' : isValid}" v-if="inputTextTypeSupportList.includes(inputType) && inputTag === 'input' && !datepickerSupport">
            <div class="input-component__box-shadow">
                <v-date-picker v-model="modifiedInputValue" v-bind="vDatePickerAttr" v-if="!issetVco && vDatePickerSupport">
                    <template v-slot="{ inputValue, inputEvents }">
                        <input
                            v-if="!issetVco"
                            :id="fieldName"
                            :name="fieldName"
                            :type="inputType"
                            :class="classListInput"
                            ref="input"
                            :placeholder="placeholder"
                            :disabled="disabled"
                            :maxlength="maxlength"
                            :value="inputValue"
                            v-on="customInputEvents(inputEvents)"
                        >
                    </template>
                </v-date-picker>
                <input
                    v-if="!issetVco && !vDatePickerSupport"
                    :id="fieldName"
                    :name="fieldName"
                    :type="inputType"
                    :class="classListInput"
                    v-model.trim="modifiedInputValue"
                    @focus="eventHandler"
                    @blur="eventHandler"
                    @input="eventHandler"
                    @paste="eventHandler"
                    ref="input"
                    :placeholder="placeholder"
                    :disabled="disabled"
                    :maxlength="maxlength"
                >
                <input
                    v-if="issetVco && !vDatePickerSupport"
                    :id="fieldName"
                    :name="fieldName"
                    :type="inputType"
                    :class="classListInput"
                    v-model.trim="modifiedInputValue"
                    @focus="eventHandler"
                    @blur="eventHandler"
                    @input="eventHandler"
                    @paste="eventHandler"
                    ref="input"
                    :placeholder="placeholder"
                    :disabled="disabled"
                    :maxlength="maxlength"
                    v-currency="vco"
                >
                <label
                    v-show="showlabel"
                    :for="this.fieldName"
                    class="input-component__label"
                    :class="{ 'input-component__label_focus' : onFucus || !!modifiedInputValue.toString().length }"
                >
                    <span class="input-component__label-text" :class="{'input-component__label-text_required' : isShowRequiredStar }">{{ labelText }}</span>
                </label>
            </div>
            <div class="input-component__suggest-wr" v-if="showSuggest && suggestSupport && suggestions.length" ref="suggestions">
                <slot name="suggestions">
                    <div class="input-component__suggest"
                         v-for="(item, index, key) in suggestions"
                         :key="key"
                         v-html="item.value"
                         @click="selectValueFromSuggest(item)"
                    >
                    </div>
                </slot>
            </div>
            <div class="input-component__loader" v-if="isDadataSend"></div>
        </div>
        <div class="input-component__wr" v-if="inputTag === 'select'">
            <label
                v-if="selectLabelPosition === 'outside' && showlabel"
                :for="this.fieldName"
                class="input-component__select-label-outside"
                :class="{'input-component__select-label-outside_required' : isShowRequiredStar }"
            >
                {{ labelText }}
            </label>
            <div class="select-wr">
                <label
                    v-if="selectLabelPosition === 'inside' && showlabel"
                    :for="this.fieldName"
                    class="input-component__select-label-inside"
                    :class="{
                        'input-component__select-label-inside_required' : isRequired,
                        'input-component__select-label-inside_focus': this.onFucus || !!this.modifiedInputValue.toString().length
                    }"
                >
                    <span class="input-component__label-text">{{ labelText }}</span>
                </label>
                <select :class="classListSelect" :name="this.fieldName" :id="this.fieldName" v-model="modifiedInputValue" :disabled="disabled">
                    <slot name="selectOptions"></slot>
                </select>
                <img src="../assets/img/selectArrow.svg" alt="">
            </div>
        </div>
        <div class="input-component__wr" v-if="inputTag === 'textarea'">
            <label :for="this.fieldName" v-show="showlabel" class="input-component__single-label" :class="{'input-component__single-label_required' : isShowRequiredStar }">{{ labelText }}</label>
            <textarea
                :name="this.fieldName"
                :id="this.fieldName"
                v-model.trim="modifiedInputValue"
                :class="classListInput"
                @focus="eventHandler"
                @blur="eventHandler"
                @input="eventHandler"
                :disabled="disabled"
                :placeholder="placeholder"
                :maxlength="maxlength"
                ref="textarea"
                ></textarea>
        </div>
        <div class="input-component__box-shadow" v-if="datepickerSupport">
            <datepicker
                :calendar-class="dpo['calendar-class']"
                :wrapper-class="dpo['wrapper-class']"
                :input-class="dpo['input-class']"
                :format="dpo['format']"
                :language="dpo['language']"
                v-model="dateFormat"
                :typeable="dpo['typeable']"
                :name="dpo['name']"
                :id="dpo['id']"
                :open-date="dpo['open-date']"
                :highlighted="dpo['highlighted']"
                :disabled-dates="dpo['disabled-dates']"
                :full-month-name="dpo['full-month-name']"
                :placeholder="dpo['placeholder']"
                :inline="dpo['inline']"
                :monday-first="dpo['monday-first']"
                :clear-button="dpo['clear-button']"
                :clear-button-icon="dpo['clear-button-icon']"
                :calendar-button="dpo['calendar-button']"
                :calendar-button-icon="dpo['calendar-button-icon']"
                :calendar-button-icon-content="dpo['calendar-button-icon-content']"
                :day-cell-content="dpo['day-cell-content']"
                :bootstrap-styling="dpo['bootstrap-styling']"
                :disabled="dpo['disabled']"
                :required="dpo['required']"
                :use-utc="dpo['use-utc']"
                :initial-view="dpo['initial-view']"
                :minimum-view="dpo['minimum-view']"
                :maximum-view="dpo['maximum-view']"
                ref="datePicker"
            >
                <label
                    v-show="showlabel"
                    :for="this.fieldName"
                    slot="afterDateInput"
                    class="input-component__label"
                    :class="{ 'input-component__label_focus' : onFucus || !!modifiedInputValue.toString().length }"
                >
                    <span class="input-component__label-text" :class="{'input-component__label-text_required' : isShowRequiredStar }">{{ labelText }}</span>
                </label>
            </datepicker>
        </div>
        <div class="input-component__wr" v-if="inputType === 'checkbox'">
            <label v-if="labelForGroup" class="input-component__single-label" :class="{'input-component__single-label_required' : isShowRequiredStar }" v-html="labelForGroup"></label>
            <div class="checkboxes-wr">
                <div :class="`checkboxes-wr__checkbox-${checkBoxType}`" v-for="(item, index) in groupItems" :key="index">
                    <input
                        type="checkbox"
                        :id="`${fieldName}_${_uid}_${index}`"
                        :name="fieldName"
                        :value="item.value"
                        v-model="modifiedInputValue"
                        @change="changeCheckBox"
                        :true-value="trueValue"
                        :false-value="falseValue"
                        :disabled="disabled"
                    >
                    <label :for="`${fieldName}_${_uid}_${index}`" :class="`checkboxes-wr__label checkboxes-wr__label_${checkboxSize} checkboxes-wr__label_${checkboxColor}`">
                        <span class="checkboxes-wr__label-text">
                            <slot name="labelText" :item="item"><span v-html="item.text"></span></slot>
                        </span>
                    </label>
                </div>
            </div>
        </div>
        <div class="input-component__wr" v-if="inputType === 'radio'">
            <label v-if="labelForGroup" class="input-component__single-label" :class="{'input-component__single-label_required' : isRequired }" v-html="labelForGroup"></label>
            <div class="radio-wr">
                <div class="radio-wr__radio" v-for="(item, index) in groupItems" :key="index">
                    <input type="radio" :name="fieldName" :id="`${fieldName}_${_uid}_${index}`" v-model="modifiedInputValue" :value="item.value" :disabled="disabled">
                    <label :for="`${fieldName}_${_uid}_${index}`" class="radio-wr__label">
                        <span class="checkboxes-wr__label-text">
                            <slot name="labelText" :item="item"><span v-html="item.text"></span></slot>
                        </span>
                    </label>
                </div>
            </div>
        </div>
        <div :class="classListHint" v-if="showHint" v-html="hint"></div>
    </div>
</template>

<script>
import Inputmask from 'inputmask'
import { SuggestionsApiClient } from '../services/suggestionsApiClinet'
import { formatMoney } from '../utils/common'
import debounce from 'lodash/debounce'
import merge from 'lodash/merge'
import Datepicker from 'v-calendar/lib/components/date-picker.umd'
import { CurrencyDirective, parse } from 'vue-currency-input'
import moment from 'moment'

export default {
    name: 'cibInput',
    components: {
        datepicker: () => import(/* webpackChunkName: "vuejsDatepicker" */'@hokify/vuejs-datepicker'),
        vDatePicker: Datepicker
    },
    directives: {
        currency: CurrencyDirective
    },
    props: {
        validator: {
            type: Object,
            default: () => {
                return {}
            }
        },
        vDatePickerSupport: {
            type: Boolean
        },
        vDatePickerMask: {
            type: Object,
            default: () => ({})
        },
        vMinDate: {
            type: Date
        },
        vMaxDate: {
            type: Date
        },
        vDisabledDates: {
            type: Object
        },
        vAvailableDates: {
            type: Object
        },
        vIs24hr: {
            type: Boolean,
            default: false
        },
        vMode: {
            type: String,
            default: 'date'
        },
        value: {
            type: [String, Number, Date, Boolean, Array, Object]
        },
        inputType: {
            type: String,
            default: 'text'
        },
        sumFormatted: {
            type: Boolean,
            default: false
        },
        labelText: {
            type: String,
            default: ''
        },
        inputHint: {
            type: String,
            default: ''
        },
        inputTag: {
            type: String,
            default: 'input',
            validator: (value) => {
                const availableValues = ['input', 'select', 'textarea']
                const isValid = availableValues.indexOf(value) >= 0
                if (!isValid) {
                    console.error(`Не допустимое значение '${value}', параметра inputTag`)
                    console.warn('Доступные свойства:')
                    console.warn(availableValues.join(', '))
                }
                return isValid
            }
        },
        mask: {
            type: [String, Object],
            default: ''
        },
        selectLabelPosition: {
            type: String,
            default: 'outside',
            validator: (value) => {
                const availableValues = ['outside', 'inside']
                const isValid = availableValues.indexOf(value) >= 0
                if (!isValid) {
                    console.error(`Не допустимое значение '${value}', параметра selectLabelPosition`)
                    console.warn('Доступные свойства:')
                    console.warn(availableValues.join(', '))
                }
                return isValid
            }
        },
        maskOptions: {
            type: Object,
            default: () => {
                return {}
            }
        },
        fieldName: {
            type: String,
            default: 'default',
            required: true
        },
        placeholder: {
            type: String,
            default: ''
        },
        showSuggestion: {
            type: Boolean,
            default: false
        },
        suggestionType: {
            type: String,
            validator: (value) => {
                const availableValues = ['ib_only', 'legal_only']
                const isValid = availableValues.indexOf(value) >= 0
                if (!isValid) {
                    console.error(`Не допустимое значение '${value}', параметра suggestionType`)
                    console.warn('Доступные свойства:')
                    console.warn(availableValues.join(', '))
                }
                return isValid
            }
        },
        surnameAttr: {
            type: String
        },
        customSuggestionsList: {
            type: Array,
            default: () => {
                return []
            }
        },
        suggestionsApiMethod: {
            type: String,
            validator: (value) => {
                const params = Object.keys(SuggestionsApiClient).filter(item => {
                    return item !== 'suggestions'
                })
                const availableValues = params
                const isValid = availableValues.indexOf(value) >= 0
                if (!isValid) {
                    console.error(`Не допустимое значение '${value}', параметра suggestionsApiMethod`)
                    console.warn('Доступные свойства:')
                    console.warn(availableValues.join(', '))
                }
                return isValid
            }
        },
        queryParams: {
            type: Object,
            default: () => {
                return {}
            }
        },
        disableSuggest: {
            type: Boolean,
            default: false
        },
        companySuggestPrefix: {
            type: String,
            required: false,
            default: null
        },
        required: {
            type: Boolean,
            default: false
        },
        errorMessage: {
            type: Object,
            default: () => {
                return {}
            }
        },
        maxlength: {
            type: Number
        },
        disabled: {
            type: Boolean,
            default: false
        },
        datepickerSupport: {
            type: Boolean,
            default: false
        },
        datePickerOption: {
            type: Object,
            default: () => {
                return {}
            }
        },
        vCurrencyOptions: {
            type: Object,
            default: () => {
                return {}
            }
        },
        checkboxSize: {
            type: String,
            default: 'big',
            validator: (value) => {
                const availableValues = ['big', 'small']
                const isValid = availableValues.indexOf(value) >= 0
                if (!isValid) {
                    console.error(`Не допустимое значение '${value}', параметра checkboxSize`)
                    console.warn('Доступные свойства:')
                    console.warn(availableValues.join(', '))
                }
                return isValid
            }
        },
        checkboxColor: {
            type: String,
            default: 'green',
            validator: (value) => {
                const availableValues = ['green', 'grey']
                const isValid = availableValues.indexOf(value) >= 0
                if (!isValid) {
                    console.error(`Не допустимое значение '${value}', параметра checkboxColor`)
                    console.warn('Доступные свойства:')
                    console.warn(availableValues.join(', '))
                }
                return isValid
            }
        },
        checkBoxType: {
            type: String,
            default: 'classic',
            validator: (value) => {
                const availableValues = ['classic', 'toggle']
                const isValid = availableValues.indexOf(value) >= 0
                if (!isValid) {
                    console.error(`Не допустимое значение '${value}', параметра checkBoxType`)
                    console.warn('Доступные свойства:')
                    console.warn(availableValues.join(', '))
                }
                return isValid
            }
        },
        itemsArr: {
            type: Array
        },
        labelForGroup: {
            type: String
        },
        trueValue: {
            type: [String, Boolean],
            default: true
        },
        falseValue: {
            type: [String, Boolean],
            default: false
        },
        replaceCharactersRegExp: {
            type: RegExp
        },
        autoResize: {
            type: Boolean
        }
    },
    created () {
        document.addEventListener('click', (e) => {
            const el = this.$refs.suggestions
            if (typeof el !== 'undefined') {
                const target = e.target
                if (target !== el && !el.contains(target)) {
                    this.showSuggest = false
                }
            }
        })
        this.errorMessages = Object.assign(this.errorMessages, this.errorMessage)
        this.debounceGetHint = debounce(this.getHint, 300)
    },
    async mounted () {
        if (this.mask && !this.datepickerSupport) {
            Inputmask(`${this.mask}`, this.maskOptions).mask(this.$refs.input)
        }
        await this.setDatepickerEvents()
    },
    data () {
        return {
            inputValue: typeof this.value === 'boolean' ? this.value : this.value === 0 ? this.value : this.value || '',
            dateStr: this.value || null,
            inputTextTypeSupportList: ['text', 'email', 'password', 'number', 'tel'],
            onFucus: false,
            showlabel: !!this.labelText,
            showSuggest: this.showSuggestion,
            suggestClass: 'input-component__suggest',
            timerId: null,
            setValueFromSuggest: false,
            setValueFrominput: false,
            errorMessages: {
                required: 'Обязательное поле'
            },
            suggestions: [],
            fieldTag: null,
            isDadataSend: false,
            changeValueFromThisComponent: false,
        }
    },
    computed: {
        $validator () {
            return this.validator
        },
        activated () {
            let result = this.$validator.$anyDirty || (this.modifiedInputValue === null ? this.modifiedInputValue : this.modifiedInputValue.toString().length)
            if (typeof this.modifiedInputValue === 'boolean') {
                result = this.$validator.$anyDirty || this.changeValueFromThisComponent
            }
            return !!result
        },
        suggestSupport () {
            return (!!this.suggestionsApiMethod || this.customSuggestionsList.length) && !this.disableSuggest
        },
        modifiedInputValue: {
            get () {
                let value = this.inputValue
                if (this.sumFormatted && !this.issetVco) {
                    value = formatMoney(value)
                }
                return value
            },
            set (value) {
                let setValue = this.vDatePickerSupport && value ? this.getDateFormat(value) : value
                this.changeValueFromThisComponent = true
                setValue = this.replaceCharactersRegExp ? setValue.replace(this.replaceCharactersRegExp, '') : setValue
                this.inputValue = setValue
                this.setValueFromSuggest = false
                this.setValueFrominput = true
                if (this.$validator.hasOwnProperty('$touch') && setValue) {
                    this.$validator.$touch()
                }
                this.$forceUpdate()
            }
        },
        vMasks () {
            let obj = {}
            const masks = {
                input: 'DD.MM.YYYY',
                iso: 'DD.MM.YYYY',
                inputDateTime: 'DD.MM.YYYY',
                data: 'DD.MM.YYYY'
            }
            obj = merge(masks, this.vDatePickerMask)
            return obj
        },
        vDatePickerAttr () {
            return {
                masks: this.vMasks,
                'min-date': this.vMinDate,
                'max-date': this.vMaxDate,
                'disabled-dates': this.vDisabledDates,
                'available-dates': this.vAvailableDates,
                is24hr: this.vIs24hr,
                mode: this.vMode
            }
        },
        dpo () {
            let obj = {}
            const options = {
                value: undefined,
                name: undefined,
                id: undefined,
                format: 'DD.MM.YYYY',
                'full-month-name': false,
                language: 'ru',
                'disabled-dates': {},
                highlighted: {
                    dates: [
                        new Date(Date.now())
                    ]
                },
                placeholder: undefined,
                inline: undefined,
                'calendar-class': undefined,
                'input-class': this.classListInput,
                'wrapper-class': this.datePickerClass,
                'monday-first': true,
                'clear-button': false,
                'clear-button-icon': undefined,
                'calendar-button': false,
                'calendar-button-icon': undefined,
                'calendar-button-icon-content': undefined,
                'day-cell-content': undefined,
                'bootstrap-styling': false,
                disabled: false,
                required: false,
                typeable: true,
                'use-utc': false,
                'open-date': undefined,
                'initial-view': 'day',
                'minimum-view': 'day',
                'maximum-view': 'year'
            }
            obj = merge(options, this.datePickerOption)
            obj.id = this.fieldName
            obj.name = this.fieldName
            return obj
        },
        issetVco () {
            return Object.keys(this.vCurrencyOptions).length
        },
        vco () {
            const options = {
                locale: undefined,
                currency: null,
                valueAsInteger: false,
                distractionFree: false,
                precision: undefined,
                autoDecimalMode: false,
                valueRange: undefined,
                allowNegative: false
            }
            return merge(options, this.vCurrencyOptions)
        },
        datePickerClass () {
            const obj = {}
            obj['input-component__wr'] = true
            obj['input-component__wr_valid'] = this.isValid
            return obj
        },
        isValidValidator () {
            return !this.$validator.$invalid
        },
        isValid () {
            return this.activated && this.isValidValidator && this.isRequired
        },
        isInvalid () {
            return this.activated && !this.isValidValidator && this.isRequired
        },
        isRequired () {
            let result = this.required
            let required = this.required
            if (this.$validator.hasOwnProperty('$params')) {
                const validatorParams = Object.keys(this.$validator.$params)
                if (validatorParams.includes('required')) {
                    if (this.$validator.$params.required.type === 'required') {
                        required = true
                    } else {
                        required = this.$validator.$params.required.prop()
                    }
                }
                result = required || !!this.modifiedInputValue
            }
            return result
        },
        isShowRequiredStar () {
            let result = false
            if (this.$validator?.$params?.required) {
                result = Object.prototype.hasOwnProperty.call(this.$validator.$params.required, 'prop') ? this.$validator.$params.required.prop() : true
            }
            return result
        },
        hint () {
            return this.getInputHint(this.$validator)
        },
        classListInput () {
            const obj = {}
            obj[`input-component__${this.inputTag}`] = true
            obj[`input-component__${this.inputTag}_focus`] = this.onFucus || !!this.modifiedInputValue.toString().length
            obj[`input-component__${this.inputTag}_valid`] = this.isValid
            obj[`input-component__${this.inputTag}_invalid`] = this.isInvalid
            obj[`input-component__${this.inputTag}_disabled`] = this.disabled && this.isRequired
            return obj
        },
        classListHint () {
            const obj = {}
            obj['input-component__inputHint'] = true
            obj['input-component__inputHint_hint'] = this.inputHint.length && !this.$validator.$error
            obj['input-component__inputHint_error'] = this.isInvalid
            return obj
        },
        classListSelect () {
            return {
                'select-wr__select': true,
                'select-wr__select_focus': this.onFucus || !!this.modifiedInputValue.toString().length
            }
        },
        groupItems () {
            let result = []
            if (this.itemsArr) {
                if (typeof this.itemsArr[0] === 'object') {
                    result = this.itemsArr
                } else {
                    this.itemsArr.forEach(item => {
                        result.push({
                            text: item,
                            value: item
                        })
                    })
                }
            } else {
                result = [{
                    text: this.labelText,
                    value: this.modifiedInputValue
                }]
            }
            return result
        },
        showHint () {
            return Object.keys(this.$validator).length || this.inputHint.length
        },
        dateFormat: {
            get () {
                let dateStr = this.dateStr
                if (typeof dateStr === 'string' && dateStr !== '') {
                    const dateArr = dateStr.split('.').map(item => {
                        return parseInt(item)
                    })
                    dateStr = new Date(dateArr[2], dateArr[1] - 1, dateArr[0])
                }
                return dateStr
            },
            set (val) {
                const dateStr = new Date(Date.parse(val))
                const format = []
                const obj = {
                    date: dateStr.getDate(),
                    mounth: dateStr.getMonth() + 1,
                    year: dateStr.getFullYear()
                }
                for (const key in obj) {
                    let value = obj[key].toString()
                    if (value.length < 2) {
                        value = `0${value}`
                    }
                    format.push(value)
                }
                this.modifiedInputValue = val === null ? '' : format.join('.')
                this.dateStr = val
                this.$forceUpdate()
            }
        },
        isSimpleSuggest () {
            let isSimpleSuggest = false
            if (this.suggestions.length) {
                this.suggestions.forEach(item => {
                    isSimpleSuggest = Object.keys(item).length === 1
                    if (isSimpleSuggest) return false
                })
            }
            return isSimpleSuggest
        }
    },
    methods: {
        getDateFormat(value) {
            const modes = {
                date: moment(value).format('DD.MM.YYYY'),
                dateTime: moment(value).format('DD.MM.YYYY H:mm')
            }
            return modes.hasOwnProperty(this.vMode) ? modes[this.vMode] : moment(value).format('DD.MM.YYYY')
        },
        customInputEvents (vEvents) {
            const $this = this
            const input = vEvents.input
            vEvents.input = function (e) {
                input.apply(e, arguments)
            }
            vEvents.focus = function (e) {
                if (e.type === 'focus') {
                    $this.onFucus = true
                }
            }
            vEvents.blur = function (e) {
                if (e.type === 'blur') {
                    $this.onFucus = false
                }
            }
            return vEvents
        },
        setDatepickerEvents () {
            return new Promise((resolve, reject) => {
                if (this.datepickerSupport) {
                    const im = new Inputmask(`${this.mask}`)
                    let field = null
                    const timerId = setInterval(() => {
                        field = document.querySelector(`#${this.fieldName}`)
                        if (field) {
                            clearTimeout(timerId)
                            if (this.dateStr) {
                                field.classList.add(`input-component__${this.inputTag}_focus`)
                            }
                            this.fieldTag = field
                            im.mask(field)
                            field.onfocus = () => {
                                field.classList.add(`input-component__${this.inputTag}_focus`)
                            }
                            field.onblur = () => {
                                if (!this.dateStr) {
                                    field.classList.remove(`input-component__${this.inputTag}_focus`)
                                }
                            }
                            resolve()
                        }
                    }, 5)
                }
            })
        },
        changeCheckBox () {
            if (this.$validator.hasOwnProperty('$touch')) {
                this.$validator.$touch()
            }
            this.$emit('change')
        },
        eventHandler (e) {
            if (e.type === 'focus') {
                this.onFucus = true
            }

            if (e.type === 'blur') {
                this.onFucus = false
            }

            if (e.type === 'input') {
                this.modifiedInputValue = e.target.value
            }
            if (!this.issetVco) {
                this.$emit(e.type, this.inputValue)
            }
        },
        selectValueFromSuggest (item) {
            this.showSuggest = false
            this.setValueFrominput = false
            this.modifiedInputValue = item.value
            this.setValueFromSuggest = true
            this.$emit('onHintClick', { ...item, fieldName: this.fieldName })
        },
        getInputHint (validator) {
            let message = ''
            if (this.isInvalid) {
                const params = Object.keys(validator.$params)
                let key
                params.some(function (param) {
                    if (!validator[param]) {
                        key = param
                        return true
                    }
                    return false
                })
                message = this.errorMessages.required
                if (key && this.errorMessages.hasOwnProperty(key)) {
                    switch (key) {
                        case 'minLength':
                        case 'minValue':
                            message = this.errorMessages[key].replace('{min}', validator.$params[key].min)
                            break
                        case 'minLength':
                        case 'maxLength':
                            message = this.errorMessages[key].replace('{max}', validator.$params[key].max)
                            break
                        default:
                            message = this.errorMessages[key]
                            break
                    }
                }
            }
            if (this.inputHint.length > 0 && !validator.$error) {
                message = this.inputHint
            }

            return message
        },
        async getHint () {
            if (this.suggestSupport) {
                const value = this.modifiedInputValue.replace(/_/g, '').trim()
                if (this.customSuggestionsList.length) {
                    let findOffices = []
                    if (value) {
                        const regexp = new RegExp(`${value}`, 'i')
                        findOffices = this.customSuggestionsList.filter((item) => {
                            return item.match(regexp)
                        })

                        findOffices = findOffices.map((item) => {
                            return {
                                value: item
                            }
                        })
                        this.showSuggest = !!value
                        this.suggestions = findOffices
                    }
                } else {
                    if (value) {
                        const params = {
                            query: this.companySuggestPrefix ? this.companySuggestPrefix + value : value,
                            suggestionType: this.suggestionType,
                            firstName: this.surnameAttr,
                            ...this.queryParams
                        }
                        if (!this.isDadataSend) {
                            this.isDadataSend = true
                            const response = await SuggestionsApiClient[this.suggestionsApiMethod](params)
                            if (response && response.status !== 200) {
                                console.error(response.statusText)
                            } else if (!response) {
                                console.error(`response - ${response}`)
                            } else {
                                const suggestions = response.data.suggestions
                                this.showSuggest = !!value
                                this.suggestions = suggestions
                                if (!this.isSimpleSuggest) {
                                    this.$emit('customSuggestions', {
                                        suggestions,
                                        fieldName: this.fieldName
                                    })
                                    // if (process.env.NODE_ENV !== 'production') {
                                    //     console.warn(`Объект подсказок поля '${this.labelText}' имеет сложную структуру, рекомендуется ручная обработка. Массив подсказок возращается по событию 'customSuggestions'`)
                                    // }
                                }
                            }
                            this.isDadataSend = false
                        }
                    }
                }
            }
        }
    },
    watch: {
        showSuggestion (n) {
            this.showSuggest = n
            this.setValueFromSuggest = true
            this.setValueFrominput = false
        },
        inputValue () {
            this.getInputHint(this.$validator)
            if (!this.setValueFromSuggest && this.setValueFrominput) {
                this.debounceGetHint()
            }
            if (this.inputTag === 'textarea' && this.autoResize) {
                const value = this.$refs.textarea.scrollHeight <= 104 ? 104 : this.$refs.textarea.scrollHeight
                this.$refs.textarea.style.height = `${value}px`
            }
            this.$emit('input', this.inputValue)
        },
        value (n, o) {
            this.inputValue = typeof this.value === 'boolean' ? this.value : this.value === 0 ? this.value : this.value || ''
            if (this.datepickerSupport) {
                this.dateStr = this.value
                const field = document.querySelector(`#${this.fieldName}`)
                field.classList.add(`input-component__${this.inputTag}_focus`)
            }
        }
    }
}
</script>
<style lang="scss">
@import "~@hokify/vuejs-datepicker/dist/vuejs-datepicker.css";
</style>
<style lang="scss" scoped>
    @import '../assets/styles/InputComponentStyles.scss';
</style>
