<template>
    <div class="comment">
        <transition name="fade" mode="out-in">
            <form action="#" class="comment__form comment-form" method="post" @submit.prevent="submitComment"
                v-if="!success" key="form">
                <div class="comment__caption">
                    Была ли страница полезна?
                    <fieldset class="comment-form__fieldset">
                        <span class="star-cb-group" @click="showMessageFiled">
                            <input v-model="commentStarRadio" type="radio" :id="`rating-5-${_uid}`" :name="`rating-${_uid}`"
                                value="5" /><label :for="`rating-5-${_uid}`">5</label>
                            <input v-model="commentStarRadio" type="radio" :id="`rating-4-${_uid}`" :name="`rating-${_uid}`"
                                value="4" /><label :for="`rating-4-${_uid}`">4</label>
                            <input v-model="commentStarRadio" type="radio" :id="`rating-3-${_uid}`" :name="`rating-${_uid}`"
                                value="3" /><label :for="`rating-3-${_uid}`">3</label>
                            <input v-model="commentStarRadio" type="radio" :id="`rating-2-${_uid}`" :name="`rating-${_uid}`"
                                value="2" /><label :for="`rating-2-${_uid}`">2</label>
                            <input v-model="commentStarRadio" type="radio" :id="`rating-1-${_uid}`" :name="`rating-${_uid}`"
                                value="1" /><label :for="`rating-1-${_uid}`">1</label>
                        </span>
                        <div class="comment-form__required-field" v-if="!validField">Поставьте оценку</div>
                    </fieldset>
                </div>

                <transition name="fade">
                    <div v-if="visibleMessage" class="comment-form__message">
                        <div class="comment-form__row">
                            <cibInput
                                inputTag="textarea"
                                fieldName="comment"
                                v-model="commentMessage"
                                placeholder="Вы можете оставить комментарий"
                                :maxlength="300"
                            >
                            </cibInput>
                        </div>
                        <div class="comment-form__button-wr">
                            <cibButton type="form-button" colorTheme="green-empty" customClass="comment-form__button">Оценить</cibButton>
                        </div>
                    </div>
                </transition>
                <div class="comment-form__overlay" v-show="formSumbit">
                    <div class="loader"></div>
                </div>
            </form>
            <div class="comment-form__overlay comment-form__overlay_success" v-else key="message">
                <div class="comment-form__success-message">Спасибо!</div>
            </div>
        </transition>
    </div>
</template>

<script>
    export default {
        name: 'commentPageForm',
        components: {
            cibButton: () => import(/* webpackChunkName: "cibButton" */'./Button'),
            cibInput: () => import(/* webpackChunkName: "cibInput" */'./cibInput')
        },
        data () {
            return {
                success: false,
                visibleMessage: false,
                commentMessage: null,
                formSumbit: false,
                validField: true,
                commentStarRadio: null
            }
        },
        computed: {
            pathName () {
                return window.location.pathname
            }
        },
        methods: {
            submitComment () {
                if (this.validateForm()) {
                    this.formSumbit = true
                    // eslint-disable-next-line
                    dataLayer.push({
                        event: 'evaluate',
                        eventAction: `Оценить страницу ${this.pathName}`,
                        eventLabel: `${this.commentMessage}`,
                        eventValue: `${this.commentStarRadio}`
                    })

                    this.commentStarRadio = null
                    this.commentMessage = null
                    this.success = true
                    this.formSumbit = false
                }
            },
            showMessageFiled () {
                this.visibleMessage = true
            },
            validateForm () {
                if (!this.commentStarRadio) {
                    this.validField = false
                    return false
                }
                return true
            }

        }
    }
</script>

<style scoped lang="scss">
    @import '../assets/styles/commentPageForm';
</style>
