<template>
    <div class="credCalc" ref="credCalc">
        <div class="credCalc__no-print" v-if="!model.print">
            <div class="credCalc__row">
                <div class="credCalc__type credit-type" v-show="model.typeSelection">
                    <div class="credit-type__scroll-wrapper">
                        <div class="credit-type__wrapper" ref="creditTypeWrapper" :style="creditTypeWrapperCss">
                            <div class="credit-type__item" :class="{ 'credit-type__item_active': currentCreditTypeElem.index === index }" :data-type="creditType.id" ref="creditType" v-for="(creditType, index) in model.creditTypes.types" :key="creditType.id" @click="setCreditType(creditType.id)">
                                {{ creditType.name }}
                            </div>
                            <div class="credit-type__border"></div>
                            <div class="credit-type__line" :style="creditTypeLineCss"></div>
                        </div>
                    </div>
                </div>
                <div class="credCalc__control">
                    <transition name="fade" mode="out-in">
                        <component
                            :is="model.creditTypes.model"
                            :programms="currentCreditTypeData"
                            :sliderDataProp="currentSliderData"
                            :incomeParams="incomeParams"
                            :region="model.region"
                            @calculationsCompleted="setParams"
                            @setHint="toggleHint"
                            @onError="errorHandler"
                            v-if="isDataLoad"></component>
                    </transition>
                </div>
                <div class="credCalc__best-offer" v-if="isDataLoad">
                    <div class="best-offer">
                        <transition name="fade" mode="out-in">
                        <div class="best-offer__wr" v-if="!noResults" key="1">
                            <div class="best-offer__caption">Лучшее предложение:</div>
                            <div class="best-offer__row">
                                <div class="best-offer__col">
                                    <div class="best-offer__label">Сумма <span class="best-offer__mob-hide">кредита</span></div>
                                    <div class="best-offer__value">
                                        <animated-integer :value="paramsFromComponent.creditSum"></animated-integer>&nbsp;<span v-html="model.rubSvg"></span>
                                    </div>
                                </div>
                                <div class="best-offer__col">
                                    <div class="best-offer__label"><span class="best-offer__mob-hide">Ежемесячный платеж</span> <span class="best-offer__desk-hide">Платеж</span></div>
                                    <div class="best-offer__value">
                                        <animated-integer :value="bestOffer.minPay"></animated-integer>&nbsp;<span v-html="model.rubSvg"></span>
                                    </div>
                                </div>
                                <div class="best-offer__col">
                                    <div class="best-offer__label">Ставка</div>
                                    <div class="best-offer__value">
                                        <span v-html="bestOffer.minRate"></span>&nbsp;<span>%</span>
                                    </div>
                                </div>
                            </div>
                            <cibButton id="best-offer-button" customClass="best-offer__button" :href="getALoanLink" :blank="!this.model.onCreditForm" @click="sendYaCounter">
                                Оформить заявку
                            </cibButton>
                            <transition name="fade">
                                <div class="credCalc__overlay" v-show="counting">
                                    <div class="credCalc__loader credCalc__loader_fixed"></div>
                                </div>
                            </transition>
                            <div class="best-offer__link-wr" v-if="!noResults" key="2">
                                <cibLink href="#calc-results" colorTheme="white">Смотреть все предложения</cibLink>
                            </div>
                        </div>
                        <div class="best-offer__no-results no-results" v-if="noResults" key="3">
                            <p class="no-results__text">По указанным Вами параметрам кредитных продуктов не найдено.</p>
                            <p class="no-results__text" v-show="errors.isError" v-for="(error, index) in errors.errorMessages" :key="index" v-html="error"></p>
                        </div>
                        </transition>
                    </div>
                </div>
            </div>
            <div class="credCalc__row">
                <transition name="fade" mode="out-in">
                <div id="calc-results" class="credCalc__result calc-result" v-if="!noResults">
                    <div class="calc-result__caption">Предложения для Вас:</div>
                    <div class="calc-result__table calc-result-table">
                        <div class="calc-result-table__row calc-result-table__row_caption">
                            <div class="calc-result-table__col calc-result-table__col_th calc-result-table__col_title">{{ model.tableName.title }}</div>
                            <div class="calc-result-table__col calc-result-table__col_th calc-result-table__col_rate">{{ model.tableName.rate }}</div>
                            <div class="calc-result-table__col calc-result-table__col_th calc-result-table__col_pay">{{ model.tableName.pay }}</div>
                        </div>
                        <div class="calc-result-table__row" v-for="(programm, key) in countedPrograms" :key="key">
                            <div class="calc-result-table__col calc-result-table__col_title">
                                <div class="calc-result-table__sub-row calc-result-table__sub-row_mobile calc-result-table__sub-row_mobile-caption">{{ model.tableName.title }}</div>
                                <div class="calc-result-table__info">
                                    <cibLink :href="programm.url" :blank="true">{{ programm.name }}</cibLink>
                                    {{ programm.description }}
                                    <span>{{ showStar(programm.paysArr[0].rateValue, programm.name) }}</span>
                                </div>
                            </div>
                            <div class="calc-result-table__col calc-result-table__col_rate">
                                <span class="calc-result-table__sub-row calc-result-table__sub-row_mobile calc-result-table__sub-row_mobile-caption">{{ model.tableName.rate }} / {{ model.tableName.pay }}</span>
                                <div class="calc-result-table__sub-row">
                                    <div class="calc-result-table__rates" v-for="(rate, index) in programm.paysArr" :key="index">
                                        <span v-if="programm.paysArr.length > 1"> <span v-if="index">c {{ rate.minPeriod }} <span v-if="programm.monthCalculusPeriod">месяца{{ showMonthStar(programm.name )}}</span> <span v-else>года</span> </span> </span> <mark>{{ rate.rateValue }} %</mark>
                                    </div>
                                </div>
                                <div class="calc-result-table__sub-row calc-result-table__sub-row_mobile">
                                    <div class="calc-result-table__sub-row">
                                        <div class="calc-result-table__pays" v-for="(rate, key) in programm.paysArr" :key="key">
                                            <mark v-html="rate.pay + model.rubSvg"></mark>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="calc-result-table__col calc-result-table__col_pay">
                                <div class="calc-result-table__sub-row">
                                    <div class="calc-result-table__pays" v-for="(rate, key) in programm.paysArr" :key="key">
                                        <mark v-html="rate.pay + model.rubSvg"></mark>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <transition name="fade">
                            <div class="credCalc__overlay" v-show="counting">
                                <div class="credCalc__loader"></div>
                            </div>
                        </transition>
                    </div>
                    <div class="calc-result__buttons-wr">
                        <div class="calc-result__button-wr calc-result__button-wr_print">
                            <a @click.prevent="getPrintData" v-if="!model.onCreditForm" class="calc-result__button calc-result__button_print">Распечатать результат</a>
                        </div>
                        <div class="calc-result__button-wr">
                            <cibButton customClass="calc-result__button calc-result__button_request" :href="getALoanLink" :blank="!model.onCreditForm" @click="sendYaCounter">
                                Оформить заявку
                            </cibButton>
                        </div>
                    </div>
                </div>
                </transition>
                <div class="credCalc-notices">
                    <div class="credCalc__notice credCalc-notice" v-show="notice.minPrepay.showNotice">
                        Внимание! Минимальный <b>авансовый платеж</b> по программе
                        <b>{{ notice.minPrepay.value }}</b>
                        составляет
                        <span class="credCalc-notice__value">{{ this.paramsFromComponent.initPrepaymentPercentage }}</span>
                        <span class="credCalc-notice__percent">%</span>
                    </div>
                    <div class="credCalc__notice credCalc-notice" v-show="notice.mosPrime.showNotice && !noResults">
                        <sup>*</sup>Внимание! Указанная процентная ставка применяется в первые
                        <span id="mp-period">{{ notice.mosPrime.value }}</span> обслуживания кредита,
                        далее &ndash; размер ключевой ставки Центрального банка Российской Федерации
                        по состоянию на 1 октября предыдущего года + 3,5% годовых
                    </div>
                    <div class="credCalc__notice credCalc-notice" v-html="notice.commerce.value" v-show="notice.commerce.showNotice"></div>
                    <div class="credCalc-notices__hints">
                        <p>
                            Обращаем ваше внимание, что данный калькулятор позволяет оценить примерную стоимость кредита.
                            За более точной информацией обратитесь к нашим специалистам в <cibLink href="https://www.centrinvest.ru/ru/branches/offices/" v-if="!model.onCreditForm">ближайший офис</cibLink><span v-else>ближайший офис</span> банка,
                            либо по телефону <br>8&nbsp;863&nbsp;2-000-000, 8&nbsp;800&nbsp;200-99-29.
                        </p>

                        <p class="note-potreb" v-show="isCalcPage">* Указанное <strong>снижение процентной ставки</strong> по кредиту происходит при внесении платежей в счет оплаты по кредиту в течение первого года его обслуживания в сумме, не превышающей размер платежа, указанный в кредитном договоре (без досрочного погашения кредита), без фактов возникновения просроченной задолженности, либо допущения не более трех просроченных платежей, продолжительностью не более десяти календарных дней каждый, а также при отсутствии фактов реструктуризации задолженности по кредиту.</p>

                    </div>
                    <transition name="fade">
                        <modalHint v-if="hintsObj.showHint" :hintText="hintsObj.currentHint" @closeModal="closeHint"></modalHint>
                    </transition>
                </div>
            </div>
            <transition name="fade">
                <div class="credCalc__overlay" v-if="!isDataLoad">
                    <div class="credCalc__loader"></div>
                </div>
            </transition>
        </div>
        <div v-else>
            <print
            :model="model"
            :printPayload="printPayload"></print>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
import {
        SliderDataProvider,
        appConfig
    } from '../config/creditCalcConfigNew'
import merge from 'lodash/merge'

export default {
    name: 'creditCalc',
    props: {
        config: {
            type: Object,
            default: () => {
                return {}
            }
         }
    },
    data () {
        return {
            model: {},
            creditTypeLineCss: {
                transform: 'translateX(0px)',
                width: '100px'
            },
            creditTypeWrapperCss: {
                transform: 'translateX(0px)'
            },
            currentCreditTypeElem: {
                elem: null,
                index: null
            },
            isDataLoad: false,
            countedPrograms: [],
            printPayload: {},
            isProductionMode: process.env.NODE_ENV === 'production',
            incomeParams: {
                sum: 3000000,
                mortgageTypes: appConfig.mortgageTypes,
                showProgrammsList: appConfig.showProgrammsList,
                showMedCheckbox: appConfig.showMedCheckbox,
                showAccCheckbox: appConfig.showAccCheckbox
            },
            paramsFromComponent: {},
            counting: false,
            preloaderTimeOut: null,
            hintsObj: {
                currentHint: null,
                showHint: false
            },
            errors: {}
        }
    },
    components: {
        mortgage: () => import(/* webpackChunkName: "mortgage" */'./creditCalcTypes/mortgage'),
        credit: () => import(/* webpackChunkName: "credit" */'./creditCalcTypes/credit'),
        autocredit: () => import(/* webpackChunkName: "autocredit" */'./creditCalcTypes/autocredit'),
        modalHint: () => import(/* webpackChunkName: "modalHint" */'./components/modalHint'),
        print: () => import(/* webpackChunkName: "creditCalcPrint" */'./components/creditCalcPrintNew'),
        cibInput: () => import(/* webpackChunkName: "cibInput" */'./cibInput'),
        cibLink: () => import(/* webpackChunkName: "cibLink" */'./link'),
        cibButton: () => import(/* webpackChunkName: "cibButton" */'./Button'),
        AnimatedInteger: () => import(/* webpackChunkName: "animatedInteger" */'./components/AnimatedInteger')
    },
    created () {
        this.getIncomeParams()
        this.getHash()
        if (this.model.print) {
            this.getPrintParamsFromStorage()
        } else {
            this.getData()
        }
    },
    computed: {
        hints () {
            const mortgageMoscowProg = this.countedPrograms[0].name
            return {
                client: 'Клиент «Центр-инвест» - лицо, имеющее положительную кредитную историю в ПАО КБ «Центр-инвест», либо являющееся вкладчиком Банка, либо являющееся держателем банковской карты, а также руководители организаций и индивидуальные предприниматели, имеющие открытые расчетные счета в ПАО КБ «Центр-инвест»',
                mortgageMoscow: `Выбор данного места приобретения недвижимости повлияет на максимально возможную сумму кредита для программы ${mortgageMoscowProg}`,
                med: 'Должность заемщика соответствует разделу 1 Приказа Министерства Здравоохранения Российской Федерации от 20 декабря 2012 г. № 1183н'
            }
        },
        isCalcPage () {
            return this.model.creditTypes.model === 'credit' && this.paramsFromComponent.period > 1
        },
        currentCreditTypeData () {
            return this.model.programms ? this.model.programms[`${this.model.creditTypes.model}s`] : null
        },
        currentSliderData () {
            return SliderDataProvider[`${this.model.creditTypes.model}`]
        },
        getALoanLink () {
            const params = [
                `creditType=${this.model.creditTypes.model}`,
                `sum=${this.paramsFromComponent.sum}`,
                `credSum=${this.paramsFromComponent.creditSum}`,
                `period=${this.paramsFromComponent.period}`
            ].join('&')
            if (this.model.hasOwnProperty('appEnv') && this.model.appEnv === 'dev') {
                return `/app_dev.php/cabinet/creditform/from-credit-calc?${params}`
            }
            return `/cabinet/creditform/from-credit-calc?${params}`
        },
        notice () {
            const result = { minPrepay: {}, mosPrime: {}, commerce: {} }
            let showNotice = false
            switch (this.model.creditTypes.model) {
                case 'mortgage':
                    result.minPrepay.value = 'ипотечного кредитования'
                    showNotice = true
                    break
                    case 'autocredit':
                    result.minPrepay.value = 'автокредитования'
                    showNotice = true
                    break
            }
            result.minPrepay.showNotice = showNotice
            result.mosPrime.value = this.model.mortgageTypes.model === 'commerce' ? '3 года' : '10 лет'
            result.mosPrime.showNotice = this.model.creditTypes.model === 'mortgage' && this.model.region !== 'Нижегородская область' && this.model.mortgageTypes.model !== 'postprav65' && this.model.mortgageTypes.model !== 'postprav' && this.model.mortgageTypes.model !== 'village'
            result.commerce.value = 'Внимание! <strong>Заемщиком</strong> по данной программе <strong>НЕ может</strong> выступать <strong>физическое лицо</strong>, зарегистрированное в качестве <strong>индивидуального предпринимателя, а также физическое лицо, являющееся плательщиком налога на профессиональный доход (самозанятым)</strong>'
            result.commerce.showNotice = this.model.creditTypes.model === 'mortgage' && this.model.region !== 'Нижегородская область' && this.model.mortgageTypes.model === 'commerce'
            return result
        },
        showHintcredit () {
            return this.countedPrograms.find(item => item.paysArr[0].rateValue === '10.50') && this.model.creditTypes.model === 'credit' && this.model.typeSelection
        },
        bestOffer () {
            let minRate = 0
            let minPay = 0
            let initRate = 0
            let initSum = 0
            if (this.countedPrograms.length) {
                initRate = parseFloat(this.countedPrograms[0].paysArr[0].rateValue.replace(',', '.'))
                minRate = this.countedPrograms.reduce((min, nextProgramm) => {
                    let rateValue
                    if (this.model.creditTypes.model !== 'credit') {
                        rateValue = nextProgramm.paysArr.reduce((rateValue, currentInstalment) => {
                            return Math.min(rateValue, parseFloat(currentInstalment.rateValue.replace(',', '.')))
                        }, initRate)
                    } else {
                        rateValue = nextProgramm.paysArr[0].rateValue.replace(',', '.')
                    }
                    return Math.min(min, rateValue)
                }, initRate)
                initSum = parseFloat(this.countedPrograms[0].paysArr[0].pay.replace(',', '.').replace(/\s/g, ''))
                minPay = this.countedPrograms.reduce((min, nextProgramm) => {
                    let pay
                    if (this.model.creditTypes.model !== 'credit') {
                        pay = nextProgramm.paysArr.reduce((pay, currentInstalment) => {
                            return Math.min(pay, parseFloat(currentInstalment.pay.replace(',', '.').replace(/\s/g, '')))
                        }, initSum)
                    } else {
                        pay = nextProgramm.paysArr[0].pay.replace(',', '.').replace(/\s/g, '')
                    }
                    return Math.min(min, pay)
                }, initSum)
            }
            return { minRate: minRate.toFixed(2).toString().replace('.', ','), minPay }
        },
        noResults () {
            return this.countedPrograms.length === 0 || this.paramsFromComponent.creditSum < 0
        }
    },
    methods: {
        sendYaCounter () {
            if (window.location.href === '/ru/fiz/kreditovanie/potrebitelskij-kredit/kredit-dlya-vseh') {
                // eslint-disable-next-line no-undef
                yaCounter4814476.reachGoal('clickcredit')
            }
        },
        getData () {
            axios({
                method: 'get',
                url: this.model.url,
                responseType: 'json',
                headers: {
                    'Cache-Control': 'no-cache',
                    Pragma: 'no-cache',
                    Expires: '0'
                }
            })
                .then((response) => {
                    const programms = response.data
                    this.model.programms = programms
                    this.isDataLoad = true
                })
                .catch((error) => {
                    console.log(error)
                })
        },
        getHash () {
            if (window.location.hash) {
                const hash = window.location.hash.replace(/^#/, '').split('&')
                const printPayload = {}
                hash.forEach(item => {
                    const key = item.split('=')[0]
                    const val = item.split('=')[1]
                    printPayload[key] = val ? JSON.parse(val) : null
                })
                this.model.print = printPayload.print
            }
        },
        getPrintParamsFromStorage () {
            if (localStorage.getItem('printPayload')) {
                const printPayload = JSON.parse(localStorage.getItem('printPayload'))
                for (const key in printPayload) {
                    this.$set(this.printPayload, key, printPayload[key])
                }
            }
        },
        setParams (payload) {
            this.countedPrograms = payload.finalProgramms
            for (const key in payload.paramsFromComponent) {
                this.$set(this.paramsFromComponent, key, payload.paramsFromComponent[key])
            }
        },
        getIncomeParams () {
            merge(appConfig, this.config)
            if (typeof window.getRegion === 'function') {
                const region = window.getRegion()
                appConfig.region = region
            }
            this.model = appConfig
            merge(this.incomeParams, this.config)
        },
        toggleHint (payload) {
            this.hintsObj.currentHint = this.hints[payload]
            this.hintsObj.showHint = true
        },
        closeHint () {
            this.hintsObj.showHint = false
        },
        showStar (rate, name) {
            let result
            if (
                (name === 'Потребительский кредит под 10,5% (для клиентов Банка)' && this.model.creditTypes.model === 'credit' && this.model.typeSelection) ||
                (name !== 'Ипотека 5,0 % годовых' &&
                    name !== 'Ипотека 7,0 % годовых' &&
                    name !== 'Ипотека 2,75% на сельских терр. (агломерациях)' &&
                    this.model.creditTypes.model === 'mortgage' &&
                    this.model.region !== 'Нижегородская область'
                )
            ) {
                result = '*'
            } else if (name === 'Потребительский кредит под 10,5% (для клиентов Банка)' && this.model.creditTypes.model === 'credit' && !this.model.typeSelection) {
                result = '***'
            }
            return result
        },
        showMonthStar (name) {
            let result = ''
              if (name === 'Потребительский кредит свыше 1,0 млн. руб.' ||
                name === 'Потребительский кредит свыше 300 тыс. руб. до 1,0 млн. руб. включительно' ||
                  name === 'Потребительский кредит до 300 тыс. руб. включительно' ||
                  name === 'Потребительский кредит под залог недвижимости'
              ) {
                  result = '*'
              }
              return result
        },
        errorHandler (payload) {
            this.errors = payload
        },
        getPrintData () {
            this.printPayload = {
                prepay: this.paramsFromComponent.prepay,
                creditSum: this.paramsFromComponent.creditSum,
                sum: this.paramsFromComponent.sum,
                period: this.paramsFromComponent.period,
                client: this.paramsFromComponent.client,
                ndfl2: this.paramsFromComponent.ndfl2,
                initPrepaymentPercentage: this.paramsFromComponent.initPrepaymentPercentage,
                currentMortgageTypeObject: this.paramsFromComponent.currentMortgageTypeObject,
                notice: this.notice,
                showHintcredit: this.showHintcredit,
                countedPrograms: this.countedPrograms,
                creditType: this.model.creditTypes.model,
                creditTypes: this.model.creditTypes.types,
                region: this.model.region,
                typeSelection: this.model.typeSelection
            }
            let printLink
            if (this.isProductionMode) {
                printLink = '/cred-calc#print=true'
            } else {
                printLink = `${this.$route.path}#print=true`
            }
            const printPayload = JSON.stringify(this.printPayload)
            localStorage.setItem('printPayload', printPayload)
            window.open(
                printLink,
                '_blank'
            )
        },
        getCurrentCreditType () {
            this.currentCreditTypeElem.elem = this.$refs.creditType.find(elem => {
                return elem.dataset.type === this.model.creditTypes.model
            })
            this.currentCreditTypeElem.index = this.$refs.creditType.findIndex(elem => {
                return elem.dataset.type === this.model.creditTypes.model
            })
        },
        setCreditType (id) {
            this.model.creditTypes.model = id
            this.getCurrentCreditType()
        },
        creditTypeLineAction () {
            const width = this.currentCreditTypeElem.elem.offsetWidth
            const offsetLeft = this.currentCreditTypeElem.elem.offsetLeft
            this.creditTypeLineCss.width = `${width}px`
            this.creditTypeLineCss.transform = `translate(${offsetLeft}px)`
        }
    },
    mounted () {
        if (!this.model.print) {
            this.getCurrentCreditType()
        }
    },
    watch: {
        countedPrograms () {
            if (!this.noResults) {
                this.counting = true
                clearTimeout(this.preloaderTimeOut)
                this.preloaderTimeOut = setTimeout(() => {
                    this.counting = false
                }, 300)
            }
        },
        'currentCreditTypeElem.elem' () {
            this.creditTypeLineAction()
        }
        // 'model.mortgageTypes.model' (newValue, oldValue) {
        //     if (oldValue && newValue === 'village') {
        //         this.hintsObj.currentHint = 'Уважаемый клиент, обращаем Ваше внимание, что оформление кредита (заключение кредитного договора) по программе льготного кредитования на сельских территориях (агломерациях) в соответствии с Постановлением Правительства № 1567 от 30.11.2019 г. может задерживаться ввиду ожидания Банком дополнительного лимита субсидирования на 2021 год от Министерства сельского хозяйства Российской Федерации (МСХ РФ).'
        //         this.hintsObj.showHint = true
        //     }
        // }
    }
}
</script>

<style lang="scss">
    .rub-symbol {
        fill: #FFF32A;
        width: 14px;
        height: 15px;
    }
    .calc-result-table {
        .rub-symbol {
            fill: #fff;
            width: 9px;
            height: 10px;
            margin-left: 5px;
        }
        mark {
            font-family: 'PT Sans','PT Sans Caption',PtSansTTF,serif;
            background-color: #50b848;
            border-top: 1px solid #fff;
            color: #fff;
            display: inline-block;
            padding: 3px 5px;
        }

    }
</style>

<style lang="scss" scoped>
    @import '../assets/styles/creditCalc';
</style>
