<template>
    <div class="depositCalc" :class="{'depositCalc_print' : model.stateParams.print}" style="overflow:hidden" v-cloak>
        <div class="depositCalc__noprint-container" v-if="!model.stateParams.print">

            <div class="depositCalc__banner">
                <h1 class="depositCalc__h1">Вклады до {{ bannerRate }}% годовых</h1>
                <img src="../assets/img/depositBanner.jpg" alt="">
            </div>

            <div class="depositCalc__row">
                <div class="depositCalc__col">
                    <div class="sum">
                        <div class="sum__text">Сумма</div>
                        <div class="sum__wr">
                            <div class="sum__group sum__group_with-slider">
                                <cibInput
                                    v-model="model.stateParams.sum"
                                    fieldName="sum"
                                    labelText="Сумма (в рублях)"
                                    :required="false"
                                    :replaceCharactersRegExp="/[^0-9]/g"
                                    :sumFormatted="true"
                                ></cibInput>
                                <div class="element-wrapper-input">
                                    <vue-slider @callback="sumSliderChanged" ref="sumSlider" v-model="model.sumSliderValue"
                                        :min = '0'
                                        :max = 'sumSliderMax'
                                        :piecewise = 'false'
                                        :piecewiseLabel = 'true'
                                        :tooltip = 'false'
                                        :realTime = 'false'
                                        :height = '3'
                                        :dotSize = '20'
                                        :sliderStyle = "{
                                            'backgroundColor': '#50b848',
                                            'boxShadow': 'none'
                                        }"
                                        :processStyle = "{
                                            'backgroundColor': '#50b848'
                                        }"
                                        :labelStyle = "{
                                            'color': '#b2b2b2'
                                        }">
                                        <span slot="label" slot-scope="label" class="vue-slider-piecewise-label">
                                            {{ model.sumSliderData[label.index] }}
                                        </span>
                                    </vue-slider>
                                </div>
                            </div>
                            <div class="currency-item">
                                <div class="currency-item__wr" v-for="(currency, index, key) in model.currencyRadio"
                                    :key="key">
                                    <input type="radio" :id="index" :value="index" v-model="model.stateParams.cur">
                                    <label :for="index" class="currency-item__label" v-html="currency"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="term-place">
                        <div class="depositCalc__text depositCalc__text_margin">Срок размещения</div>
                        <vue-slider ref="termPlaseSlider" v-model="model.stateParams.termPlace" :min="0"
                            :max="sliderData.termPlaceSumSliderData.length" :data="sliderData.termPlaceSumRealValues"
                            :piecewise="false" :piecewise-label="true" :tooltip="false" :real-time="false" :height="3"
                            :dot-size="20" :sliderStyle="{
                                'backgroundColor': '#50b848',
                                'boxShadow' : 'none'
                            }" :process-style="{
                                'backgroundColor': '#50b848',
                            }" :label-active-style="{
                                'color': '#b2b2b2'
                            }">
                            <span slot="label" slot-scope="label" class="vue-slider-piecewise-label">
                                {{ sliderData.termPlaceSumSliderData[label.index] }}
                            </span>
                        </vue-slider>
                    </div>
                </div>
                <div class="depositCalc__col depositCalc__col_right">
                    <cibInput
                        v-for="(checkbox, key) in model.checkBoxes" :key="key"
                        v-model="model.stateParams[key]"
                        :fieldName="key"
                        inputType="checkbox"
                        checkboxSize="small"
                    >
                        <template #labelText v-if="key === 'cap'">
                            {{ checkbox }}
                            <div class="checkboxes-wr__question" @mouseenter="toggleDescription();" @mouseleave="toggleDescription();">
                                <transition name="fade">
                                    <div class="checkboxes-wr__qiestion-descr" v-show="isVisible">
                                        Капитализация процентов — причисление процентов к сумме вклада, позволяет в
                                        дальнейшем осуществлять начисление процентов на проценты.
                                    </div>
                                </transition>
                                ?
                            </div>
                        </template>
                        <template #labelText v-else>
                            {{ checkbox }}
                        </template>
                    </cibInput>
                    <div class="depositCalc__text" v-if="model.stateParams.cap">Периодичность выплаты/начисления %</div>
                    <cibInput
                        v-if="model.stateParams.cap"
                        inputTag="select"
                        fieldName="select"
                        v-model="model.stateParams.periodPayment"
                    >
                        <template #selectOptions>
                            <option value="" disabled selected>...</option>
                            <option v-for="(periodPayment, index, key) in model.periodPaymentSelect" :key="key" :value="index">{{ periodPayment }}</option>
                        </template>
                    </cibInput>
                </div>
            </div>
        </div>

        <div class="depositCalc__print-params" v-if="model.stateParams.print">
            <table class="depositCalc__print-params-table">
                <tbody>
                    <tr>
                        <td><strong>Сумма</strong></td>
                        <td>{{ sumFormatedForPrint }} <span class="currency-symbol" v-html="model.currencyRadio[model.stateParams.cur]"></span></td>
                    </tr>
                    <tr>
                        <td><strong>Срок размещения</strong></td>
                        <td>{{ model.termPlaceSelect[model.stateParams.termPlace] }}</td>
                    </tr>
                    <tr v-for="(checkbox, index, key) in model.checkBoxes" :key="key">
                        <td><strong>{{ checkbox }}</strong></td>
                        <td>
                            <span v-if="model.stateParams[index]">да</span>
                            <span v-else>нет</span>
                        </td>
                    </tr>
                    <tr v-if="model.stateParams.cap">
                        <td><strong>Периодичность выплаты/начисления %</strong></td>
                        <td>{{ model.periodPaymentSelect[model.stateParams.periodPayment] }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="depositCalc__results" :class="{'depositCalc__results_print' : model.stateParams.print}">
            <div class="results-table" v-if="depositsFinal.length > 0">

                <div class="results-table__row results-table__row_caption">
                    <div class="results-table__col"
                    v-for="(tableName, key, index) in model.tableName"
                    :key="key"
                    :class="`results-table__col_${key}`"
                    v-show="!(key === 'yield' && model.stateParams.cur !== 'RUB')"
                    >
                        {{ tableName.name }} <sup v-if="index" class="results-table__sup">{{ index }}</sup>
                    </div>
                </div>

                <div class="results-table__row" v-for="(c, index, key) in depositsFinal" :key="key" :class="{ 'results-table__row_best' : index === 0 }">

                    <div class="results-table__col results-table__col_name">
                        <div class="results-table__name-info"><cibLink :href="c.link">{{ c.name }}</cibLink></div>
                        <div class="results-table__name-info"><span v-if="c.capitalization">капитализация {{ c.capitalization }}, </span>мин. сумма {{ c.minSum }}</div>
                    </div>

                    <div class="results-table__col results-table__col_proc">
                        <div v-for="(rateQ, index, key) in c.rateQ" :key="key" v-if="index < c.profitQ.length" class="results-table__zebra-row">
                            <span v-if="c.procQuart">{{ index + 1 }} кв-л &ndash; {{ rateQ }}&nbsp;%</span>
                            <span v-if="c.procHalfYear">{{ index + 1 }}-е 6 мес. &ndash; {{ rateQ }}&nbsp;%</span>
                        </div>

                        <div v-for="(rate, index, key) in c.rate" :key="key"
                            v-if="(index < c.profit.length) && !(index === 0 && c.profitQ.length > 0)"
                            class="results-table__zebra-row"
                            :class="{'results-table__zebra-row_big-padding': c.profit.length <= 1}">
                            <div v-if="c.name === 'Зеленый'">
                                <span>17 мес. &ndash; </span>{{ rate }}&nbsp;%
                            </div>
                            <div v-else>
                                <span v-if="c.profit.length > 1">{{ index + 1 }} год &ndash; </span>{{ rate }}&nbsp;%
                            </div>
                        </div>

                    </div>

                    <div class="results-table__col results-table__col_yield" v-if="model.stateParams.cur === 'RUB'">
                        <div class="results-table__zebra-row" :class="{'results-table__zebra-row_big-padding': c.msg.length <= 1}" v-for="(msg, index) in c.msg" :key="index">
                            {{ msg }}&nbsp;%
                        </div>
                    </div>

                    <div class="results-table__col results-table__col_profit">
                        <div v-for="(profitQ, index, key) in c.profitQ" :key="key" class="results-table__zebra-row">
                            {{ profitQ }} <span class="currency-symbol" v-html="model.currencyRadio[model.stateParams.cur]"></span>
                        </div>

                        <div v-for="(profit, index, key) in c.profit" v-if="!(index === 0 && c.profitQ.length > 0)"
                            :key="key" class="results-table__zebra-row"
                            :class="{'results-table__zebra-row_bold results-table__zebra-row_big-padding': c.profit.length <= 1}">
                            {{ profit }} <span class="currency-symbol" v-html="model.currencyRadio[model.stateParams.cur]"></span>
                        </div>

                        <div class="results-table__profit-final" v-if="c.profit.length > 1 || (c.profitQ.length > 0)">
                            {{ c.profitFinal }} <span class="currency-symbol" v-html="model.currencyRadio[model.stateParams.cur]"></span>
                        </div>
                    </div>

                </div>

            </div>
            <template v-else>
                <div>Не найдено вкладов, соответствующих указанным параметрам. </div>
            </template>
        </div>
        <div class="depositCalc__print-link-wr">
            <cibLink v-if="depositsFinal.length > 0" onclick="yaCounter4814476.reachGoal('ClickResult');" @click.prevent="printRedirect" colorTheme="greyDark" type="withArrow">Распечатать результат</cibLink>
        </div>

        <div class="depositCalc__warning warning">
            <ul class="warning__list">
                <li class="warning__list-item" v-for="(tableName, key, index) in model.tableName" :key="key" v-show="index && !(key === 'yield' && model.stateParams.cur !== 'RUB')">{{index}} {{ tableName.hint }}</li>
            </ul>
        </div>

        <div class="depositCalc__noprint-container" v-if="!model.stateParams.print">
            <div class="depositCalc-info">
                <div class="depositCalc-info__text">
                    ПАО КБ «Центр-инвест» включен в реестр банков-участников <a href="/ru/strakhovaniye_vkladov"
                        class="depositCalc-info__link">системы
                        обязательного страхования</a> вкладов 9 декабря 2004 года.
                </div>
                <div class="depositCalc-info__banner-wr">
                    <a href="/ru/strakhovaniye_vkladov" class="depositCalc-info__link depositCalc-info__link_img"> <img
                            src="../assets/img/vkl_strah.jpg" alt="Вклады застрахованы"
                            class="depositCalc-info__img"></a>
                </div>
            </div>

            <FeedBack
                callCenterLabel="Вклады"
                >
                <template #text>Если у вас возникли вопросы, оставьте свой номер и мы перезвоним в течение 15 минут</template>
            </FeedBack>
            <div class="depositCalc-info">
                <div class="depositCalc-info__text">
                    Наши специалисты помогут подобрать наиболее оптимальный вариант денежного вклада и
                    проконсультируют по
                    всем интересующим вопросам по телефону информационно-справочной службы
                    <cibLink href="tel:88632000000">(863) 2-000-000</cibLink>.
                </div>
            </div>
            <div class="depositCalc__links-wr">
                <cibLink onclick="yaCounter4814476.reachGoal('ClickOffice');" href="/ru/branches/" :blank="true">Найти ближайший офис</cibLink>
            </div>
            <CommentForm />
        </div>
    </div>
</template>

<script>
/* eslint no-eval: 0 */
    import axios from 'axios'
    import * as utils from '../utils/common'
    import {
        SliderDataProvider,
        appConfig
    } from '../config/depositCalcConfig'

    export default {
        name: 'depositCalc',
        components: {
            vueSlider: () => import(/* webpackChunkName: "vueSlider" */'./components/vue-slider'),
            CommentForm: () => import(/* webpackChunkName: "commentPageForm" */'./CommentPageForm'),
            FeedBack: () => import(/* webpackChunkName: "feedbackForm" */'./FeedbackForm'),
            cibLink: () => import(/* webpackChunkName: "cibLink" */'./link'),
            cibInput: () => import(/* webpackChunkName: "cibInput" */'./cibInput')
        },
        props: {
            region: {
                type: String,
                default: 'Ростовская область'
            }
        },
        data () {
            return {
                sliderData: SliderDataProvider,
                model: {},
                isVisible: false,
                isProductionMode: process.env.NODE_ENV === 'production'
            }
        },
        computed: {
            parseSum () {
                return parseInt(this.model.stateParams.sum)
            },
            bannerRate () {
                if (this.model.deposits === '') {
                    return ''
                }
                const allDeposits = this.model.deposits
                const rates = []
                let ratesArray
                allDeposits.forEach(deposit => {
                    let regionsList = deposit['available-in-regions']
                    let suitableRegion = false
                    if (regionsList) {
                        regionsList = regionsList.split(',')
                        suitableRegion = regionsList.indexOf(this.model.region) !== -1
                    } else {
                        suitableRegion = true
                    }
                    if (!deposit.name.match(/пенсионный/ig) && deposit.name !== '«Максимум+»' && suitableRegion) {
                        ratesArray = deposit.rates
                        ratesArray.forEach(rate => {
                            rates.push(rate['rate-value'])
                        })
                    }
                })
                return Math.max.apply(null, rates).toString().replace('.', ',')
            },
            sumFormatedForPrint () {
                return utils.formatMoney(this.model.stateParams.sum)
            },
            sumSliderMax () {
                return this.model.sumRealValues.length - 1
            },
            hash () {
                const hash = []
                for (const key in this.model.stateParams) {
                    hash.push(`${key}=${this.model.stateParams[key]}`)
                }
                return hash.join('&')
            },
            index () {
                return this.fullYear === 1 && this.restYear === 0 ? 0 : this.fullYear
            },
            termPlaceGet () {
                return parseInt(this.model.stateParams.termPlace.split('-')[0])
            },
            fullYear () {
                return Math.floor(this.termPlaceGet / 12)
            },
            restYear () {
                return this.termPlaceGet % 12
            },
            suitableDeposits () {
                if (this.model.deposits === '') {
                    return []
                }
                const creditsList = []
                const allDeposits = this.model.deposits
                const periodPaymentGet = this.model.stateParams.periodPayment

                allDeposits.forEach((deposit) => {
                    const name = deposit.name
                    const cap = deposit.capitalization
                    const part = deposit['partial-withdrawal']
                    const repl = deposit.replenishment
                    const pens = deposit.pensionary
                    const periodPayment = deposit['payment-of-interest']
                    const cur = deposit.currency
                    const url = deposit.url
                    let ratesArray = []
                    const procQuart = deposit['proc-quarterly']
                    const procHalfYear = deposit['proc-half-year']
                    const gradationInterval = deposit['gradation-interval']
                    let regionsList = deposit['available-in-regions']
                    let suitableRegion = false
                    if (regionsList) {
                        regionsList = regionsList.split(',')
                        suitableRegion = regionsList.indexOf(this.model.region) !== -1
                    } else {
                        suitableRegion = true
                    }

                    ratesArray = deposit.rates

                    let minSum = 0
                    let maxSum = 0
                    let minPeriod = 0
                    let maxPeriod = 0
                    const rateArr = []
                    const dataArr = []
                    const rateQ = []
                    const termPlaceRev = []
                    let termPlace = []

                    if (ratesArray.length === undefined) {
                        minSum = parseInt(ratesArray['min-sum'])
                        maxSum = parseInt(ratesArray['max-sum'])
                        minPeriod = parseInt(ratesArray['min-period'].split('-')[0])
                        maxPeriod = parseInt(ratesArray['max-period'].split('-')[0])
                    } else {
                        minSum = parseInt(ratesArray[0]['min-sum'])
                        maxSum = parseInt(ratesArray[0]['max-sum'])
                        minPeriod = parseInt(ratesArray[0]['min-period'].split('-')[0])
                        maxPeriod = parseInt(ratesArray[0]['max-period'].split('-')[0])
                    }

                    /* Здесь собираются все данные со ставками по годам */
                    ratesArray.forEach((rate, indexArr) => {
                        const minSumData = parseInt(rate['min-sum'])
                        const maxSumData = parseInt(rate['max-sum'])
                        const minPeriodData = parseInt(rate['min-period'].split('-')[0])
                        const maxPeriodData = parseInt(rate['max-period'].split('-')[0])
                        const rateData = parseFloat(rate['rate-value']).toFixed(2)

                        dataArr.push({
                            minSumData: minSumData,
                            maxSumData: maxSumData,
                            minPeriodData: minPeriodData,
                            maxPeriodData: maxPeriodData,
                            rateData: rateData
                        })
                    })
                    /**/
                    let index = this.index
                    let fullYear = this.fullYear
                    const restYear = this.restYear
                    let place = 0
                    if (this.fullYear > 1 && this.restYear === 0) {
                        index--
                    }

                    for (let i = 0; i <= index; i++) {
                        if (i === index && termPlaceRev[0] > 12) {
                            place = 12
                        } else {
                            place = fullYear * 12 + restYear
                        }

                        termPlaceRev[i] = place
                        fullYear--
                    }
                    termPlace = termPlaceRev.reverse()
                    let minSumNakop = 0
                    for (let i = 0; i <= index; i++) {
                        let flag = true
                        let flag1 = true
                        for (let j = 0; j < dataArr.length; j++) {
                            const minSumData = dataArr[j].minSumData
                            const maxSumData = dataArr[j].maxSumData
                            const minPeriodData = dataArr[j].minPeriodData
                            const maxPeriodData = dataArr[j].maxPeriodData
                            const rateData = dataArr[j].rateData
                            const isSelectSumInInterval = minSumData <= this.parseSum && this.parseSum <= maxSumData
                            const isSelectTermPlaseInInterval = minPeriodData <= termPlace[i] && termPlace[i] <= maxPeriodData
                            minSum = Math.min(minSum, minSumData)
                            maxSum = Math.max(maxSum, maxSumData)
                            minPeriod = Math.min(minPeriod, minPeriodData)
                            maxPeriod = Math.max(maxPeriod, maxPeriodData)
                            if (isSelectSumInInterval && (isSelectTermPlaseInInterval || name === 'Зеленый') && flag) {
                                rateArr[i] = rateData
                                flag = false
                            }

                            /** Вклады, где ставка изменяется по кварталам */
                            let interval = 0
                            if (procQuart) {
                                interval = 3
                            }
                            if (procHalfYear) {
                                interval = 6
                            }
                            let indexQuartArr = 0
                            if (procQuart || procHalfYear) {
                                for (let k = interval; k <= 12; k += interval) {
                                    if (maxPeriodData === k && isSelectSumInInterval) {
                                        rateQ[indexQuartArr] = rateData
                                    }
                                    indexQuartArr++
                                }
                            }
                            /** */

                            /** Мнимальная сумма должна быть той градации, в какой промежуток суммы попал вклад */
                            if (gradationInterval && isSelectSumInInterval && isSelectTermPlaseInInterval && flag1) {
                                minSumNakop = minSumData
                                flag1 = false
                            }
                            /** */
                        }
                    }
                    if (gradationInterval) {
                        minSum = minSumNakop === 0 ? minSum : minSumNakop
                    }
                    if (
                        cur === this.model.stateParams.cur &&
                        suitableRegion &&
                        (minSum <= this.parseSum && this.parseSum <= maxSum) &&
                        (minPeriod <= this.termPlaceGet && this.termPlaceGet <= maxPeriod) &&
                        (this.termPlaceGet % minPeriod === 0) &&
                        (cap || cap === this.model.stateParams.cap) &&
                        (pens || pens === this.model.stateParams.pens) &&
                        (repl || repl === this.model.stateParams.repl) &&
                        (part || part === this.model.stateParams.part) &&
                        (periodPaymentGet === 'ALL' || periodPaymentGet === periodPayment) &&
                        (cur !== 'USD' || this.termPlaceGet !== 9) // Исключение для валютного вклада в долларах
                    ) {
                        creditsList.push(new utils.Deposit(name, utils.formatMoney(minSum), rateArr, cap,
                            repl, part, pens, periodPayment, cur, url, rateQ, procQuart, procHalfYear))
                    }
                })
                return creditsList
            },
            depositsFinal () {
                const deposits = []
                let sumGet = this.parseSum

                this.suitableDeposits.forEach((deposit) => {
                    const d = Object.assign({}, deposit)
                    let profit = 0
                    const profitQ = []
                    const rate = d.rate
                    const exponents = []
                    const uArr = []
                    const profitArr = []
                    const rateQ = d.rateQ
                    let index = this.fullYear
                    let fullYear = this.fullYear
                    let capitalization = ''
                    const termPlace = []
                    const msg = []
                    sumGet = this.parseSum

                    if (this.fullYear >= 1 && this.restYear === 0) {
                        index--
                    }

                    for (let i = 0; i <= index; i++) {
                        termPlace[i] = fullYear >= 1 ? 12 : this.termPlaceGet % 12
                        fullYear--
                    }

                    for (let i = 0; i <= index; i++) {
                        let n = termPlace[i] % 12
                        if (n === 0) {
                            n = 12
                        }
                        let u = 30.5

                        switch (d.periodPayment) {
                            case 'MONTHLY':
                                capitalization = 'ежемесячно'
                                break
                            case 'ANNUALY':
                                n = n / 12
                                u = 365
                                capitalization = 'ежегодно'
                                break
                            case 'SEMIANNUALY':
                                n = n / 6
                                u = 183
                                capitalization = 'раз в полгода'
                                break
                            case 'QUARTERLY':
                                n = n / 3
                                u = 91.5
                                capitalization = 'ежеквартально'
                                break
                        }

                        exponents[i] = n
                        uArr[i] = u
                    }

                    /** Формула сложного процента */
                    if (d.cap) {
                        for (let i = 0; i <= index; i++) {
                            /** Условие в if это когда нужен расчет суммы по кварталам */

                            if (i === 0 && (d.procQuart || d.procHalfYear)) {
                                let j = 0
                                let profitQSum = 0
                                let interval = 0

                                if (d.procQuart) {
                                    interval = 3
                                }
                                if (d.procHalfYear) {
                                    interval = 6
                                }

                                for (let k = interval; k <= termPlace[i]; k += interval) {
                                    profitQ.push(Math.round(sumGet * Math.pow((1 + (rateQ[j] / 100) * (30.5 / 365)), interval) - sumGet))
                                    sumGet += profitQ[j]
                                    msg.push(utils.accuracyRound(((sumGet - this.parseSum) / this.parseSum / (30.5 * k) * 365 * 100), 2, 2))
                                    profitQSum += profitQ[j]
                                    j++
                                }

                                profitArr[i] = profitQSum
                            } else {
                                profitArr[i] = Math.round(sumGet * Math.pow((1 + (rate[i] / 100) * (uArr[i] / 365)), exponents[i]) - sumGet)
                                sumGet += profitArr[i]
                                msg.push(utils.accuracyRound(((sumGet - this.parseSum) / this.parseSum / (uArr[i] * exponents[i] * (i + 1)) * 365 * 100), 2, 2))
                            }
                        }
                    }
                    /** */
                    /** Формула простого процента */
                    else {
                        for (let i = 0; i <= index; i++) {
                            profitArr[i] = Math.round(((sumGet * (rate[i] / 100)) / 365) * (exponents[i] * uArr[i]))
                            msg.push(rate[i])
                        }
                    }
                    /** */

                    for (let i = 0; i < profitArr.length; i++) {
                        profit += profitArr[i]
                    }
                    for (let i = 0; i < profitArr.length; i++) {
                        profitArr[i] = utils.formatMoney(profitArr[i])
                    }
                    d.profit = profitArr
                    for (let i = 0; i < profitQ.length; i++) {
                        profitQ[i] = utils.formatMoney(profitQ[i])
                    }
                    d.profitQ = profitQ
                    d.profitFinal = utils.formatMoney(profit)
                    d.capitalization = capitalization
                    d.msg = msg
                    deposits.push(d)
                })
                const zel = deposits.find(d => {
                    return d.name === 'Зеленый'
                })
                if (zel) {
                    zel.profit = []
                    zel.profit.push(zel.profitFinal)
                    const msg = zel.msg[0]
                    zel.msg = []
                    zel.msg.push(msg)
                    // zel.rates = zel.rates[0]
                }
                return deposits.sort((a, b) => {
                    const num1 = parseInt(a.profitFinal.replace(/\s/g, ''))
                    const num2 = parseInt(b.profitFinal.replace(/\s/g, ''))
                    if (num1 < num2) {
                        return 1
                    }
                    if (num1 > num2) {
                        return -1
                    }
                    return 0
                })
            }
        },
        watch: {
            'model.stateParams.sum' () {
                this.changeSum()
            },
            'model.sumSliderValue': {
                handler () {
                    if (this.model.changeSumFromSlider) {
                        this.model.stateParams.sum = this.model.sumRealValues[this.model.sumSliderValue]
                    }
                },
                deep: true
            },
            'model.stateParams.cap' () {
                if (!this.model.stateParams.cap && this.model.stateParams.periodPayment !== 'ALL') {
                    this.model.stateParams.periodPayment = 'ALL'
                }
            },
            'model.stateParams.cur' () {
                if (this.model.stateParams.cur === 'RUB') {
                    this.model.sumRealValues = this.sliderData.depositSumRealValues
                    this.model.sumSliderData = this.sliderData.depositSumSliderData
                } else {
                    this.model.sumRealValues = this.sliderData.depositSumRealValuesCur
                    this.model.sumSliderData = this.sliderData.depositSumSliderDataCur
                }
                this.changeSum()
            }
        },
        methods: {
            printRedirect () {
                this.updateState()
                window.open(
                    this.model.printLink,
                    '_blank'
                )
            },
            print () {
                if (this.model.stateParams.print) {
                    setTimeout(() => {
                        window.print()
                    }, 1000)
                }
            },
            updateState () {
                if (!this.isProductionMode) {
                    this.model.printLink += `${this.$route.path}#${this.hash.replace('print=false', 'print=true')}`
                } else {
                    this.model.printLink += `#${this.hash.replace('print=false', 'print=true')}`
                }
            },
            toggleDescription () {
                this.isVisible = !this.isVisible
            },
            sumSliderChanged () {
                this.model.changeSumFromSlider = true
                this.model.sumChanged = true
            },
            changeSum () {
                this.model.changeSumFromSlider = false
                const closest = utils.findClosest(this.parseSum, this.model.sumRealValues)
                this.model.sumSliderValue = this.model.sumRealValues.indexOf(closest)
            },
            getYield (profit) {
                return utils.formatMoney(this.parseSum + parseInt(profit.replace(/\s/g, '')))
            }
        },
        created () {
            this.sliderData.termPlaceSumSliderData = []
            this.sliderData.termPlaceSumRealValues = []
            this.sliderData.depositSumRealValues = utils.createArraysForSlider(this.sliderData.depositSumIntervals).realValues
            this.sliderData.depositSumSliderData = utils.createArraysForSlider(this.sliderData.depositSumIntervals).sliderValues

            this.sliderData.depositSumRealValuesCur = utils.createArraysForSlider(this.sliderData.depositSumIntervalsCur).realValues
            this.sliderData.depositSumSliderDataCur = utils.createArraysForSlider(this.sliderData.depositSumIntervalsCur).sliderValues
            appConfig.sumSliderData = this.sliderData.depositSumSliderData
            appConfig.sumRealValues = this.sliderData.depositSumRealValues
            for (const key in this.sliderData.termPlaceIntervals) {
                this.sliderData.termPlaceSumSliderData.push(this.sliderData.termPlaceIntervals[key])
                this.sliderData.termPlaceSumRealValues.push(key)
            }
            if (window.location.hash !== '') {
                const hash = window.location.hash.replace(/^#/, '').split('&')
                hash.forEach((item) => {
                    const key = item.split('=')[0]
                    const val = item.split('=')[1]
                    if (key === 'sum') {
                        appConfig.stateParams[key] = parseInt(val)
                    } else {
                        if (val === 'false' || val === 'true') {
                            appConfig.stateParams[key] = eval(val)
                        } else {
                            appConfig.stateParams[key] = val
                        }
                    }
                })
            }

            appConfig.region = this.region
            const closest = utils.findClosest(appConfig.stateParams.sum, appConfig.sumRealValues)
            appConfig.sumSliderValue = appConfig.sumRealValues.indexOf(closest)
            appConfig.sumChanged = true
            this.model = appConfig
            axios({
                method: 'get',
                url: this.model.url,
                responseType: 'json',
                headers: {
                  'Cache-Control': 'no-cache',
                  Pragma: 'no-cache',
                  Expires: '0'
                }
            })
            .then((response) => {
                this.model.deposits = response.data.deposits
            })
            .catch((error) => {
                console.error(error)
            })
        },
        mounted () {
            this.print()
        }
    }
</script>

<style lang="scss">
    $green: #50b848;

    .currency-symbol {
        svg {
            fill: #333;
            width: 10px;
            height: 11px;
            transition: all 0.3s;
        }
    }

    .currency__label {
        svg {
            fill: #dedede;
            width: 12px;
            height: 12px;
        }
    }

    .currency-item {
        &__wr {
            input[type="radio"] {
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                visibility: hidden;

                &:checked {
                    +label {
                        svg {
                            fill: $green;
                        }
                    }
                }
            }
        }
    }
</style>

<style scoped lang="scss">
    @import '../assets/styles/depositCalc';
</style>
