<template>
    <div class="depositFeedback">
        <div class="depositFeedback__caption"><slot name="caption">Остались вопросы?</slot></div>
        <div class="depositFeedback__text" v-if="hasTextSlot"><slot name="text"></slot></div>
        <form action="#" class="feedback-form" @submit.prevent="sendMessage" method="POST" v-if="!successmodalForm">
            <div class="feedback-form__errors" v-if="errorsArrModal.length">
                <div class="feedback-form__error" v-for="(error, index) in errorsArrModal" :key="index">
                    {{error}}
                </div>
            </div>
            <div class="feedback-form__row">
                <div class="feedback-form__item" v-for="(item, index) in formConfig" :key="index">
                    <cibInput
                        :validator="$v.formData[item.name]"
                        v-model="$v.formData[item.name].$model"
                        :fieldName="item.name"
                        :labelText="item.labelText"
                        :mask="item.mask"
                        :errorMessage="{
                            ruDashSpace: 'Только русские буквы, дефис и пробел'
                        }"
                    ></cibInput>
                </div>
                <div class="feedback-form__item">
                    <cibButton
                        type="form-button"
                        :disabled="$v.$invalid"
                        customClass="feedback-form__button"
                    >
                        Заказать звонок
                    </cibButton>
                </div>
            </div>
        </form>
        <div class="depositFeedback__overlay depositFeedback__overlay_success" v-else key="message">
            <div class="depositFeedback__success-message">{{finishMessageModal}}</div>
        </div>
        <div class="depositFeedback__overlay" v-show="modalFormFubmit">
            <div class="loader"></div>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
import { validationMixin } from 'vuelidate'
import { required, helpers } from 'vuelidate/lib/validators'
const phone = helpers.regex('phone', /^(\+7\s\([0-9]{3}\)\s[0-9]{3}-[0-9]{2}-[0-9]{2})$/)
const ruDashSpace = helpers.withParams({ type: 'ruDashSpace' }, function (value) {
    return !helpers.req(value) || /^([А-Яа-яёЁ\-\s]+)$/g.test(value)
})
export default {
    name: 'FeedbackForm',
    components: {
        cibButton: () => import(/* webpackChunkName: "cibButton" */'./Button'),
        cibInput: () => import(/* webpackChunkName: "cibInput" */'./cibInput')
    },
    props: {
        withFieldName: {
            type: Boolean,
            default: true
        },
        callCenterLabel: {
            type: String,
            required: true
        },
        handler: {
            type: String,
            default: '/ru/include/emailSend'
        }
    },
    mixins: [validationMixin],
    created () {
        if (!this.withFieldName) {
            this.formConfig.splice(0, 1)
        }
        this.formConfig.forEach(item => {
            this.$set(this.formData, item.name, '')
        })
    },
    data () {
        return {
            modalFormFubmit: false,
            successmodalForm: false,
            errorsArrModal: [],
            finishMessageModal: '',
            formConfig: [
                {
                    name: `name-${this._uid}`,
                    labelText: 'Ваше имя',
                    value: '',
                    mask: '',
                    validator: { required, ruDashSpace }
                },
                {
                    name: `phone-${this._uid}`,
                    labelText: 'Номер телефона',
                    value: '',
                    mask: '\+7 (999) 999-99-99',
                    validator: { required, phone }
                }
            ],
            formData: {}
        }
    },
    validations () {
        const validations = {
            formData: {}
        }
        this.formConfig.forEach(item => {
            validations.formData[item.name] = item.validator
        })
        return validations
    },
    computed: {
        hasTextSlot () {
            return !!this.$slots.text
        }
    },
    methods: {
        sendMessage () {
            if (!this.$v.$invalid) {
                const sendData = new FormData()
                for (const key in this.formData) {
                    sendData.append(key, this.formData[key])
                }
                const callCenterLabel = this.callCenterLabel.trim()
                sendData.append('callCenterLabel', callCenterLabel)
                this.modalFormFubmit = true
                this.finishMessageModal = ''
                this.errorsArrModal = []
                axios({
                        method: 'post',
                        url: this.handler,
                        data: sendData,
                        headers: {
                            'X-Requested-With': 'XMLHttpRequest'
                        }
                    })
                    .then((response) => {
                        if (response.data.success) {
                            for (const key in this.formData) {
                                this.formData[key] = ''
                            }
                            this.successmodalForm = true
                            this.finishMessageModal = 'Ваше сообщение отправлено'
                            try {
                                // eslint-disable-next-line
                                yaCounter4814476.reachGoal('depositform')
                                // eslint-disable-next-line
                                dataLayer.push({'event': 'depositForm'})
                            } catch (error) {
                                console.log(error)
                            }
                            this.$emit('sendFeedBack')
                        } else {
                            this.successmodalForm = true
                            this.finishMessageModal = response.data['send-error']
                            if (response.data.errors.length) {
                                response.data.errors.forEach((item) => {
                                    this.errorsArrModal.push(item)
                                })
                            }
                        }
                    })
                    .catch((error) => {
                        console.log(error)
                    })
                    .finally(() => {
                        this.modalFormFubmit = false
                    })
            }
        }
    }
}
</script>

<style lang="scss" scoped>
    @import '../assets/styles/FeedbackForm';
</style>
