<template>
    <div class="cibFeedbackWidget">
        <div class="cibFeedbackWidget__row">
            <div class="cibFeedbackWidget__text" @click="toggle">Связаться с банком</div>
            <div class="cibFeedbackWidget__icons-carousel" @click="toggle">
                <img src="../assets/img/widget/widget-buttons-group.svg" alt="" class="cibFeedbackWidget__all-icons" :style="allIconsStyle">
                <transition name="fade">
                    <img src="../assets/img/widget/close.svg" alt="" class="cibFeedbackWidget__close-icon" v-if="isOpenIcons">
                </transition>
            </div>
        </div>
        <div class="cibFeedbackWidget__icons-wr" v-show="isOpenIcons">
            <transition-group
                tag="section"
                :css="false"
                @before-enter="beforeEnter"
                @enter="enter"
                @leave="leave"
            >
                <a :href="item.href" :target="item.target"
                   :class="['cibFeedbackWidget__icon', `cibFeedbackWidget__icon_${item.classModificator}`]"
                   v-for="(item, index) in icons"
                   :data-index="index"
                   :key="item.classModificator"
                   v-show="item.show"
                   ref="linkWidget"
                   @click="action(item.actionName, $event)">
                    <img :src="item.img" alt="" :class="[`cibFeedbackWidget__icon-img`, `cibFeedbackWidget__icon-img_${item.classModificator}`]">
                    <div class="cibFeedbackWidget__hint">{{ item.hint }}</div>
                </a>
            </transition-group>
        </div>
        <transition name="fade">
        <div class="callBackForm" v-show="isOpenForm">
            <form action="" class="callBackForm__form" @submit.prevent="sendForm">
                <div class="callBackForm__caption">Хотите, чтобы Вам перезвонили?</div>
                <div class="callBackForm__row">
                    <cibInput
                    :validator="$v.formData.phone"
                    fieldName="callBackPhone"
                    v-model="formData.phone"
                    labelText="Введите номер телефона"
                    mask="+7 (999) 999-99-99"
                    :errorMessage="{
                        phone: 'Неверный формат номера телефона'
                    }"
                />
                </div>
                <div class="callBackForm__row callBackForm__row_buttons">
                    <cibButton type="form-button" color-theme="green" customClass="callBackForm__button" :disabled="$v.formData.$invalid">Заказать</cibButton>
                    <cibButton customClass="callBackForm__button" @click="closeForm">Закрыть</cibButton>
                </div>
                <transition name="fade">
                    <loader v-show="showLoader" :transparent="true"></loader>
                </transition>
                <transition name="fade">
                <div class="callBackForm__modal" v-show="showModal">
                    <div class="callBackForm__modal-text callBackForm__modal-text_error" v-if="errors.length">
                        {{ errors.join(', ') }}
                    </div>
                    <div class="callBackForm__modal-text" v-else>
                        Спасибо! Мы свяжемся с Вами в ближайшее время.
                    </div>
                    <div class="callBackForm__button-wr">
                        <cibButton @click="showModal = false" colorTheme="green" customClass="callBackForm__button">Ок</cibButton>
                    </div>
                </div>
                </transition>
            </form>
        </div>
        </transition>

       <div class="cibFeedbackWidget__chat" @click.prevent="openWebim" v-if="isShowTime && webimElem && !isHideMobileButtons && !isHideChats">
           <img src="../assets/img/widget/chat-icon.svg" alt="" class="cibFeedbackWidget__desctop-chat">
           <img src="../assets/img/widget/chatMobile.svg" alt="" class="cibFeedbackWidget__mobile-chat">
           <span class="cibFeedbackWidget__chat-label">Чат с банком</span>
       </div>
       <a class="cibFeedbackWidget__whatsApp" href="https://wa.me/78002009929" v-if="isShowTime && !isHideMobileButtons && !isHideChats">
           <img src="../assets/img/widget/mobileWhatsApp.svg" alt="">
           Написать WhatsApp
       </a>
        <message ref="message"></message>
    </div>
</template>

<script>
    import { validationMixin } from 'vuelidate'
    import { required, helpers } from 'vuelidate/lib/validators'
    import axios from 'axios'
    const phone = helpers.regex('phone', /^(\+7\s\([0-9]{3}\)\s[0-9]{3}-[0-9]{2}-[0-9]{2})$/)
    export default {
        name: 'FeedBackWidget',
        components: {
            cibInput: () => import(/* webpackChunkName: "cibInput" */'./cibInput'),
            cibButton: () => import(/* webpackChunkName: "cibButton" */'./Button'),
            loader: () => import(/* webpackChunkName: "loader" */'./Loader'),
            message: () => import(/* webpackChunkName: "popupMessage" */'./popupMessage')
        },
        mixins: [validationMixin],
        props: {
            rightTime: {
                type: Boolean,
                default: true
            },
            hideMobileButtonsOnPagesList: {
                type: Array,
                default () {
                    return []
                }
            },
            isHideChats: {
                type: Boolean,
                default: false
            }
        },
        validations () {
            return {
                formData: {
                    phone: {
                        required,
                        phone
                    }
                }
            }
        },
        created () {
            const url = this.isProduction ? '/ru/include/createWeekend' : 'https://cib4.dev.cinet.ru/ru/include/createWeekend'
            axios.post(url)
            .then(res => {
                this.holidaysData = res.data
            })
            .catch(e => {
                console.log(e)
            })
            this.getDate()
            this.webimInit()
            this.resolution = window.innerWidth
            window.addEventListener('resize', () => {
                this.resolution = window.innerWidth
            })
            window.onload = function () {
                if (window.innerWidth <= 768) {
                    const webimInvitation = document.querySelector('.webim-root.webim-notification')
                    if (webimInvitation) {
                        webimInvitation.style.display = 'none'
                        webimInvitation.style.opacity = '0'
                        webimInvitation.style.visibility = 'hidden'
                    } else {
                        new Promise((resolve, reject) => {
                            let time = 0
                            const interval = setInterval(() => {
                                const webimInvitation = document.querySelector('.webim-root.webim-notification')
                                time += 10
                                if (webimInvitation) {
                                    clearInterval(interval)
                                    resolve(webimInvitation)
                                }
                                if (time >= 30000) {
                                    clearInterval(interval)
                                    reject(new Error('Не найден виджет webim'))
                                }
                            }, 10)
                        })
                        .then((webimInvitation) => {
                            webimInvitation.style.display = 'none'
                            webimInvitation.style.opacity = '0'
                            webimInvitation.style.visibility = 'hidden'
                        })
                        .catch(error => {
                            console.log(error.message)
                        })
                    }
                }
            }
        },
        data () {
            return {
                formData: {
                    phone: null
                },
                holidaysData: null,
                date: null,
                webimElem: null,
                stepValue: 32,
                stepsCount: 5,
                translate: 8,
                currentStep: 0,
                iconsList: [
                    {
                        show: false,
                        img: require('../assets/img/widget/phone-call.svg'),
                        hint: 'Позвонить',
                        href: 'tel:88002009929',
                        target: '_self',
                        timeHide: false,
                        classModificator: 'call',
                        isHideFromProp: false
                    },
                    {
                        show: false,
                        img: require('../assets/img/widget/call-request.svg'),
                        hint: 'Обратный звонок',
                        href: '#',
                        actionName: 'toggleForm',
                        target: '_self',
                        timeHide: true,
                        classModificator: 'callBack',
                        isHideFromProp: false
                    },
                    {
                        show: false,
                        img: require('../assets/img/widget/chat.svg'),
                        hint: 'Чат с банком',
                        actionName: 'openWebim',
                        href: '#',
                        target: '_self',
                        timeHide: true,
                        classModificator: 'chat',
                        isHideFromProp: true
                    },
                    {
                        show: false,
                        img: require('../assets/img/widget/message.svg'),
                        hint: 'Обратная связь',
                        href: '/ru/obratnaja-svjaz/',
                        target: '_self',
                        timeHide: false,
                        classModificator: 'feedBack',
                        isHideFromProp: false
                    },
                    {
                        show: false,
                        img: require('../assets/img/widget/watsapp.svg'),
                        mobileImg: require('../assets/img/widget/mobileWhatsApp.svg'),
                        hint: 'Написать WhatsApp',
                        href: 'https://wa.me/78002009929',
                        target: '_blank',
                        timeHide: true,
                        classModificator: 'whatsApp',
                        isHideFromProp: true
                    },
                    {
                        show: false,
                        img: require('../assets/img/widget/viber.svg'),
                        hint: 'Написать Viber',
                        href: 'https://chats.viber.com/centrinvest',
                        target: '_blank',
                        timeHide: true,
                        classModificator: 'viber',
                        isHideFromProp: true
                    },
                    {
                        show: false,
                        img: require('../assets/img/widget/vk.svg'),
                        hint: 'Написать ВКонтакте',
                        href: 'https://vk.com/centrinvest',
                        target: '_blank',
                        timeHide: false,
                        classModificator: 'vk',
                        isHideFromProp: true
                    }
                ],
                index: 0,
                items: [],
                isAnimate: false,
                isOpenIcons: false,
                isOpenForm: false,
                showLoader: false,
                onSubmit: false,
                showModal: false,
                errors: [],
                isProduction: process.env.NODE_ENV === 'production',
                resolution: 0,
                showCounsultant: false,
                message: ''
            }
        },
        computed: {
            isShowTime () {
                let result = true
                try {
                    if (this.holidaysData) {
                        const day = ('0' + this.date.getDate()).slice(-2)
                        const month = ('0' + (this.date.getMonth() + 1)).slice(-2)
                        const year = this.date.getFullYear()
                        const dateFormat = `${day}.${month}`
                        const dayOfWeek = this.date.getDay()
                        const { holidays, short } = this.holidaysData.list
                        let { endWork, endWorkShort, startWork } = this.holidaysData
                        if (short.includes(dateFormat)) {
                            endWork = endWorkShort
                        }
                        const endWorkHours = parseInt(endWork.split(':')[0])
                        const endWorkMinutes = parseInt(endWork.split(':')[1])
                        const startWorkHours = parseInt(startWork.split(':')[0])
                        const startWorkMinutes = parseInt(startWork.split(':')[1])
                        const fullStartWorkTime = new Date(year, this.date.getMonth(), this.date.getDate(), startWorkHours, startWorkMinutes)
                        const fullEndWorkTime = new Date(year, this.date.getMonth(), this.date.getDate(), endWorkHours, endWorkMinutes)
                        if (
                            holidays.includes(dateFormat) ||
                            dayOfWeek === 0 ||
                            dayOfWeek === 6 ||
                            !(fullStartWorkTime <= this.date && this.date <= fullEndWorkTime)
                        ) {
                            result = false
                        }
                    }
                } catch (e) {
                    console.log(e)
                }
                return result
            },
            allIconsStyle () {
                return {
                    transform: `translateX(${this.translate}px)`
                }
            },
            icons () {
                return this.iconsList.filter(item => {
                    return (this.isShowTime || this.isShowTime === item.timeHide) && (!this.isHideChats || this.isHideChats !== item.isHideFromProp)
                })
            },
            isHideMobileButtons () {
                let result = false
                this.hideMobileButtonsOnPagesList.forEach((item) => {
                    const regExp = new RegExp(item)
                    result = window.location.pathname.search(regExp) !== -1
                    return result
                })
                return result
            }
        },
        methods: {
            getDate () {
                let date = new Date()
                this.date = date
                setInterval(() => {
                    date = new Date()
                    this.date = date
                }, 10 * 1000)
            },
            action (action, event) {
                if (action) {
                    event.preventDefault()
                    this[action]()
                }
            },
            findWebimElem () {
                let result = null
                const webim = document.querySelectorAll('.webim-html-button-link')
                if (webim.length) {
                    webim.forEach(item => {
                        const textContent = item.nextSibling.nextSibling.innerText
                        if (textContent === 'Webim') {
                            result = item
                        }
                    })
                }
                return result
            },
            webimInit () {
                let webim = this.findWebimElem()
                const timeout = setInterval(() => {
                    webim = this.findWebimElem()
                    if (webim) {
                        this.webimElem = webim
                        clearTimeout(timeout)
                    }
                }, 100)
                setTimeout(() => {
                    console.error('Не найдет виджет webim')
                    clearTimeout(timeout)
                }, 20000)
            },
            openWebim () {
                if (this.webimElem) {
                    this.webimElem.click()
                }
            },
            toggleForm () {
                this.isOpenForm = !this.isOpenForm
            },
            closeForm () {
                this.isOpenForm = false
            },
            toggle () {
                if (!this.isAnimate) {
                    this.isAnimate = true
                    this.isOpenIcons = true
                    this.index = 0
                    this.icons.forEach(item => {
                        item.show = !item.show
                    })
                }
            },
            sendForm () {
                if (!this.$v.$invalid && !this.onSubmit) {
                    this.errors = []
                    this.onSubmit = true
                    this.showLoader = true
                    const formData = new FormData()
                    for (const key in this.formData) {
                        if (this.formData.hasOwnProperty(key)) {
                            formData.append(key, this.formData[key])
                        }
                    }
                    axios({
                        method: 'POST',
                        url: this.isProduction ? '/ru/obratnaja-svjaz/call_request' : 'https://cib4.dev.cinet.ru/ru/obratnaja-svjaz/call_request',
                        data: formData
                    })
                    .then(res => {
                        console.log(res)
                        if (res.data.success) {
                            for (const key in this.formData) {
                                if (this.formData.hasOwnProperty(key)) {
                                    this.formData[key] = null
                                }
                            }
                            this.$v.$reset()
                            // eslint-disable-next-line no-undef
                            dataLayer.push({
                                event: 'miniCallBack'
                            })
                            // eslint-disable-next-line no-undef
                            yaCounter4814476.reachGoal('obrcall')
                        } else {
                            this.errors = res.data.errors
                        }
                    })
                    .catch(error => {
                        console.log(error)
                        this.errors.push('Ошибка сервера')
                    })
                    .finally(() => {
                        this.showModal = true
                        setTimeout(() => {
                            this.showLoader = false
                        }, 300)
                        this.onSubmit = false
                    })
                }
            },
            beforeEnter (el) {
                // el.style.opacity = 0
                // el.style.display = 'none'
            },
            enter (el, done) {
                const delay = parseInt(el.dataset.index) * 100
                new Promise((resolve) => {
                    setTimeout(() => {
                        el.style.opacity = 1
                        if (this.index === this.icons.length - 1) {
                            resolve()
                        } else {
                            this.index++
                        }
                    }, delay)
                })
                .then(() => {
                    done()
                    this.isAnimate = false
                })
            },
            leave (el, done) {
                const delay = (Math.abs(parseInt(el.dataset.index) - (this.icons.length - 1))) * 100
                this.isOpenForm = false
                this.showModal = false
                new Promise((resolve) => {
                    const interval = setTimeout(() => {
                        el.style.opacity = 0
                        if (this.index === this.icons.length - 1) {
                            setTimeout(() => {
                                resolve()
                                clearInterval(interval)
                            }, 150)
                        } else {
                            this.index++
                        }
                    }, delay)
                })
                .then(() => {
                    done()
                    this.isAnimate = false
                    this.isOpenIcons = false
                    this.$refs.linkWidget.forEach(item => {
                        item.style.opacity = 0
                        item.style.display = 'none'
                    })
                })
            },
            move () {
                if (this.currentStep === this.stepsCount) {
                    this.currentStep = 0
                    this.translate = 8
                } else {
                    this.translate -= this.stepValue
                    this.currentStep++
                }
            }
        },
        mounted () {
            setInterval(() => {
                this.move()
            }, 2000)
        }
    }
</script>

<style lang="scss" scoped>
    @import '../assets/styles/FeedBackWidget';
</style>
