<template>
    <section class="feedBackPage" v-cloak>
        <transition name="fade">
            <loader v-show="showLoader" :transparent="true" :fixed="true"></loader>
        </transition>
        <h1 class="feedBackPage__caption" v-if="!isReduceFNSLoan">Обратная связь с банком</h1>
        <div class="feedBackPage__text-block feedBackPage-text-block" v-if="!isReduceFNSLoan">
            <div class="feedBackPage-text-block__caption">Уважаемые клиенты!</div>
            <div class="feedBackPage-text-block__text">Банк «Центр-инвест» постоянно повышает качество обслуживания и представляет новые услуги, чтобы соответствовать самым высоким стандартам банковского бизнеса, принятым во всем мире. Мы дорожим мнением каждого из Вас. При помощи данной формы связи с Банком Вы можете направить нам свои пожелания и предложения по улучшению качества обслуживания, а также задать вопросы.</div>
            <br/>
            <div class="feedBackPage-text-block__text">Обращение будет рассмотрено ответственными специалистами в срок до 30 дней, после чего Вам будет предоставлен ответ одним из следующих способов: по электронной почте, на бумажном носителе, либо в телефонном режиме.</div>
            <div class="feedBackPage-text-block__text feedBackPage-text-block__text_bold">Для решения срочных вопросов, обращайтесь в справочную информационную службу банка по телефону <cibLink href="tel:88002009929" customClass="feedBackPage-text-block__link">8 800 200 99 29</cibLink></div>
        </div>

        <h2 v-if="subtitle" class="feedBackPage__h2">{{ subtitle }}</h2>

        <form class="feedBackPage__form feedBackPageForm" @submit.prevent="sendForm">
            <base-fields :$v="$v"></base-fields>
            <transition-group name="slide-fade" mode="out-in">
                <noClientFiz :$v="$v" v-if="isNoClientFiz" key="noClientFiz"></noClientFiz>
                <noClientBiz :$v="$v" v-if="isNoClientBiz" key="noClientBiz"></noClientBiz>
                <standartFizForm :$v="$v" v-if="isStandartFizForm" key="standartFizForm"></standartFizForm>
                <standartBizForm :$v="$v" v-if="isStandartBizForm" key="standartBizForm"></standartBizForm>
                <decreaseMortgageRatesForm :$v="$v" v-if="isDecreaseMortgageRatesForm" key="decreaseMortgageRatesForm"></decreaseMortgageRatesForm>
                <decreaseMedicLoanForm :$v="$v" v-if="isDecreaseMedicLoanForm" key="decreaseMedicLoanForm"></decreaseMedicLoanForm>
                <creditHolidaysFizForm :$v="$v" v-if="isCreditHolidaysFizForm" key="creditHolidaysFizForm"></creditHolidaysFizForm>
                <bankomansAndTerminalsForm :$v="$v" v-if="isBankomansAndTerminalsForm" key="bankomansAndTerminalsForm"></bankomansAndTerminalsForm>
                <bankAppForm :$v="$v" v-if="isBankAppForm" key="bankAppForm"></bankAppForm>
                <scammersForm :$v="$v" v-if="isScammersForm" key="scammersForm"></scammersForm>
            </transition-group>
            <messageField :$v="$v"></messageField>
            <transition name="slide-fade" mode="out-in">
                <feedBackAfterCheckField :$v="$v" v-if="isReportForm" style="margin-bottom: 30px"></feedBackAfterCheckField>
            </transition>
            <attachFiles>
                <template #attention>
                    <div v-if="isDecreaseMortgageRatesForm">
                        <p>Для рассмотрения Банком заявления, Заемщику/Поручителю необходимо предоставить данный <a href="https://www.centrinvest.ru/ru/fiz/kreditovanie/paket-dokumentov" target="_blank" rel="noopener noreferrer">пакет документов</a></p>
                    </div>
                    <div v-if="isReduceMedicLoan">
                        <p>Для рассмотрения Банком заявления, Заемщику необходимо предоставить документ, подтверждающий соответствие вашей должности
                            <a href="http://ivo.garant.ru/#/document/70344038/paragraph/1:0" target="_blank" rel="noopener noreferrer">разделу 1 Приказа МИНИСТЕРСТВА ЗДРАВООХРАНЕНИЯ РОССИЙСКОЙ ФЕДЕРАЦИИ от 20 декабря 2012 г. № 1183н</a>
                        </p>
                        <br>
                        <p>С остальным пакетом документов можно ознакомиться <a href="/ru/fiz/kreditovanie/paket-dokumentov" target="_blank" rel="noopener noreferrer">здесь</a></p>
                    </div>
                </template>

            </attachFiles>
            <div class="feedBackPageForm__line"></div>

            <div class="feedBackPageForm__row feedBackPageForm__row_flex">
                <agreementField :$v="$v"></agreementField>
                <div class="feedBackPageForm__col feedBackPageForm__col_button">
                    <cibButton type="form-button" :disabled="$v.$invalid">Отправить</cibButton>
                </div>
            </div>
            <div class="feedBackPageForm__row" v-if="isReduceMedicLoan || isReduceFNSLoan">Подать заявление на снижение процентной ставки возможно по ипотечному, потребительскому и автокредиту. Снижение ставки по кредитованию пластиковых карт не предусмотрено.</div>
            <div class="feedBackPageForm__row" v-if="isCreditHolidays">Если вы испытываете финансовые затруднения с погашением кредита и у вас нет возможности произвести оплату кредита, то вам необходимо обратиться в банк с заявлением (с помощью данной формы) с указанием причин, по которым вы не можете внести очередной платеж по кредиту. Так же необходимо приложить документы, подтверждающие отсутствие возможности по внесению очередного платежа. После рассмотрения указанных в обращении обстоятельств и приложенных документов, банк примет решение о предоставлении отсрочки в рамках собственной программы реструктуризации кредитов.</div>
        </form>
        <cibMessage ref="message"></cibMessage>
        <transition name="fade">
            <div class="modal-hint" @click.self.prevent="closeModal" v-show="showModal">
                <div class="modal-hint__content">
                    <div class="modal-hint__text modal-hint__text_error" v-if="sendErrors">{{ sendErrors }}</div>
                    <div class="modal-hint__text" v-else>Ваше обращение принято под номером <span class="modal-hint__bold">{{ requestNumber }}</span></div>
                    <div class="modal-hint__row">
                        <cibButton colorTheme="green" @click.prevent="closeModal" customClass="modal-hint__button">Ок</cibButton>
                    </div>
                </div>
            </div>
        </transition>

    </section>
</template>

<script>
import store from '../componentsStore/feedBackPage'
import axios from 'axios'
import { validationMixin } from 'vuelidate'
import { required, helpers, requiredIf, maxLength } from 'vuelidate/lib/validators'
import { mapFields } from 'vuex-map-fields'
import { mapGetters, mapActions } from 'vuex'
const phone = helpers.regex('phone', /^(\+7\s\([0-9]{3}\)\s[0-9]{3}-[0-9]{2}-[0-9]{2})$/)
const inn10or12 = helpers.regex('inn10or12', /^\d{10}$|^\d{12}$/)
const account = helpers.regex('account', /^\d{20}$/)
const loanNumber = helpers.regex('loanNumber', /^\d{8,10}$/)
const passportData = helpers.regex('passportData', /^([0-9]{2}\s[0-9]{2}\s[0-9]{6})$/)
const isTrue = helpers.withParams({ type: 'isTrue' }, (value) => {
    return value
})
const ruDashSpace = helpers.withParams({ type: 'ruDashSpace' }, (value) => {
    return !helpers.req(value) || /^([А-Яа-яёЁ\-\s]+)$/g.test(value)
})
const date = helpers.regex('date', /^([0-3][0-9].[0-1][0-9].(19|20)[0-9]{2})$/)
const email = helpers.withParams({ type: 'email' }, (value) => {
    const pattern = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
    return !helpers.req(value) || pattern.test(value)
})
export default {
    store,
    name: 'FeedBackPage',
    mixins: [validationMixin],
    components: {
        cibLink: () => import(/* webpackChunkName: "cibLink" */'./link'),
        cibButton: () => import(/* webpackChunkName: "cibButton" */'./Button'),
        loader: () => import(/* webpackChunkName: "loader" */'./Loader'),
        cibMessage: () => import(/* webpackChunkName: "popupMessage" */'./popupMessage'),
        baseFields: () => import(/* webpackChunkName: "baseFields" */'./components/feedBackPage/fields/baseFields'),
        attachFiles: () => import(/* webpackChunkName: "attachFiles" */'./components/feedBackPage/fields/attachFiles'),
        messageField: () => import(/* webpackChunkName: "messageField" */'./components/feedBackPage/fields/messageField'),
        feedBackAfterCheckField: () => import(/* webpackChunkName: "feedBackAfterCheckField" */'./components/feedBackPage/fields/feedBackAfterCheckField'),
        agreementField: () => import(/* webpackChunkName: "agreementField" */'./components/feedBackPage/fields/agreementField'),
        noClientFiz: () => import(/* webpackChunkName: "noClientFiz" */'./components/feedBackPage/formTypes/noClientFiz'),
        noClientBiz: () => import(/* webpackChunkName: "noClientBiz" */'./components/feedBackPage/formTypes/noClientBiz'),
        standartFizForm: () => import(/* webpackChunkName: "standartFizForm" */'./components/feedBackPage/formTypes/standartFizForm'),
        standartBizForm: () => import(/* webpackChunkName: "standartBizForm" */'./components/feedBackPage/formTypes/standartBizForm'),
        decreaseMortgageRatesForm: () => import(/* webpackChunkName: "decreaseMortgageRatesForm" */'./components/feedBackPage/formTypes/decreaseMortgageRatesForm'),
        decreaseMedicLoanForm: () => import(/* webpackChunkName: "decreaseMedicLoanForm" */'./components/feedBackPage/formTypes/decreaseMedicLoanForm'),
        creditHolidaysFizForm: () => import(/* webpackChunkName: "creditHolidaysFizForm" */'./components/feedBackPage/formTypes/creditHolidaysFizForm'),
        bankomansAndTerminalsForm: () => import(/* webpackChunkName: "bankomansAndTerminalsForm" */'./components/feedBackPage/formTypes/bankomansAndTerminalsForm'),
        bankAppForm: () => import(/* webpackChunkName: "bankAppForm" */'./components/feedBackPage/formTypes/bankAppForm'),
        scammersForm: () => import(/* webpackChunkName: "scammersForm" */'./components/feedBackPage/formTypes/scammersForm'),
    },
    props: {
        url: {
            type: String,
            default: 'https://showroom13.dev.cinet.ru/cabinet/feedback/api/handle-form'
        },
        host: {
            type: String,
            default: 'https://showroom13.dev.cinet.ru/'
        },
        requestType: {
            type: String,
            default: null
        }
    },
    created () {
        this.formData.topic = 'Для физических лиц'
        this.requestTypeParam = this.requestType
        this.hostParam = this.host
        this.getOfficesList({
            params: '',
            host: this.hostParam
        })
        this.getUrlParams()
    },
    validations () {
        return {
            formData: {
                organization: {
                    required: requiredIf(() => {
                        return this.isLegal
                    })
                },
                fio: {
                    required: requiredIf(() => {
                        return !this.isNoClientBiz
                    }),
                    ruDashSpace,
                    maxLength: maxLength(50)
                },
                notClient: {

                },
                callBackPhone: {
                    required: requiredIf(() => {
                        return this.isCallBackContactMethod || this.isSmsContactMethod
                    })
                },
                contactMethod: {
                    required: requiredIf(() => {
                        return this.isScammersForm
                    })
                },
                fakeSiteAddress: {
                    required: requiredIf(() => {
                        return this.isSiteContactMethod
                    })
                },
                fakeEmail: {
                    required: requiredIf(() => {
                        return this.isEmailContactMethod
                    })
                },
                socialNetworkOrMessenger: {
                    required: requiredIf(() => {
                        return this.isSocialContactMethod
                    })
                },
                profileLinkOrPhone: {
                },
                service: {
                    required: requiredIf(() => {
                        return this.isBankAppForm
                    })
                },
                phoneModel: {
                    required: requiredIf(() => {
                        return this.isMobileApp
                    })
                },
                phoneOS: {
                    required: requiredIf(() => {
                        return this.isMobileApp
                    })
                },
                appVersion: {
                    required: requiredIf(() => {
                        return this.isMobileApp
                    })
                },
                PCOS: {
                    required: requiredIf(() => {
                        return this.isFullApp
                    })
                },
                browserName: {
                    required: requiredIf(() => {
                        return this.isFullApp
                    })
                },
                email: {
                    required: requiredIf(() => {
                        return !this.formData.phone || this.isEmailContactMethod
                    }),
                    email
                },
                phone: {
                    required: requiredIf(() => {
                        // return (this.isDecreaseMortgageRatesForm ||
                        //         this.isDecreaseMedicLoanForm ||
                        //         this.isCreditHolidays ||
                        //         this.isCallBackContactMethod ||
                        //         this.isSmsContactMethod
                        // )
                        return !this.formData.email || this.isCallBackContactMethod || this.isSmsContactMethod
                    }),
                    phone
                },
                topic: {
                    required
                },
                inn: {
                    required: requiredIf(() => {
                        return this.isClientBiz
                    }),
                    inn10or12
                },
                account: {
                    account
                },
                direction: {
                    required: requiredIf(() => {
                        return !(this.isNoClientFiz || this.isNoClientBiz)
                    })
                },
                passportData: {
                    required: requiredIf(() => {
                        return (this.isCreditHolidaysFizForm || this.isDecreaseMedicLoanForm || this.isDecreaseMortgageRatesForm)
                    }),
                    passportData
                },
                creditDate: {
                    required: requiredIf(() => {
                        return this.isCreditHolidaysFizForm
                    }),
                    date
                },
                dateAndTime: {
                    required: requiredIf(() => {
                        return (this.isCallBackContactMethod || this.isSmsContactMethod || this.isEmailContactMethod || this.isSocialContactMethod)
                    })
                },
                officeId: {
                    required: requiredIf(() => {
                        return !(this.isNoClientFiz || this.isNoClientBiz || this.isBankAppForm || this.isScammersForm || this.isBankomansAndTerminalsForm)
                    })
                },
                ATMOrTerminalAddress: {
                    required: requiredIf(() => {
                        return this.isBankomansAndTerminalsForm
                    })
                },
                message: {
                    required: requiredIf(() => {
                        return !(this.isDecreaseMedicLoanForm || this.isDecreaseMortgageRatesForm)
                    }),
                    maxLength: ((this.isCreditHolidays || this.isReduceMedicLoan || this.isReduceFNSLoan) && !this.isLegal)
                        ? maxLength(1500)
                        : maxLength(20000)
                },
                loanNumber: {
                    loanNumber
                },
                agreement: {
                    required,
                    isTrue
                }
            }
        }
    },
    methods: {
        ...mapActions([
            'getOfficesList'
        ]),
        getUrlParams () {
            const paramsString = location.search
            const searchParams = new URLSearchParams(paramsString)

            if (searchParams.get('bizHolidays')) {
                this.formData.topic = 'Для юридических лиц/ИП'
                this.formData.direction = 'Кредитные каникулы'
                history.replaceState('', '', location.origin + location.pathname)
            } else if (searchParams.get('reduceMedicLoan')) {
                this.formData.topic = 'Для физических лиц'
                this.formData.direction = 'Снижение ставки медицинским работникам'
                this.showTopicAndDirection = false
                history.replaceState('', '', location.origin + location.pathname)
            }
            if (this.requestTypeParam === 'fns') {
                this.showTopicAndDirection = false
                this.formData.topic = 'Для физических лиц'
                this.formData.direction = 'Снижение ставки сотрудникам ФНС'
            }
        },
        closeModal () {
            setTimeout(() => {
                this.requestNumber = null
            }, 1000)

            this.showModal = false
        },
        sendForm () {
            if (!this.$v.$invalid) {
                this.showLoader = true
                this.sendErrors = null
                this.uploadFileErrors = []
                const formData = new FormData()
                for (const key in this.formData) {
                    if (this.formData.hasOwnProperty(key)) {
                        if (key !== 'files') {
                            if (this.formData[key]) {
                                if (key === 'vacationPeriod' && !((this.isCreditHolidays || this.isReduceMedicLoan) && !this.isLegal)) {
                                    continue
                                }
                                formData.append(key, this.formData[key])
                            }
                        } else {
                            if (this.formData[key].length) {
                                const files = this.formData[key]
                                files.forEach((element, index) => {
                                    formData.append(`file${index}`, element)
                                })
                            }
                        }
                    }
                }
                axios({
                    method: 'POST',
                    url: this.url,
                    data: formData
                })
                .then(res => {
                    this.requestNumber = res.data.num
                    this.showModal = true
                    for (const key in this.formData) {
                        if (this.formData.hasOwnProperty(key)) {
                            this.formData[key] = ''
                        }
                    }
                    this.formData.agreement = false
                    this.formData.vacationPeriod = 1
                    this.formData.files = []
                    this.$v.$reset()
                    if (this.isReduceFNSLoan) {
                        this.formData.topic = 'Для физических лиц'
                        this.formData.direction = 'Снижение ставки сотрудникам ФНС'
                    }
                    try {
                        // eslint-disable-next-line no-undef
                        dataLayer.push({
                            event: 'sendFeedBack'
                        })
                        // eslint-disable-next-line no-undef
                        yaCounter4814476.reachGoal('obrsvjaz')
                    } catch (e) {
                        console.log(e)
                    }
                })
                .catch(error => {
                    console.log(error)
                    this.showModal = true
                    if (error.response) {
                        this.sendErrors = error.response.data.error
                    } else {
                        this.sendErrors = 'Ошибка отправки'
                    }
                })
                .finally(() => {
                    this.showLoader = false
                })
            }
        },
    },
    computed: {
        ...mapFields([
            'showTopicAndDirection',
            'formData',
            'uploadFileErrors',
            'showLoader',
            'showModal',
            'requestNumber',
            'sendErrors',
            'requestTypeParam',
            'hostParam'
        ]),
        ...mapGetters([
            'isLegal',
            'isCreditHolidays',
            'isReduceMedicLoan',
            'isReduceFNSLoan',
            'subtitle',
            'isStandartFizForm',
            'isStandartBizForm',
            'isNoClientFiz',
            'isNoClientBiz',
            'isDecreaseMortgageRatesForm',
            'isDecreaseMedicLoanForm',
            'isCreditHolidaysFizForm',
            'isBankomansAndTerminalsForm',
            'isBankAppForm',
            'isScammersForm',
            'isCallBackContactMethod',
            'isSmsContactMethod',
            'isSiteContactMethod',
            'isEmailContactMethod',
            'isSocialContactMethod',
            'isMobileApp',
            'isFullApp',
            'isClientBiz',
            'isReportForm'
        ]),
        formDataMessage: {
            get () {
                return this.formData.message + this.formData.loanNumber
            },
            set (value) {
                this.formData.message = value
            }
        },
    },
    watch: {
        'formData.loanNumber' () {
            if (this.isReduceFNSLoan || this.isReduceMedicLoan) {
                this.formData.message = `Прошу вас рассмотреть вопрос о снижении процентной ставки по кредитному договору № ${this.formData.loanNumber}`
            }
        },
        'formData.direction' () {
            this.formData.message = ''
            if (!this.isReduceFNSLoan && !this.isReduceMedicLoan) {
                this.formData.loanNumber = ''
            }
        },
        'formData.topic' () {
            this.formData.direction = null
        }
    }
}
</script>

<style lang="scss" scoped>
    @import '../assets/styles/feedBackPage';
</style>
