<template>
    <section class="incomeReductionCalc">
        <transition name="fade">
            <loader :transparent="true" v-if="showLoader"></loader>
        </transition>
        <div class="incomeReductionCalc__row">
            <cibInput
                :validator="$v.incomeType"
                inputTag="select"
                fieldName="select"
                labelText="Вы получаете доход как ..."
                v-model="incomeType"
            >
                <template #selectOptions>
                    <option value="" disabled selected>...</option>
                    <option v-for="(option, index) in incomeOptions" :value="option" :key="index">{{ option }}</option>
                </template>
            </cibInput>
        </div>
        <transition name="fade">
        <div class="incomeReductionCalc__row" v-if="incomeType">
            <div class="incomeReductionCalc__title">Официальные чистые доходы заемщика за 2019 год за вычетом удержанных налогов</div>
            <div class="incomeReductionCalc__text">Напоминаем, что при расчете среднемесячного дохода необходимо указывать сумму дохода за минусом удержанных налогов, в частности данные в справке 2-НДФЛ приводятся до удержания налога.</div>
            <div class="incomeReductionCalc__table incomeReductionCalcTable">
                <div class="incomeReductionCalcTable__row">
                    <div class="incomeReductionCalcTable__col" v-for="(v, index) in $v.mounthInputs.$each.$iter" :key="index">
                        <cibInput
                            :validator="v.value"
                            :fieldName="`mounth_${index}`"
                            :labelText="mounths[index]"
                            v-model="v.value.$model"
                            :replaceCharactersRegExp="/[^0-9]/g"
                            :sumFormatted="true"
                        />
                    </div>
                </div>
            </div>
            <cibInput
                :validator="$v.incomeLastMounth"
                fieldName="incomeLastMounth"
                labelText="Доход заемщика за месяц, предшествующий месяцу обращения"
                v-model="incomeLastMounth"
                :replaceCharactersRegExp="/[^0-9]/g"
                :sumFormatted="true"
            />
            <cibButton @click.prevent="submitCounting" :disabled="$v.$invalid">Рассчитать</cibButton>
        </div>
        </transition>
        <transition name="fade">
        <div class="incomeReductionCalc__notice" v-html="message" v-if="message"></div>
        </transition>
    </section>
</template>

<script>
import { validationMixin } from 'vuelidate'
import { required } from 'vuelidate/lib/validators'
export default {
    name: 'incomeReductionCalc',
    mixins: [validationMixin],
    components: {
        cibInput: () => import(/* webpackChunkName: "cibInput" */'./cibInput'),
        cibButton: () => import(/* webpackChunkName: "cibButton" */'./Button'),
        loader: () => import(/* webpackChunkName: "loader" */'./Loader')
    },
    validations () {
        return {
            incomeType: {
                required
            },
            mounthInputs: {
                required,
                $each: {
                    value: {
                        required
                    }
                }
            },
            incomeLastMounth: {
                required
            }
        }
    },
    created () {
        this.mounths.forEach(item => {
            this.mounthInputs.push({
                label: item,
                value: ''
            })
        })
    },
    data () {
        return {
            incomeOptions: [
                'Физическое лицо',
                'Индивидуальный предприниматель'
            ],
            mounthInputs: [],
            incomeType: '',
            incomeLastMounth: null,
            mounths: [
                'Январь',
                'Февраль',
                'Март',
                'Апрель',
                'Май',
                'Июнь',
                'Июль',
                'Август',
                'Сентябрь',
                'Октябрь',
                'Ноябрь',
                'Декабрь'
            ],
            message: '',
            showLoader: false
        }
    },
    computed: {
        averageAmount () {
            let result = 0
            let mounthInputs = [...this.mounthInputs]
            mounthInputs = mounthInputs.map(item => {
                const value = item.value || 0
                return parseInt(value)
            })
            if (this.incomeType === 'Физическое лицо') {
                let positiveValuesCount = null
                mounthInputs = mounthInputs.filter(item => {
                    return item
                })
                positiveValuesCount = mounthInputs.length
                if (positiveValuesCount >= 6) {
                    mounthInputs.sort((a, b) => {
                        return a - b
                    })
                    mounthInputs.splice(0, 2)
                    mounthInputs.splice(-2, 2)
                    result = mounthInputs.reduce((sum, current) => {
                        return sum + current
                    }, 0) / mounthInputs.length
                } else {
                    result = mounthInputs.reduce((sum, current) => {
                        return sum + current
                    }, 0) / mounthInputs.length
                }
            }
            if (this.incomeType === 'Индивидуальный предприниматель') {
                result = mounthInputs.reduce((sum, current) => {
                    return sum + current
                }, 0) / 12
            }
            return Math.round(result)
        }
    },
    methods: {
        submitCounting () {
            this.showLoader = true
            const reducedIncomeLevel = Math.round(parseInt(this.averageAmount * 0.7))
            if (reducedIncomeLevel <= parseInt(this.incomeLastMounth)) {
                this.message = 'Уровень снижения Вашего дохода <strong>не соответствует</strong> условиям пп. 2 ст. 6 Федерального закона № 106-ФЗ от 03.04.2020 г.'
            } else {
                this.message = 'Уровень снижения Вашего дохода соответствует условиям пп. 2 ст. 6 Федерального закона № 106-ФЗ от 03.04.2020 г.'
            }
            setTimeout(() => {
                this.showLoader = false
            }, 500)
        }
    },
    watch: {
        mounthInputs: {
            deep: true,
            handler () {
                this.message = ''
            }
        },
        incomeType () {
            this.message = ''
        },
        incomeLastMounth () {
            this.message = ''
        }
    }
}
</script>

<style lang="scss" scoped>
    @import '../assets/styles/incomeReductionCalc';
</style>
