<template>
    <a @click="emit($event)" :href="href" :class="classObject" rel="noopener noreferrer" :target="blank ? '_blank' : ''">
        <span class="cib-link__text"><slot>Название ссылки</slot></span>
        <svg class="cib-link__withArrow" v-if="this.type === 'withArrow'" width="12" height="8" viewBox="0 0 12 8" xmlns="http://www.w3.org/2000/svg">
            <path d="M11.3536 4.35355C11.5488 4.15829 11.5488 3.84171 11.3536 3.64645L8.17157 0.464466C7.97631 0.269204 7.65973 0.269204 7.46447 0.464466C7.2692 0.659728 7.2692 0.976311 7.46447 1.17157L10.2929 4L7.46447 6.82843C7.2692 7.02369 7.2692 7.34027 7.46447 7.53553C7.65973 7.7308 7.97631 7.7308 8.17157 7.53553L11.3536 4.35355ZM0 4.5L11 4.5V3.5L0 3.5L0 4.5Z" />
        </svg>
        <svg class="cib-link__anotherSite" v-if="this.type === 'anotherSite'" width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0)">
            <path d="M10.0474 7.0587C10.0474 6.8378 10.2265 6.6587 10.4474 6.6587C10.6683 6.6587 10.8474 6.8378 10.8474 7.0587V11.0511C10.8474 11.3838 10.7107 11.6874 10.4907 11.908L10.4884 11.9103C10.2678 12.1298 9.96461 12.2662 9.63231 12.2662H1.49601C1.16251 12.2662 0.859114 12.1295 0.639014 11.9096L0.637514 11.9081C0.417614 11.688 0.280914 11.3846 0.280914 11.0511V2.9172C0.280914 2.5845 0.417614 2.2809 0.637614 2.0603L0.639914 2.058C0.860514 1.8385 1.16371 1.7021 1.49601 1.7021H5.55751C5.77841 1.7021 5.95751 1.8812 5.95751 2.1021C5.95751 2.323 5.77841 2.5021 5.55751 2.5021H1.49601C1.38141 2.5021 1.27771 2.5484 1.20321 2.6229L1.20171 2.6244C1.12721 2.6989 1.08091 2.8026 1.08091 2.9172V11.0511C1.08091 11.1655 1.12751 11.2693 1.20241 11.3447C1.27781 11.4196 1.38161 11.4662 1.49601 11.4662H9.63231C9.74691 11.4662 9.85061 11.4199 9.92511 11.3454L9.92661 11.3439C10.0011 11.2694 10.0474 11.1657 10.0474 11.0511V7.0587ZM11.4127 1.8528L5.61541 7.6499C5.45931 7.806 5.20591 7.806 5.04981 7.6499C4.89371 7.4938 4.89371 7.2404 5.04981 7.0843L10.8471 1.2872H7.06851C6.84761 1.2872 6.66851 1.1081 6.66851 0.887198C6.66851 0.666298 6.84761 0.487198 7.06851 0.487198H11.8127C11.8591 0.487198 11.9036 0.495198 11.945 0.509698L11.9502 0.511498L11.9542 0.512998C11.9664 0.517598 11.9784 0.522798 11.99 0.528598L11.9948 0.530998L11.9987 0.533098L12.0034 0.535498L12.0074 0.537698L12.0118 0.540198L12.0159 0.542698L12.0244 0.547798L12.0283 0.550198L12.0328 0.553198L12.0363 0.555498L12.041 0.558798L12.0442 0.560998L12.0492 0.564598L12.052 0.566698L12.0572 0.570698L12.0596 0.572498L12.0651 0.576998L12.0806 0.590198L12.0816 0.591098L12.0881 0.597198L12.0887 0.597698L12.0955 0.604398L12.1022 0.611198L12.1027 0.611798L12.1088 0.618298L12.1097 0.619298L12.1229 0.634798L12.1274 0.640298L12.1292 0.642698L12.1332 0.647898L12.1353 0.650698L12.1389 0.655698L12.1411 0.658898L12.1444 0.663598L12.1467 0.667098L12.1497 0.671598L12.1521 0.675498L12.1572 0.683998L12.1597 0.688098L12.1622 0.692498L12.1644 0.696498L12.1668 0.701198L12.1689 0.705098L12.1713 0.709898C12.1771 0.721498 12.1823 0.733498 12.1869 0.745698L12.1884 0.749698L12.1902 0.754898C12.2047 0.796298 12.2127 0.840798 12.2127 0.887198V5.5849C12.2127 5.8058 12.0336 5.9849 11.8127 5.9849C11.5918 5.9849 11.4127 5.8058 11.4127 5.5849V1.8528Z" fill="#8D8D8D"/>
            </g>
            <defs>
            <clipPath id="clip0">
            <rect width="12.6998" height="12.6998" fill="white"/>
            </clipPath>
            </defs>
        </svg>
    </a>
</template>

<script>
export default {
    props: {
        href: {
            type: String,
            default: '#'
        },
        colorTheme: {
            type: String,
            default: 'green',
            validator: (value) => {
                const availableValues = ['green', 'white', 'greyDark', 'greyLight']
                const isValid = availableValues.indexOf(value) >= 0
                if (!isValid) {
                    console.error(`Не допустимое значение '${value}', параметра colorTheme`)
                    console.warn('Доступные свойства:')
                    console.warn(availableValues.join(', '))
                }
                return isValid
            }
        },
        type: {
            type: String,
            default: 'default',
            validator: (value) => {
                const availableValues = ['default', 'withArrow', 'anotherSite']
                const isValid = availableValues.indexOf(value) >= 0
                if (!isValid) {
                    console.error(`Не допустимое значение '${value}', параметра type`)
                    console.warn('Доступные свойства:')
                    console.warn(availableValues.join(', '))
                }
                return isValid
            }
        },
        blank: {
            type: Boolean,
            default: false
        },
        customClass: {
            type: String,
            default: ''
        },
        disabled: {
            type: Boolean
        }
    },
    computed: {
        classObject () {
            const obj = {}
            obj['cib-link'] = true
            obj[`cib-link_${this.colorTheme}`] = true
            obj['cib-link_withImg'] = this.type !== 'default'
            obj['cib-link_disabled'] = this.disabled
            if (this.customClass) {
                obj[`${this.customClass}`] = true
            }
            return obj
        }
    },
    methods: {
        emit ($event) {
            if (!this.disabled) {
                this.$emit('click', $event)
            }
        }
    }
}
</script>

<style lang="scss" scoped>
    @import '../assets/styles/link';
</style>
