<template>
    <div class="preloader" :class="{'preloader_fixed': fixed}">
        <div class="preloader__overlay" :class="{'preloader__overlay_transparent' : transparent}"></div>
        <div class="preloader__wr">
            <div class="preloader__spinner"></div>
            <div class="preloader__logo-wr">
                <img src="../assets/img/loaderLogo.svg" alt="" class="preloader__logo">
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Loader',
    props: {
        fixed: {
            type: Boolean,
            default: false
        },
        transparent: {
            type: Boolean,
            default: false
        }
    }
}
</script>

<style scoped lang="scss">
.preloader {
    position: absolute;
    &_fixed {
        position: fixed;
    }
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
    &__overlay {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background: rgba(255,255,255,1);
        &_transparent {
            opacity: 0.5;
        }
    }

    &__wr {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    &__logo-wr {
        max-width: 200px;
        margin-top: 15px;
        user-select: none;
    }

    &__logo {
        width: 100%;
        height: 42px;
    }

    &__spinner {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-bottom: 3px solid #50b848;
        border-top: 3px solid #50b848;
        animation: rotate 1s linear infinite;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
</style>
