<template>
    <section class="maternalCapitalRequest">
        <message ref="message"></message>
        <transition name="fade">
            <loader v-show="showLoader" :transparent="true" :fixed="true"></loader>
        </transition>
        <h1 class="maternalCapitalRequest__h1">Заявление на распоряжение средств материнским капиталом</h1>
        <div class="request-nav">
            <div class="request-wrapper">
                <div class="request-nav__step-info">
                    <div class="request-nav__current-step">
                        <span>(шаг {{ stepNumber }} из {{ steps.length }})</span>
                    </div>
                    <div class="request-nav__pagination">
                        <div
                            class="request-nav__pagination-item"
                            v-for="(step, index) in steps"
                            :key="index"
                            :class="paginationClasses(step)"
                            @click.prevent="setStep(step)"
                        ></div>
                    </div>
                </div>
            </div>
        </div>
        <transition name="fade" mode="out-in">
            <component v-bind:is="currentStep" :$v="$stepValidator"></component>
        </transition>
        <div class="maternalCapitalRequest__row maternalCapitalRequest__row_flex maternalCapitalRequest__row_file">
            <div class="maternalCapitalRequest__col maternalCapitalRequest__col_fileList">
                <div class="maternalCapitalRequest__fileList fileList" v-show="files.length">
                    <div class="fileList__item" v-for="(file, index) in files" :key="index">
                        <div class="fileList__fileName">{{ file.name }} ({{transformSize(file.size)}} КБ)</div>
                        <img class="fileList__delete" src="../assets/img/trash.svg" alt="" @click.prevent="deleteFile(index)">
                    </div>
                </div>
                <div class="maternalCapitalRequest__col maternalCapitalRequest__col_file" v-show="files.length < 5">
                    <input type="file" name="" id="" ref="files" class="maternalCapitalRequest__file" @change="onImageSelection($event.target.files)">
                    <cibButton @click.prevent="browseFiles" colorTheme="pseudo">
                        <img class="maternalCapitalRequest__clip" src="../assets/img/clip.svg" alt="">Прикрепить файл
                    </cibButton>
                    <div class="maternalCapitalRequest__fileErrors">
                        {{ uploadFileErrors.join(', ') }}
                    </div>
                </div>
                <div class="maternalCapitalRequest__ext">
                    Допустимые форматы<br>{{ availableExtentions.join(', ') }}
                </div>
            </div>
        </div>
        <div class="maternalCapitalRequest__buttons-wr button-nav">
            <div class="button-nav__row">
                <div class="button-nav__col button-nav__col_desktop button-nav__col_left">
                    <cibButton v-if="currentStepIndex > 0" type="form-button" colorTheme="green-empty" @click="back">
                        назад
                    </cibButton>
                </div>
                <div
                    v-if="currentStepIndex < steps.length - 1"
                    class="button-nav__col button-nav__col_right"
                >
                    <cibButton type="form-button" @click="forward">
                        вперед
                    </cibButton>
                </div>
                <div
                    v-if="currentStepIndex === steps.length - 1"
                    class="button-nav__col button-nav__col_right"
                >
                    <cibButton type="form-button" @click="sendRequest" :disabled="!$isDataValid">
                        отправить заявку
                    </cibButton>
                </div>
            </div>
        </div>
        <div class="maternalCapitalRequest__buttons-wr button-nav">
            <div class="button-nav__row">
                <div class="button-nav__col button-nav__col_left">
                    <cibButton type="form-button" @click.prevent="getFile" :disabled="!$isDataValid">Посмотреть результат</cibButton>
                </div>
            </div>
        </div>
        <transition name="fade">
            <div class="modal-hint" @click.self.prevent="closeModal" v-show="showModal">
                <div class="modal-hint__content">
                    <div class="modal-hint__text">Ваше обращение принято под номером <span class="modal-hint__bold">{{ requestNumber }}</span></div>
                    <div class="modal-hint__row">
                        <cibButton colorTheme="green" @click.prevent="closeModal" customClass="modal-hint__button">Ок</cibButton>
                    </div>
                </div>
            </div>
        </transition>
    </section>
</template>

<script>
import store from '../componentsStore/maternalStore'
import { validationMixin } from 'vuelidate'
import { required, helpers, maxLength, requiredIf } from 'vuelidate/lib/validators'
import maxPreviousDay from '../validators/maxPreviousDay'
import dateFormat from '../validators/dateFormat'
import ruDashSpace from '../validators/ruDashSpace'
import rusInput from '../validators/rusInput'
import rusInputAndNumbers from '../validators/rusInputAndNumbers'
import snils from '../validators/snils'
import phone from '../validators/phone'
import postCode from '../validators/postCode'
import passportData from '../validators/passportData'
import passportDivisionCode from '../validators/passportDivisionCode'
import emailFullCheck from '../validators/emailFullCheck'
import axios from 'axios'
import { dadataTypesObject, model } from '../config/maternalData'
import { mapFields } from 'vuex-map-fields'
import { mapGetters } from 'vuex'
import Vue from 'vue'
import VueToast from 'vue-toast-notification'
import 'vue-toast-notification/dist/theme-sugar.css'
Vue.use(VueToast)

const contractNumber = helpers.regex('contractNumber', /^([0-9]{8})$/)
export default {
    store,
    name: 'MaternalCapitalRequest',
    mixins: [validationMixin],
    components: {
        loader: () => import(/* webpackChunkName: "loader" */'./Loader'),
        cibButton: () => import(/* webpackChunkName: "cibButton" */'./Button'),
        Step10: () => import(/* webpackChunkName: "MaternalCapitalRequestSteps" */'./MaternalCapitalRequestSteps/Step10'),
        Step20: () => import(/* webpackChunkName: "MaternalCapitalRequestSteps" */'./MaternalCapitalRequestSteps/Step20'),
        Step30: () => import(/* webpackChunkName: "MaternalCapitalRequestSteps" */'./MaternalCapitalRequestSteps/Step30'),
        Step40: () => import(/* webpackChunkName: "MaternalCapitalRequestSteps" */'./MaternalCapitalRequestSteps/Step40'),
        Step50: () => import(/* webpackChunkName: "MaternalCapitalRequestSteps" */'./MaternalCapitalRequestSteps/Step50'),
        message: () => import(/* webpackChunkName: "popupMessage" */'../appComponents/popupMessage')
    },
    props: {
        hostParam: {
            type: String,
            default: 'https://showroom25.dev.cinet.ru/'
        }
    },
    created () {
        this.host = this.hostParam
    },
    data: () => ({
        showLoader: false,
        dadataTypesObject: dadataTypesObject,
        steps: ['Step10', 'Step20', 'Step30', 'Step40', 'Step50'],
        showModal: false,
        requestNumber: null,
        files: [],
        availableExtentions: [
            'pdf'
        ],
        availableSize: 15728640,
        uploadFileErrors: [],
    }),
    computed: {
        ...mapFields([
            'model',
            'host',
            'currentStep',
            'currentStepIndex'
        ]),
        ...mapGetters([
            'isEmailNotification',
            'isPhoneNotification',
            'isResidentialBuildingType',
            'Step10',
            'Step20',
            'Step30',
            'Step40',
            'Step50'
        ]),
        stepNumber () {
            return this.steps.findIndex((step) => {
                return step === this.currentStep
            }) + 1
        },
        disabledDates () {
            return {
                issuedDate: {
                    from: new Date()
                }
            }
        },
        $stepValidator () {
            const groups = this.$v.validationGroup
            if (groups && Object.prototype.hasOwnProperty.call(groups, this.currentStep)) {
                return groups[this.currentStep]
            }
            return null
        },
        $isDataValid () {
            return !this.$v.$invalid
        },
    },
    methods: {
        async getFile () {
            this.$v.$touch()
            if (this.$isDataValid) {
                const sum = parseFloat(this.model.capitalAmount.toString().replace(/\s/g, '').replace(',', '.'))
                this.model.capitalAmount = sum
                try {
                    const formData = new FormData()
                    formData.append('applicationData', JSON.stringify(this.model))
                    if (this.files.length) {
                        const files = this.files
                        files.forEach((element, index) => {
                            formData.append(`file${index}`, element)
                        })
                    }
                    const response = await axios({
                        url: `${this.host}cabinet/feedback/api/mat-cap-disposal-app/preview`,
                        method: 'POST',
                        responseType: 'blob',
                        data: formData,
                    })
                    const fileURL = window.URL.createObjectURL(new Blob([response.data]))
                    const fileLink = document.createElement('a')
                    fileLink.href = fileURL
                    fileLink.setAttribute('download', 'preview.docx')
                    document.body.appendChild(fileLink)
                    fileLink.click()
                } catch (e) {
                    console.log(e.response)
                    if (e.response.status === 400) {
                        this.$toast.open({
                            message: 'Проверьте правильность заполнения полей',
                            type: 'error',
                            duration: 5000,
                            dismissible: true,
                            position: 'top'
                        })
                    }
                    if (e.response.status === 500) {
                        this.$toast.open({
                            message: 'Ошибка сервера',
                            type: 'error',
                            duration: 5000,
                            dismissible: true,
                            position: 'top'
                        })
                    }
                }
            }
        },
        setStep (step) {
            this.currentStep = step
            this.currentStepIndex = this.stepNumber - 1
        },
        back () {
            this.currentStepIndex--
            this.currentStep = this.steps[this.currentStepIndex]
        },
        forward () {
            this.$stepValidator.$touch()
            if (!this.$stepValidator.$invalid) {
                this.currentStepIndex++
                this.currentStep = this.steps[this.currentStepIndex]
            } else {
                this.$toast.open({
                    message: 'Проверьте правильность заполнения полей',
                    type: 'error',
                    duration: 5000,
                    dismissible: true,
                    position: 'top'
                })
            }
        },
        paginationClasses (step) {
            const $v = this.$v[step]
            return {
                'request-nav__pagination-item_active': step === this.currentStep,
                'request-nav__pagination-item_valid': !$v.$invalid,
                'request-nav__pagination-item_invalid': $v.$anyDirty && $v.$invalid
            }
        },
        async sendRequest () {
            this.$v.$touch()
            if (!this.files.length) {
                this.$toast.open({
                    message: 'Необходимо прикрепить файл к заявке',
                    type: 'error',
                    duration: 5000,
                    dismissible: true,
                    position: 'top'
                })
            }
            if (!this.$isDataValid) {
                this.$toast.open({
                    message: 'Проверьте правильность заполнения полей',
                    type: 'error',
                    duration: 5000,
                    dismissible: true,
                    position: 'top'
                })
            }
            if (this.$isDataValid && this.files.length) {
                const sum = parseFloat(this.model.capitalAmount.toString().replace(/\s/g, '').replace(',', '.'))
                this.model.capitalAmount = sum
                this.showLoader = true
                try {
                    const formData = new FormData()
                    formData.append('applicationData', JSON.stringify(this.model))
                    if (this.files.length) {
                        const files = this.files
                        files.forEach((element, index) => {
                            formData.append(`file${index}`, element)
                        })
                    }
                    const response = await axios.post(`${this.host}cabinet/feedback/api/mat-cap-disposal-app`, formData)
                    this.requestNumber = response.data.num
                    this.showModal = true
                    this.model = { ...model }
                    this.files = []
                    this.$v.$reset()
                } catch (e) {
                    if (e.response.status === 400) {
                        console.log(e.response)
                        this.$toast.open({
                            message: e.response.data.error,
                            type: 'error',
                            duration: 5000,
                            dismissible: true,
                            position: 'top'
                        })
                    }
                    if (e.response.status === 500) {
                        this.$toast.open({
                            message: 'Ошибка сервера',
                            type: 'error',
                            duration: 5000,
                            dismissible: true,
                            position: 'top'
                        })
                    }
                } finally {
                    this.showLoader = false
                }
            }
        },
        closeModal () {
            setTimeout(() => {
                this.requestNumber = null
            }, 1000)

            this.showModal = false
        },
        browseFiles () {
            this.uploadFileErrors = []
            this.$refs.files.click()
        },
        transformSize (value) {
            return Math.round(value / 1024)
        },
        deleteFile (index) {
            this.$refs.files.value = null
            const files = [...this.files]
            files.splice(index, 1)
            this.files = [...files]
        },
        onImageSelection (files) {
            if (!files.length) {
                return false
            }
            const file = files[0]
            const ext = /[^.]+$/.exec(file.name)[0].toLowerCase()
            if (!this.availableExtentions.includes(ext)) {
                this.uploadFileErrors.push('Недопустимое расширение файла')
                return false
            }
            const sumFilesSize = this.files.reduce((sum, current) => {
                return sum + current.size
            }, 0) + file.size
            if (sumFilesSize > this.availableSize) {
                this.uploadFileErrors.push('Суммарный размер файлов не должен превышать 15 МБ')
                return false
            }
            this.files.push(file)
        },
    },
    validations () {
        const Step10 = {
            loanContractNumber: {
                required,
                contractNumber
            },
            loanContractDate: {
                required,
                dateFormat,
                maxPreviousDay
            },
            officeId: {
                required
            },
            fullName: {
                required,
                maxLength: maxLength(250),
                rusInput
            },
            personName: {
                name: {
                    required,
                    maxLength: maxLength(250),
                    rusInput
                },
                surname: {
                    required,
                    maxLength: maxLength(250),
                    rusInput
                },
                bornSurname: {
                    required,
                    maxLength: maxLength(250),
                    rusInput
                },
                patronymic: {
                    required,
                    maxLength: maxLength(250),
                    rusInput
                }
            },
            applicantStatus: {
                required
            },
            snils: {
                required,
                snils
            },
            certSeriesAndNumber: {
                required
            },
            certIssuedByAndDate: {
                required,
                rusInputAndNumbers
            },
        }
        const Step20 = {
            passport: {
                passportData: {
                    required,
                    passportData
                },
                issuedDate: {
                    required,
                    dateFormat,
                    maxPreviousDay
                },
                divisionCode: {
                    required,
                    passportDivisionCode
                },
                issuedName: {
                    required,
                    rusInputAndNumbers
                }
            },
            registrationAddress: {
                postCode: {
                    required,
                    postCode
                },
                region: {
                    required,
                    rusInputAndNumbers
                },
                district: {
                    rusInputAndNumbers
                },
                locality: {
                    required,
                    rusInputAndNumbers
                },
                street: {
                    required,
                    rusInputAndNumbers
                },
                houseNum: {
                    required,
                    rusInputAndNumbers
                },
                flatNum: {
                    rusInputAndNumbers
                }
            },
            residenceAddress: {
                postCode: {
                    required: requiredIf(() => {
                        return !this.model.residenceAddressSameAsRegistration
                    }),
                    postCode
                },
                region: {
                    required: requiredIf(() => {
                        return !this.model.residenceAddressSameAsRegistration
                    }),
                    rusInputAndNumbers
                },
                district: {
                    rusInputAndNumbers
                },
                locality: {
                    required: requiredIf(() => {
                        return !this.model.residenceAddressSameAsRegistration
                    }),
                    rusInputAndNumbers
                },
                street: {
                    required: requiredIf(() => {
                        return !this.model.residenceAddressSameAsRegistration
                    }),
                    rusInputAndNumbers
                },
                houseNum: {
                    required: requiredIf(() => {
                        return !this.model.residenceAddressSameAsRegistration
                    }),
                    rusInputAndNumbers
                },
                flatNum: {
                    rusInputAndNumbers
                }
            },
            contactPhoneNumber: {
                required,
                phone
            },
        }
        const Step30 = {
            typeOfExpenses: {
                required
            },
            capitalAmount: {
                required
            },
            notificationType: {
                required
            },
            email: {
                required: requiredIf(() => {
                    return this.isEmailNotification
                }),
                emailFullCheck
            },
            codeWord: {
                required: requiredIf(() => {
                    return this.isPhoneNotification
                })
            },
        }
        const Step40 = {
            annexData: {
                ownershipRightsDocumentData: {
                    required
                },
                cadastralNumber: {
                    required
                },
                objectType: {
                    required
                },
                objectAddress: {
                    region: {
                        required,
                        rusInputAndNumbers
                    },
                    district: {
                        rusInputAndNumbers
                    },
                    locality: {
                        required,
                        rusInputAndNumbers
                    },
                    street: {
                        required,
                        rusInputAndNumbers
                    },
                    houseNum: {
                        required,
                        rusInputAndNumbers
                    },
                    flatNum: {
                        rusInputAndNumbers
                    }
                },
                buildingRightsDocumentData: {

                },
                steadRightsDocumentData: {
                    required: requiredIf(() => {
                        return this.isResidentialBuildingType
                    })
                }
            }
        }
        const Step50 = {
            annexData: {
                steadCadastralNumber: {
                    required: requiredIf(() => {
                        return this.isResidentialBuildingType
                    })
                },
                steadLandCategory: {
                    required: requiredIf(() => {
                        return this.isResidentialBuildingType
                    })
                },
                steadArea: {
                    required: requiredIf(() => {
                        return this.isResidentialBuildingType
                    })
                },
                steadAddress: {
                    region: {
                        required: requiredIf(() => {
                            return this.isResidentialBuildingType
                        }),
                        rusInputAndNumbers
                    },
                    district: {
                        rusInputAndNumbers
                    },
                    locality: {
                        required: requiredIf(() => {
                            return this.isResidentialBuildingType
                        }),
                        rusInputAndNumbers
                    },
                    street: {
                        required: requiredIf(() => {
                            return this.isResidentialBuildingType
                        }),
                        rusInputAndNumbers
                    },
                    houseNum: {
                        required: requiredIf(() => {
                            return this.isResidentialBuildingType
                        }),
                        rusInputAndNumbers
                    },
                    flatNum: {
                        rusInputAndNumbers
                    }
                },
                spouseFullName: {
                    ruDashSpace
                }
            }
        }
        const validationGroup = [
            'Step10',
            'Step20',
            'Step30',
            'Step40',
            'Step50'
        ]
        return {
            Step10,
            Step20,
            Step30,
            Step40,
            Step50,
            validationGroup
        }
    }
}
</script>
<style lang="scss">
$vs-border-width: 0px;
@import "vue-select/src/scss/vue-select.scss";
.v-toast {
    font-family: Roboto;
}
</style>
<style lang="scss" scoped>
@import '../assets/styles/maternalCapitalRequest';
</style>
