<template>
    <div class="newsCalendar">
        <h1 class="newsCalendar__h1">Пресс-релизы</h1>
        <transition name="fade">
            <loader :transparent="true" v-if="showLoader" :fixed="true"></loader>
        </transition>
        <div class="newsCalendar__row">
            <div class="newsCalendar__col">
                <cibInput
                    inputTag="select"
                    fieldName="year"
                    labelText="Год"
                    v-model="formData.year"
                >
                    <template #selectOptions>
                        <option v-for="(option, index) in yearsList" :value="option" :key="index">{{ option }}</option>
                    </template>
                </cibInput>
            </div>
            <div class="newsCalendar__col">
                <cibInput
                    inputTag="select"
                    fieldName="month"
                    labelText="Месяц"
                    v-model="modMonth"
                >
                    <template #selectOptions>
                        <option v-for="(option, index) in monthMap" :value="`${index + 1}`" :key="index">{{ option }}</option>
                    </template>
                </cibInput>
            </div>
        </div>
        <div class="newsCalendar__result newsCalendar-result">
            <div class="newsCalendar-result__newsList" v-if="newsList.length">
                <div class="newsCalendar-result__newsListItem newsListItem" v-for="(item, index) in newsList" :key="index" >
                    <div class="newsListItem__caption"> <cibLink :href="item.url" v-html="item.name"></cibLink></div>
                    <div class="newsListItem__preview-text" v-html="item.text"></div>
                    <div class="newsListItem__date">{{ item.date }}</div>
                </div>
            </div>
            <div class="newsCalendar-result__empty" v-else>Не найдено новостей за данный период</div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios'
    export default {
        name: 'NewsCalendar',
        components: {
            cibInput: () => import(/* webpackChunkName: "cibInput" */'./cibInput'),
            loader: () => import(/* webpackChunkName: "loader" */'./Loader'),
            cibLink: () => import(/* webpackChunkName: "cibLink" */'./link')
        },
        data () {
            return {
                formData: {
                    year: null,
                    month: null
                },
                monthMap: [
                    'Январь',
                    'Февраль',
                    'Март',
                    'Апрель',
                    'Май',
                    'Июнь',
                    'Июль',
                    'Август',
                    'Сентябрь',
                    'Октябрь',
                    'Ноябрь',
                    'Декабрь'
                ],
                date: new Date(),
                newsList: [],
                showLoader: true
            }
        },
        created () {
            this.formData.year = this.date.getFullYear()
            this.formData.month = ('0' + (this.date.getMonth() + 1)).slice(-2)
        },
        computed: {
            yearsList () {
                const result = []
                const startYear = 1997
                const currentYear = this.date.getFullYear()
                for (let index = startYear; index <= currentYear; index++) {
                    result.push(index)
                }
                return result.reverse()
            },
            currentMonth () {
                return this.monthMap[this.date.getMonth()]
            },
            modMonth: {
                get () {
                    return parseInt(this.formData.month)
                },
                set (value) {
                    const result = ('0' + value).slice(-2)
                    this.formData.month = result
                }
            }
        },
        methods: {
            getNews () {
                this.showLoader = true
                axios.get('/ru/services/about/news/archive', {
                        params: {
                            year: this.formData.year,
                            month: this.formData.month
                        }
                    })
                    .then(res => {
                        this.newsList = res.data
                    })
                    .catch(error => {
                        console.log(error)
                    })
                    .finally(() => {
                        this.showLoader = false
                    })
            }
        },
        watch: {
            formData: {
                deep: true,
                handler () {
                    this.getNews()
                }
            }
        }
    }
</script>

<style lang="scss" scoped>
    @import '../assets/styles/newsCalendar';
</style>
