<template>
    <div class="popupMessage">
        <transition name="fade">
        <div class="popupMessage__message" v-if="showMessage" v-html="currentNotice.message" :class="getClass"></div>
        </transition>
    </div>
</template>

<script>
export default {
    data () {
        return {
            config: {
                type: '',
                message: '',
                position: 'is-top',
                duration: 2000
            },
            queue: [],
            showMessage: false,
            inProcess: false,
            timer: null
        }
    },
    computed: {
        currentNotice () {
            if (this.queue.length) {
                return this.queue[0]
            } else {
                return null
            }
        },
        getClass () {
            const obj = {}
            obj[`popupMessage__message_${this.currentNotice.type}`] = true
            obj[`popupMessage__message_${this.currentNotice.position}`] = true
            return obj
        }
    },
    methods: {
        open (config) {
            const popupData = { ...this.config, ...config }
            this.queue.push(popupData)
            if (!this.inProcess) {
                this.showNotice()
            }
        },
        close () {
            this.showMessage = false
            const queueCopy = [...this.queue]
            queueCopy.splice(0, 1)
            this.queue = queueCopy
        },
        showNotice () {
            if (this.queue.length) {
                this.inProcess = true
                new Promise(resolve => {
                    setTimeout(() => {
                        this.showMessage = true
                        resolve()
                    }, 250)
                })
                .then(() => {
                    return new Promise(resolve => {
                        setTimeout(() => {
                            this.close()
                            resolve()
                        }, this.currentNotice.duration)
                    })
                })
                .then(() => {
                    return new Promise(resolve => {
                        setTimeout(() => {
                            this.showNotice()
                            resolve()
                        }, 250)
                    })
                })
            } else {
                this.inProcess = false
                return false
            }
        }
    }
}
</script>

<style lang="scss" scoped>
@import '../assets/styles/popupMessage';
</style>
