<template>
    <div class="test">
        <cibInput
            v-model="birthdate"
            fieldName="birthdate123"
            labelText="Дата рождения"
            mask="99.99.9999"
            :v-date-picker-support="true"
            :v-min-date="new Date(2011, 0, 1, 0, 0, 0, 0)"
        >
        </cibInput>
        <br>
        <br>
        <message ref="message"></message>
        <button @click="test">сообщение</button>
        <cibInput
            inputTag="select"
            :required="true"
            label-text="Селект"
            fieldName="select"
            v-model="selectVal"
            selectLabelPosition="inside"
        >
        <template #selectOptions>
            <option v-for="(option, index) in selectOptions" :value="index" :key="index">{{ option.text }}</option>
        </template>

        </cibInput>
        <cibInput
            v-model="fio"
            fieldName="fio"
            labelText="ФИО"
            companySuggestPrefix="ИП "
            @customSuggestions="suggestionsHandler"
            suggestionType="ib_only"
            suggestionsApiMethod="companyNameSuggestions"
            :showSuggestion="showSuggestion.fio"
        >
        <template #suggestions>
            <div class="input-component__suggest" v-for="(suggestion, index, key) in suggestionsFromComponent" :key="key" @click="onAutocompleteCompany(suggestion, 'fio')">
                <div class="input-component__suggest-row" v-html="suggestion.value"></div>
                <div class="input-component__suggest-row">{{ `ИНН: ${suggestion.additionalInfo.inn}; ${suggestion.additionalInfo.address.value}` }}</div>
            </div>
        </template>
        </cibInput>

        {{ fio }}

        <cibInput
            v-model="inn"
            fieldName="inn"
            labelText="Инн"
            @customSuggestions="suggestionsHandler"
            suggestionType="ib_only"
            suggestionsApiMethod="companyNameSuggestions"
            :showSuggestion="showSuggestion.inn"
        >
         <template #suggestions>
            <div class="input-component__suggest" v-for="(suggestion, index, key) in suggestionsFromComponent" :key="key" @click="onAutocompleteCompany(suggestion, 'inn')">
                <div class="input-component__suggest-row" v-html="suggestion.value"></div>
                <div class="input-component__suggest-row">{{ `ИНН: ${suggestion.additionalInfo.inn}; ${suggestion.additionalInfo.address.value}` }}</div>
            </div>
        </template>
        </cibInput>
<!--        <cibInput-->
<!--            v-model="birthdate"-->
<!--            fieldName="birthdate"-->
<!--            labelText="Дата рождения"-->
<!--            :datepickerSupport="true"-->
<!--            mask="99.99.9999"-->
<!--            placeholder="01.01.1990"-->
<!--            :datePickerOption="{-->
<!--                'disabled-dates': {-->
<!--                    from: from-->
<!--                },-->
<!--                'initial-view': 'year'-->
<!--            }"-->
<!--        >-->
<!--        </cibInput>-->
        <cibInput
            v-model="test1"
            fieldName="test1"
            labelText="Имя"
            suggestionsApiMethod="fioFirstNameSuggestions"
        ></cibInput>

        <cibInput
            v-model="lastName"
            fieldName="personalData_lastname"
            labelText="Фамилия"
            suggestionsApiMethod="fioLastNameSuggestions"
        ></cibInput>

        <cibInput
            v-model="surName"
            fieldName="personalData_surname"
            labelText="Отчество"
            suggestionsApiMethod="fioPatronymicSuggestions"
            :surnameAttr="test1"
        ></cibInput>

        <cibInput
            v-model="adress"
            fieldName="adress"
            labelText="dadataAddressSuggestions"
            suggestionsApiMethod="dadataAddressSuggestions"
        ></cibInput>

        <cibInput
            v-model="email"
            fieldName="email"
            labelText="emailSuggestions"
            suggestionsApiMethod="emailSuggestions"
        ></cibInput>

        <cibInput
            v-model="profess"
            fieldName="profess"
            labelText="professionSuggestions"
            suggestionsApiMethod="professionSuggestions"
        ></cibInput>

        <cibInput
            v-model="dadataBankSuggestions"
            fieldName="dadataBankSuggestions"
            labelText="dadataBankSuggestions"
            suggestionsApiMethod="dadataBankSuggestions"
        ></cibInput>

        <cibInput
            v-model="postcodeSuggestions"
            fieldName="postcodeSuggestions"
            labelText="postcodeSuggestions"
            suggestionsApiMethod="postcodeSuggestions"
        ></cibInput>
        <cibInput
            v-model="phone"
            type="tel"
            fieldName="phone"
            labelText="Телефон"
            mask="+7 (999) 999-99-99"
            :mask-options="{
                clearMaskOnLostFocus: true,
                inputmode: 'tel'
            }"
            :validator="$v.phone"
        ></cibInput>
        {{ phone }}
        <cibInput
            v-model="checkbox"
            fieldName="checkbox"
            labelText="чекбокс"
            inputType="checkbox"
            checkboxSize="small"
            :disabled="true"
        ></cibInput>

        <cibInput
            v-model="checkboxToggle"
            fieldName="checkboxToggle"
            inputType="checkbox"
            checkBoxType="toggle"
        >
        <template #labelText>
            чек чек чек
        </template>
        </cibInput>

        <cibInput
            v-model="checkboxGroup"
            inputType="checkbox"
            fieldName="groupCheckbox"
            :itemsArr="selectOptions"
            labelForGroup="Название группы элементов"
        ></cibInput>

        <cibInput
            v-model="itemsArrNewModel"
            inputType="checkbox"
            fieldName="groupCheckbox123"
            :itemsArr="itemsArrNew"
            labelForGroup="Название группы элементов"
        ></cibInput>

        <cibInput
            v-model="radio"
            inputType="radio"
            fieldName="groupCheckbox"
            :itemsArr="selectOptions"
            labelForGroup="Название группы элементов"
            :disabled="true"
        ></cibInput>
        <cibInput
            v-model="lengthInput"
            fieldName="lengthInput"
            labelText="МинМакс"
            inputHint="подсказка подсказка подсказка подсказка"
        ></cibInput>
        <cibInput
            v-model="rus"
            fieldName="rus"
            labelText="Русскиe буквы"
            :replaceCharactersRexExp="/[^А-Яа-яЁё\s]/g"
        ></cibInput>

        <cibInput
            v-model="check1"
            fieldName="applicationDataPaymentKnownPaymentMonth"
            labelText="Известен только период платежа"
            inputType="checkbox"
            checkboxSize="small"
            key="applicationDataPaymentKnownPaymentMonth"
            @change="$v.check1.$touch()"
        />

        <cibInput
            v-model="check2"
            fieldName="applicationDataPaymentKnownPaymentDate"
            labelText="Известен только дата платежа"
            inputType="checkbox"
            checkboxSize="small"
            key="applicationDataPaymentKnownPaymentDate"
            @change="$v.check2.$touch()"
        />

        <cibInput
            v-model="sum"
            fieldName="sum"
            labelText="Сумма"
            :sumFormatted="true"
            :vCurrencyOptions="{
                locale: undefined
            }"
        ></cibInput>

    </div>
</template>

<script>
import { validationMixin } from 'vuelidate'
import { required, minLength, between, helpers, maxLength, requiredIf } from 'vuelidate/lib/validators'
import { CurrencyDirective } from 'vue-currency-input'
const phone = helpers.regex('phone', /^(\+7\s\([0-9]{3}\)\s[0-9]{3}-[0-9]{2}-[0-9]{2})$/)
const ruDashSpace = helpers.withParams({ type: 'ruDashSpace' }, function (value) {
    return !helpers.req(value) || /^([А-Яа-яёЁ\-\s]+)$/g.test(value)
})
const isTrue = helpers.withParams({ type: 'isTrue' }, function (value) {
    return value
})
const oneOfTwo = (param) =>
    (value) => value || param

export default {
    name: 'testInput',
    mixins: [validationMixin],
    components: {
        cibInput: () => import(/* webpackChunkName: "cibInput" */'./cibInput'),
        cibButton: () => import(/* webpackChunkName: "cibButton" */'./Button'),
        cibLink: () => import(/* webpackChunkName: "cibLink" */'./link'),
        message: () => import(/* webpackChunkName: "popupMessage" */'./popupMessage'),
        loader: () => import(/* webpackChunkName: "loader" */'./Loader')
    },
    directives: {
        currency: CurrencyDirective
    },
    data () {
        return {
            check1: false,
            check2: false,
            sum: null,
            name: '',
            age: '',
            phone: null,
            fio: '',
            test1: '',
            workPhone: '',
            adress: '',
            lengthInput: '',
            rus: '',
            postcodeSuggestions: '',
            email: '',
            inn: '',
            lastName: '',
            surName: '',
            profess: '',
            textArea: '',
            birthdate: null,
            checkbox: false,
            radio: '',
            dadataBankSuggestions: '',
            checkboxToggle: '',
            checkboxGroup: [],
            selectVal: null,
            selectOptions: [{
                    value: false,
                    text: 'text 1'
                },
                {
                    value: true,
                    text: 'text 2text 2 text 2text 2text 2 texttext 2text 2 text 2text2text2text2 text 2 text 2 text 2 text 2 text 2 text 2'
                },
                {
                    value: 'value 3',
                    text: 'text 3'
                }
            ],
            suggestionsFromComponent: [],
            showSuggestion: {
                fio: false,
                inn: false
            },
            itemsArrNew: ['1123', '123', '123123123'],
            itemsArrNewModel: [],
            index: 0,
            availableTypes: ['is-warning', 'is-success', 'is-danger'],
            availablePositions: ['is-top-right', 'is-top', 'is-top-left', 'is-bottom-right', 'is-bottom', 'is-bottom-left']
        }
    },
    computed: {
        from () {
            const date = new Date(Date.now())
            date.setDate(date.getDate())
            return date
        }
    },
    methods: {
        getRandomInt (min, max) {
            return Math.floor(Math.random() * (max - min + 1)) + min
        },
        test () {
            this.$refs.message.open({
                type: this.availableTypes[this.getRandomInt(0, 2)],
                message: `Сообщение, очень очень очень много сообщений${this.index}`,
                position: this.availablePositions[this.getRandomInt(0, 5)],
                duration: 2000
            })
            this.index++
        },
        getParamNames (func) {
            const STRIP_COMMENTS = /((\/\/.*$)|(\/\*[\s\S]*?\*\/))/mg
            const ARGUMENT_NAMES = /([^\s,]+)/g
            const fnStr = func.toString().replace(STRIP_COMMENTS, '')
            let result = fnStr.slice(fnStr.indexOf('(') + 1, fnStr.indexOf(')')).match(ARGUMENT_NAMES)
            if (result === null) { result = [] }
            return result
        },
        suggestionsHandler (payload) {
            this.suggestionsFromComponent = payload.suggestions
            this.showSuggestion[payload.fieldName] = true
        },
        onAutocompleteCompany (suggestion, fieldName) {
            const fullName = suggestion.value.replace('ИП ', '')
            const inn = suggestion.additionalInfo.inn

            this.fio = fullName
            if (inn) {
                this.inn = inn
            }
            this.showSuggestion[fieldName] = false
        }
    },
    validations () {
        return {
            check1: {
                oneOfTwo: oneOfTwo(this.check2)
            },
            check2: {
                oneOfTwo: oneOfTwo(this.check1)
            },
            phone: {
                required: requiredIf(() => {
                    return !!this.fio
                }),
                phone
            }
        }
    }
}
</script>

<style>

</style>
