<template>
    <div class="vote">
        <div class="vote__row">
            <div class="vote__col vote__col_left">
                <h1 class="vote__h1">
                    <span class="vote__span vote__span_green">«Лучший старт»</span>
                    в банке «Центр-инвест»
                </h1>
                <div class="vote__text">
                    <p class="vote__text-p">По традиции в конце декабря мы проводим конкурс «Лучший старт».</p>
                    <p class="vote__text-p vote__text-p_bold"> Мы хотим поддержать и отметить новичков, которые только начали свою карьеру в нашем любимом банке.</p>
                    <p class="vote__text-p">Наши номинанты успешны, эффективны и впечатляли нас своими результатами и достижениями в работе.
                        Победителей конкурса выбираем голосованием. Не будет жюри или конкурсных комиссий. Подсчет голосов будет осуществляться автоматически.</p>
                </div>
            </div>
            <div class="vote__col vote__col_right">
                <img src="../assets/img/start.png" alt="" class="vote__img">
            </div>
        </div>
        <div class="vote__note vote-note">
            <div class="vote-note__text">Победитель конкурса «Лучший старт» получит всеобщую любовь и приз от банка &ndash; AirPods.
                <br>
                К голосованию можно приглашать не только коллег, но и друзей. Кандидаты должны проявить <br>
                активность и волю к победе. Вы можете проголосовать за Вашего кандидата 1 раз в день до 12:00 29 декабря.</div>
        </div>
        <h2 class="vote__h2">Лидеры голосования</h2>
        <div class="vote__liders vote-liders">
            <div class="vote-liders__row">
                <div class="vote-liders__col" v-for="(leader, index) in leaders" :key="index">
                    <div class="vote-liders__img-wr">
                        <img :src="leader.img" alt="">
                    </div>
                    <div class="vote-liders__text-block">
                        <div class="vote-liders__name">{{ leader.name }}</div>
                        <div class="vote-liders__text" v-html="leader.post"></div>
                    </div>
                </div>
            </div>
        </div>
        <h2 class="vote__h2 vote__h2_ta-left">Голосование</h2>
        <div class="vote__members vote-members">
            <div class="vote-members__header-row">
                <div class="vote-members__header-col">
                    <div class="vote-members__text vote-members__text_big">ВЫБЕРИТЕ ОДНОГО УЧАСТНИКА</div>
<!--                    <div class="vote-members__text vote-members__text_small">Голосовать можно сколько угодно раз, но не чаще чем раз в 24 часа</div>-->
                </div>
<!--                <div class="vote-members__header-col">-->
<!--                    <svg width="22" height="22" viewBox="0 0 22 22" xmlns="http://www.w3.org/2000/svg" class="vote-members__view vote-members__view_margin">-->
<!--                        <rect width="3.09375" height="3.09375" rx="1" fill="#9E9E9E"/>-->
<!--                        <rect x="9.45312" width="3.09375" height="3.09375" rx="1" fill="#9E9E9E"/>-->
<!--                        <rect x="18.9062" width="3.09375" height="3.09375" rx="1" fill="#9E9E9E"/>-->
<!--                        <rect y="9.45312" width="3.09375" height="3.09375" rx="1" fill="#9E9E9E"/>-->
<!--                        <rect x="9.45312" y="9.45312" width="3.09375" height="3.09375" rx="1" fill="#9E9E9E"/>-->
<!--                        <rect x="18.9062" y="9.45312" width="3.09375" height="3.09375" rx="1" fill="#9E9E9E"/>-->
<!--                        <rect y="18.9062" width="3.09375" height="3.09375" rx="1" fill="#9E9E9E"/>-->
<!--                        <rect x="9.45312" y="18.9062" width="3.09375" height="3.09375" rx="1" fill="#9E9E9E"/>-->
<!--                        <rect x="18.9062" y="18.9062" width="3.09375" height="3.09375" rx="1" fill="#9E9E9E"/>-->
<!--                    </svg>-->
<!--                    <svg width="28" height="21" viewBox="0 0 28 21" xmlns="http://www.w3.org/2000/svg" class="vote-members__view vote-members__view_active">-->
<!--                        <line x1="7.75" y1="1.25" x2="27.25" y2="1.25" stroke="#9E9E9E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>-->
<!--                        <line x1="7.75" y1="11.25" x2="27.25" y2="11.25" stroke="#9E9E9E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>-->
<!--                        <line x1="1.25" y1="20.25" x2="1.25" y2="0.75" stroke="#9E9E9E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>-->
<!--                        <line x1="7.75" y1="20.25" x2="27.25" y2="20.25" stroke="#9E9E9E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>-->
<!--                    </svg>-->
<!--                </div>-->
            </div>
            <div class="vote-members__member-row">
                <div class="vote-members__member-col member-item" v-for="(member, index) in members" :key="index">
                    <div class="member-item__row">
                        <div class="member-item__col member-item__col_img">
                            <img :src="member.img" alt="">
                        </div>
                        <div class="member-item__col member-item__col_description">
                            <div class="member-item__name">
                                <span class="member-item__span-name">{{ member.name }}</span>
                                <span class="member-item__span-slogan" v-html="member.slogan"></span>
                            </div>
                            <div class="member-item__post" v-html="member.post"></div>
                            <div class="member-item__achievements">
                                <div class="member-item__subcaption">Профессиональные достижения</div>
                                <div class="member-item__text">
                                    <ul class="member-item__ul">
                                        <li class="member-item__li" v-for="(achievement, index1) in member.achievements" :key="index1" v-html="achievement"></li>
                                    </ul>
                                </div>
                            </div>
<!--                            <div class="member-item__button-wr">-->
<!--                                <div class="member-item__button" @click="modalAction(member.voteResult)">Проголосовать</div>-->
<!--                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <modal v-model="showModal" :voteResult="voteResult"></modal>
    </div>
</template>

<script>
import members from '../config/vote'
import axios from 'axios'
export default {
    components: {
        modal: () => import(/* webpackChunkName: "modal" */'./components/modal')
    },
    data: () => ({
        radioValue: null,
        members: members,
        showModal: false,
        voteResult: '',
        leaders: []
    }),
    created () {
        axios.get('https://site-api.centrinvest.ru/api/v1/best-start-vote/top-votes/3')
        .then(res => {
            const list = res.data.payload
            const listArr = list.map(item => {
                return item.voterChoice
            })
            this.leaders = this.members.filter(member => {
                return listArr.includes(member.voteResult)
            })
        })
    },
    methods: {
        modalAction (voteResult) {
            this.voteResult = voteResult
            this.showModal = true
        }
    }
}
</script>

<style lang="scss" scoped>
@import '../assets/styles/vote';
</style>
