<template>
  <div id="app">
    <div class="wrapper">
        <router-view/>
    </div>
  </div>
</template>

<style lang="scss">
@import 'reset-css';
    .wrapper {
        max-width: 1004px;
        padding: 25px 10px;
        margin: 0 auto;
        box-sizing: border-box;
    }
</style>
