@import './base/vars.scss';
@import './base/mixins.scss';
@import './base/base.scss';
@import './inputStyles.scss';


.acquiring-calc {    
    a {
        text-decoration: none;
    }
    img {
        max-width: 100%;
    }
    padding: 15px;
    color: #575755;
    * {
        box-sizing: border-box;
        font-family: 'Roboto', sans-serif; 
    }
    &__row {
        @include row();
    }
    &__col {
        @include col(6);
        margin-bottom: 15px;
        @media screen and (max-width: 480px) {
            @include col(12);
        }
        &_rev {
            @media screen and (max-width: 600px) {
                @include col(12);
            }
        }
    }
    &__input {
        border: 1px solid #dedede;
        width: 100%;
        box-sizing: border-box;
        padding: 14px 12px;
        color: $green;
        font-weight: 700;
        font-size: 18px;
        height: 100%;
        &:focus {
            outline: 0;
        }
    }
    &__label {
        margin-bottom: 8px;
        font-size: 16px;
        display: inline-block;
    }
    &__result {
        margin-top: 50px;
        font-size: 16px;
        line-height: 1.3;
    }
    &__rev-description {
        margin-top: 35px;
        font-size: 14px;
    }
    &__note {
        font-size: 12px;
        margin-top: 15px;
    }
}

.input-wr {
    &__input {
        border: 1px solid #dedede;
        width: 100%;
        box-sizing: border-box;
        padding: 14px 12px;
        color: $green;
        font-weight: 700;
        font-size: 18px;
        height: 100%;
        &:focus {
            outline: 0;
        }
    }
}
.result {
    &__caption {
        font-size: 18px;
        color: #333;
        margin: 10px 0;
        font-weight: 700;
    }
}
