@import './base/vars';

.cib-button {
    display: inline-flex;
    height: $inputHeight;
    font-size: 18px;
    padding: 14px 40px;
    font-family: Roboto;
    box-sizing: border-box;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s;
    will-change: transform;
    border: 1px solid;
    line-height: 1.2;
    border-radius: 6px;
    outline: 0;
    margin: 0;
    text-decoration: none;
    text-align: center;
    align-items: center;
    justify-content: center;
    &:hover {
        text-decoration: none;
    }
    &:active {
        transform: scale(.98);
        text-decoration: none;
    }

    &_yellow {
        background: $yellow;
        color: $grey;
        border-color: $yellow;
        .cib-button__arrow {
            fill: #fff
        }

        &:hover {
            background: $yellow_dark;
            border-color: $yellow_dark;
            color: $grey;
            .cib-button__arrow {
                fill: #fff;
            }
        }
    }

    &_green {
        background: $green;
        color: #fff;
        border-color: $green;
        .cib-button__arrow {
            fill: #fff
        }
        &:hover {
            background: $green_dark;
            border-color: $green_dark;
            color: #fff;
            .cib-button__arrow {
                fill: #fff;
            }
        }
    }

    &_green-empty {
        color: $green;
        border-color: $green;
        background: transparent;
        .cib-button__arrow {
            fill: $green
        }
        &:hover {
            color: #fff;
            border-color: $green;
            background: $green;
            .cib-button__arrow {
                fill: #fff;
            }
        }
    }

    &_pseudo {
        height: auto;
        padding: 10px 16px;
        font-size: 12px;
        color: #464646;
        border: 1px solid #464646;
        transition: all 0.3s;
        background: #fff;

        &:hover, &:active, &:focus {
            color: #464646;
            background: #F4F4F4;
        }
    }

    &_disabled {
        background: #E7E7E7;
        color: #959595;
        border-color: #E7E7E7;
        cursor: not-allowed !important;
        .cib-button__arrow {
            display: none;
        }

        &:hover, &:active, &:focus {
            background: #E7E7E7 !important;
            color: #959595 !important;
            border-color: #E7E7E7 !important;
        }

        &:active {
            transform: scale(1);
        }
    }

    &_withArrow {
        .cib-button__arrow {
            position: absolute;
            top: 50%;
            transform: translate(0, -50%) rotate(0);
            transition: 0.3s;
        }

    }
    &_right {
        .cib-button__arrow {
            right: 16px;
        }
        &:hover {
            .cib-button__arrow {
                right: 8px;
            }
        }
    }
    &_left {
        .cib-button__arrow {
            left: 16px;
            transform: translate(0, -50%) rotate(-180deg);
        }
        &:hover {
            .cib-button__arrow {
                left: 8px;
            }
        }
    }
}