@import './base/vars.scss';
@import './base/mixins.scss';
@import './base/base.scss';
$unchecked-star: '\2606';
$unchecked-color: #888;
$checked-star: '\2605';
$checked-color: #51b747;
/deep/ * {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
/deep/ .star-cb-group {
    font-size: 0;
    display: flex;
    * {
        font-size: 2rem;
    }

    unicode-bidi: bidi-override;
    direction: rtl;

    &>input {
        display: none;

        &+label {
            /* only enough room for the star */
            display: inline-block;
            text-indent: 9999px;
            width: 1em;
            white-space: nowrap;
            cursor: pointer;

            &:before {
                display: inline-block;
                text-indent: -9999px;
                content: $unchecked-star;
                color: $unchecked-color;
            }
        }

        &:checked~label:before,
        &+label:hover~label:before,
        &+label:hover:before {
            content: $checked-star;
            color: $checked-color;
            text-shadow: 0 0 1px #333;
        }
    }

    /* the hidden clearer */
    &>.star-cb-clear+label {
        text-indent: -9999px;
        width: .5em;
        margin-left: -.5em;
    }

    &>.star-cb-clear+label:before {
        width: .5em;
    }

    &:hover>input+label:before {
        content: $unchecked-star;
        color: $unchecked-color;
        text-shadow: none;
    }

    &:hover>input+label:hover~label:before,
    &:hover>input+label:hover:before {
        content: $checked-star;
        color: $checked-color;
        text-shadow: 0 0 1px #333;
    }
}

/deep/ .comment {
    &__caption {
        font-size: 20px;
        color: #333;
        line-height: 1;
        @include col(12);
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
}

/deep/ .comment-form {
    position: relative;
    width: 100%;
    @include row();
    &__row {
        &_right {
            display: flex;
            justify-content: flex-end;
            .comment-form__button {
                margin: 1em 0 1em 1em;
            }
        }
    }
    &__button-wr {
        margin-top: 16px;
    }
    &__fieldset {
        position: relative;
        border: 0;
        background: transparent;
        padding: 0;
        box-sizing: border-box;
        margin: 10px;
    }
    &__message {
        @include col(6);
        margin-top: 15px;
        @media screen and (max-width: 600px) {
            @include col(12);

        }
    }
    &__success-message {
        font-size: 24px;
        color: #50b848;
        line-height: 1;
    }
    &__required-field {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        bottom: -13px;
        color: red;
        width: 100%;
        text-align: center;
        font-size: 12px;
    }
    &__label {
        display: block;
        margin-bottom: 5px;
    }
    &__textarea {
        width: 100%;
        height: 100px;
        resize: none;
        border: 1px solid #50b848;
        padding: 10px;
        box-sizing: border-box;
        &:focus {
            border: 1px solid #50b848;
        }
    }
    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.35);
        z-index: 10;
        display: flex;
        align-items: center;
        justify-content: center;
        &_success {
            position: relative;
            height: 150px;
        }
    }
    &__button {
        margin: 15px 0 0 0;
    }
}
