@import './base/vars.scss';
@import './base/mixins.scss';
@import './base/base.scss';
/deep/ * {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
/deep/ .credCalc {
    font-family: Roboto;
    color: $grey;
    overflow: hidden;
    .input-component {
        select {
            height: 52px;
            padding: 12px 32px 12px 24px;
        }
        input[type="text"] {
            height: 52px;
            padding: 20px 32px 10px 24px !important
        }
    }
    &__row {
        @include row()
    }

    &__no-print {
        position: relative;
    }

    &__control {
        @include col(8);
        background: #f4f4f4;
        padding: 0 20px 20px;
        @media (max-width: 768px) {
            @include col(12)
        }
    }

    &__best-offer {
        @include col(4);
        @media (max-width: 768px) {
            @include col(12)
        }
    }

    &__checkboxes-wr {
        margin: 0;
        .cib-link {
            display: inline-block;
            margin-bottom: 16px;
        }
    }

    &__group {
        margin: 20px 0 30px 0;
        font-size: 14px;
        &_type {
            margin-bottom: 80px;
        }

        &_with-slider {
            margin: 25px 0 68px 0;
            .input-component {
                margin-bottom: -2px;
            }
            .input-component__input {
                font-weight: 500;
            }
        }
    }

    &__label {
        margin-bottom: 15px;
        display: inline-block;
        font-size: 14px;
        color: $grey;

        &_type {
            margin-bottom: 0;
            flex: 0 0 auto;
            margin-right: 25px;
        }
    }

    &__result {
        @include col(8);
        @media (max-width: 768px) {
            @include col(12);
        }
        &_print {
            width: 100%;
            margin-left: 0;
            margin-right: 0;
        }
    }

    &__overlay {
        z-index: 10;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.8);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__loader {
        border: 6px solid #e5e5e5;
        border-radius: 50%;
        border-top: 6px solid #3498db;
        width: 60px;
        height: 60px;
        animation: rotate 1s linear infinite;

        &_fixed {
            top: 36%;
            left: 43%;
        }
    }

    &__question {
        display: inline-flex;
        width: 20px;
        height: 20px;
        margin-left: 5px;
        border-radius: 50%;
        cursor: pointer;
        background: #d7d7d7;
        align-items: center;
        justify-content: center;
        transition: all 0.3s;
        vertical-align: middle;
        flex: 0 0 auto;
        &:hover {
            background: $green;
            color: #fff;
        }
    }
    &__label {
        &_with-hint {
            padding-right: 30px;
        }
    }

    .checkboxes-wr {
        font-size: 14px;
    }
}

/deep/ .best-offer {
    &__wr {
        background: $green;
        padding: 20px;
        position: relative;
    }

    &__caption {
        color: $yellow;
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 50px;
        @media (max-width: 768px) {
            margin-bottom: 25px;
            text-align: center;
        }
        @media (max-width: 480px) {
            display: none;
        }
    }

    &__row {
        @media (max-width: 768px) {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    &__col {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        @media (max-width: 768px) {
            flex-direction: column;
            margin-bottom: 15px;
        }
    }

    &__label {
        margin-right: 5px;
        color: #fff;
        font-size: 16px;
        margin-bottom: 10px;
        @media (max-width: 768px) {
            font-size: 14px;
        }
    }

    &__value {
        flex: 0 0 auto;
        font-size: 20px;
        color: $yellow;
        font-weight: 700;
        @media (max-width: 768px) {
            font-size: 16px;
        }
    }

    &__button {
        width: 100%;

        &:hover {
            color: $grey;
        }
    }

    &__link-wr {
        text-align: center;
        margin-top: 32px;
        @media(max-width: 768px) {
            display: none;
        }
    }

    &__mob-hide {
        @media (max-width: 480px) {
            display: none;
        }
    }
    &__desk-hide {
        @media (min-width: 481px) {
            display: none;
        }
    }
}

/deep/ .calc-result {
    &__caption {
        font-size: 24px;
        padding: 40px 0 24px 0;
        font-weight: 700;
        color: $grey;
    }

    &__buttons-wr {
        margin-top: 50px;
        margin-bottom: 50px;
        @include row(0px);
        @media (max-width: 768px) {
            display: none;
        }
    }

    &__button-wr {
        @include col(12, 0px);
        display: flex;
        align-items: center;
        &_print {
            margin-bottom: 28px;
        }
        &_right {
            justify-content: flex-end;
        }
    }

    &__button {
        cursor: pointer;
        &_request {
            width: 100%;
        }

        &_print {
            position: relative;
            display: inline-block;
            margin-left: 50px;
            color: $green;
            border-bottom: 1px solid #e0e0e0;
            font-size: 16px;
            transition: all 0.3s;
            &:before {
                content: '';
                width: 20px;
                height: 25px;
                position: absolute;
                left: -30px;
                top: 50%;
                transform: translate(0, -50%);
                background-image: url(../img/printer.svg);
                background-repeat: no-repeat;
                background-position: center center;
                opacity: 0.7;
            }
            &:hover {
                color: darken($green, 10%);
                &:before {
                    opacity: 1;
                }
            }
        }
    }
}

/deep/ .calc-result-table {
    color: $grey_text;
    font-size: 14px;
    position: relative;
    &__row {
        @include row(0px);
        &_caption {
            @media not print {
                @media (max-width: 600px) {
                    display: none;
                }
            }

        }
    }

    &__col {
        padding: 15px 5px;
        @media (max-width: 480px) {
            padding: 12px 5px;
        }

        &_title {
            @include col(6, 0px);
            @media not print {
                @media (max-width: 1024px) {
                    @include col(5, 0px)
                }
                @media (max-width: 600px) {
                    @include col(12, 0px);
                    display: flex;
                }
            }
        }

        &_rate {
            @include col(3, 0px);
            @media not print {
                @media (max-width: 1024px) {
                    @include col(4, 0px)
                }
                @media (max-width: 600px) {
                    @include col(12, 0px)
                }
            }

            text-align: right;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            mark {
                display: inline-block;
                background: $green;
                padding: 3px 4px;
                margin: 2px 0;
                color: #fff;
                @media (max-width: 480px) {
                    font-size: 12px;
                    white-space: nowrap;
                }
            }
        }

        &_pay {
            @include col(3, 0px);
            text-align: right;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            @media not print {
                @media (max-width: 600px) {
                    display: none;
                }
            }
            mark {
                display: inline-block;
                background: $green;
                padding: 3px 4px;
                margin: 2px 0;
                @media (max-width: 480px) {
                    font-size: 12px;
                    white-space: nowrap;
                }
            }
        }

        &_th {
            background: $grey_bg !important;
            font-size: 14px;
            text-transform: uppercase;
            @media (max-width: 360px) {
                line-height: 1.2;
            }
        }
    }

    &__info {
        font-size: 13px;
        line-height: 1.5;
        color: $grey_text;
        @media not print {
            @media (max-width: 600px) {
                margin-left: 8px;
            }
            @media (max-width: 480px) {
                font-size: 12px;
            }
        }
        .cib-link {
            @media (max-width: 480px) {
                font-size: 12px;
            }
        }
    }

    &__link {
        font-size: 13px;
    }

    &__sub-row {
        text-align: right;
        line-height: 1.5;
        @media not print {
            @media (max-width: 600px) {
                margin-right: 8px;
                font-size: 12px;
            }
            @media (max-width: 480px) {
                font-size: 12px;
            }
    }
        &_mobile {
            margin-right: 0px;
            display: none;
            mark {
                background: $green;
                color: white;
            }
        }
        &_mobile-caption {
            @media not print {
                @media (max-width: 600px) {
                    width: 84px;
                    margin-right: auto;
                    display: inline-block;
                    text-align: left;
                    font-weight: 700;
                }
            }
        }
    }

    &__rates {
        @media not print {
            @media (max-width: 600px) {
                text-align: right;
            }
        }
    }
}

/deep/ .no-results {
    padding: 20px;
    background: $yellow;

    &__text {
        margin: 15px 0;
        color: $grey;
        font-size: 14px;
        line-height: 1.2;
    }
}

/deep/ .credCalc-notices {
    @include col(8);
    @media (max-width: 768px) {
        @include col(12);
    }
    &_print {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    &__hints {
        font-size: 12px;
        color: #757575;
        margin-top: 25px;
        p {
            margin: 15px 0;
            line-height: 1.4;
            a {
                font-size: 12px;
            }
        }
    }
}

/deep/ .credCalc-notice {
    margin: 16px 0;
    background-color: #f9f9f9;
    position: relative;
    padding: 15px;
    border: 1px solid #e0e0e0;
    border-radius: 6px;
    font-size: 14px;
    line-height: 1.3;
    color: $grey;
    &__value {
        color: $green;
        font-size: 20px;
    }
    &__percent {
        color: $green;
    }
    strong, b {
        font-weight: 700;
    }
}

/deep/ .moscow-answer {
    font-size: 14px;
    margin-top: 15px;
}

/deep/ .credCalc-print {
    &__table {
        width: 100%;
        margin-bottom: 15px;
        th {
            text-align: left;
            font-weight: 700;
        }
    }
}

/deep/ .credit-type {
    position: relative;
    overflow: hidden;
    margin-bottom: 16px;
    @include col(8);
    @media (max-width: 768px) {
        @include col(12)
    }
    &__wrapper {
        display: flex;
        flex-wrap: nowrap;
        transition: 0.3s;
    }
    &__item {
        margin-right: 22px;
        font-size: 20px;
        line-height: 1.2;
        color: $grey;
        cursor: pointer;
        padding-bottom: 10px;
        user-select: none;
        color: rgba(51, 51, 51, 0.6);
        &_active {
            color: #333;
        }
    }
    &__border {
        height: 1px;
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 1px;
        background: #EFEFEF;
    }
    &__line {
        height: 3px;
        position: absolute;
        bottom: 0;
        left: 0;
        background: $green;
        transition: all 0.3s;
    }
    &__scroll-wrapper {
        overflow-x: scroll;
        @media (min-width: 769px) {
            margin-bottom: -17px;
        }
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
