@import './base/vars.scss';
@import './base/mixins.scss';
@import './base/base.scss';

/deep/ * {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.depositCalc {
    color: #333;
    &__banner {
        position: relative;
        font-size: 0;
        margin-bottom: 15px;
    }
    &_print {
        margin-top: 0;

        .depositCalc__warning {
            margin: 15px 0 0 0 !important;
        }
    }

    &__row {
        @include row(25px);
        background: #edf9ed;
        padding: 24px 24px 48px 24px;
        box-sizing: border-box;

        @media (max-width: 768px) {
            @include row(10px);
        }
    }

    &__col {
        @include col(8, 25px);

        &_right {
            @include col(4, 25px);
            padding-top: 14px;
            @media (max-width: 768px) {
                @include col(12, 10px);
            }
        }

        @media (max-width: 768px) {
            @include col(12, 10px);
            margin-top: 20px;
        }

        @media (max-width: 500px) {
            margin-top: 30px;
        }
    }

    &__text {
        margin-top: 20px;
        margin-bottom: 8px !important;
        color: $grey_text;
        font-size: 16px;

        &_margin {
            margin-top: 80px !important;
            margin-bottom: 15px !important;
        }
    }

    &__h1 {
        font-size: 36px !important;
        color: #333 !important;
        line-height: 1.2;
        position: absolute;
        left: 25px;
        top: 25px;
        font-weight: 600 !important;
        @media (max-width: 500px) {
            top: 5vw;
            font-size: 6vw !important;
        }
    }

    &__results {
        margin-top: 50px;

        &_print {
            margin-top: 0;
        }
    }

    &__warning {
        margin: 40px 0 15px 0 !important;
        font-size: 12px;
        font-style: italic;
        color: #999;
    }

    &__links-wr {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    &__link {
        color: $green;
        transition: all 0.3s;
        border-bottom: 1px solid $border-color;
        display: inline;
        font-size: 14px;
        text-decoration: none;
        &:hover {
            color: darken($green, 15%);
        }
    }

    &__print-link {
        background: $green;
        color: #ffffff;
        margin: 15px 0;
        padding: 16px 32px;

        &:hover {
            background: lighten($green, 5%);
            color: #ffffff;
        }
    }

    &__print-link-wr {
        margin-top: 16px;
        text-align: right;
        @media (max-width: 1023px) {
            display: none;
        }
    }

    &__offise-link {
        margin: 15px 0;
        padding: 16px 32px;
    }

    &__print-params-table {
        width: 100%;
        border-collapse: collapse;
        font-size: 14px;

        tr {
            &:nth-child(2n+1) {
                td {
                    background: #f4f4f4;
                }
            }
        }

        td {
            padding: 5px;
        }
    }

    &__modal {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 400px;
        background: #fff;
        box-shadow: 0 0 10px 3px rgba(255, 255, 255, 1);
        padding: 35px 15px 15px 15px;
        box-sizing: border-box;
        z-index: 30;

        @media screen and (max-width: 450px) {
            width: 90%;
        }
    }
    &__noprint-container {
        padding-bottom: 1px;
    }
}

/deep/ .sum {
    &__wr {
        display: flex;

        @media (max-width: 500px) {
            flex-direction: column;
        }
    }
    &__group {
        font-size: 14px;
        &_type {
            margin-bottom: 80px;
        }

        &_with-slider {
            flex: 1 1 auto;
            .input-component {
                margin-bottom: -3px;
                border: 1px solid #dedede;
            }
            .input-component__input {
                font-weight: 500;
            }
        }
    }

    &__slider {
        flex: 1 1 auto;
    }

    &__text {
        color: $grey_text;
        margin-bottom: 8px;
        font-size: 16px;
        margin-top: 0;
    }
}

.term-place {
    .vue-slider-component.vue-slider-has-label {
        padding: 0 !important;
        margin-bottom: 0;
    }

    .vue-slider-piecewise {
        .vue-slider-piecewise-item {
            span {
                color: $text-color;
                cursor: pointer;
                @media (max-width: 500px) {
                    white-space: unset !important;
                    text-align: center !important;
                }

            }

            &:first-of-type {
                span {
                    transform: translate(0%, 8px);
                }
            }

            &:last-of-type {
                span {
                    transform: translate(-100%, 8px);
                }
            }
        }
    }
}

.currency-item {
    display: flex;
    flex: 0 0 auto;

    @media (max-width: 500px) {
        order: -1;
        margin-bottom: 15px;
    }

    &__wr {
        width: 48px;
        position: relative;
        border-top: 1px solid $border-color;
        border-right: 1px solid $border-color;
        border-bottom: 1px solid $border-color;

        input[type="radio"] {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            visibility: hidden;

            &:checked {
                +label {
                    color: $green;

                    &:after {
                        content: '';
                        height: 4px;
                        width: 15px;
                        background: $green;
                    }
                }
            }
        }

        label {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            color: $border-color;
            transition: color 0.3s;
            cursor: pointer;
            font-weight: bold;
            background: #ffffff;
            font-size: 18px;
            font-weight: 500;
            height: $inputHeight;

            &:after {
                content: '';
                position: absolute;
                bottom: -1px;
                height: 0px;
                width: 0px;
                left: 50%;
                background: $green;
                transform: translate(-50%, 0);
                transition: width 0.3s;
            }
        }
    }
}


.results-table {
    font-size: 14px;
    &_print {
        margin-top: 10px;
        font-size: 14px;

        .results-table__row {
            margin: 0;
            border: 0;
            border-top: 1px solid $border-color;
            border-right: 1px solid $border-color;
            border-left: 1px solid $border-color;

            &:last-child {
                border-bottom: 1px solid $border-color;
            }

        }

        .results-table__row_caption {

            .results-table__col {
                padding: 5px 10px;
            }
        }

        .results-table__col_name {
            padding: 5px 10px;
        }

        .results-table__zebra-row_big-padding {
            padding: 17px 12px;
        }

        .results-table__name-info {
            margin: 0 !important;
            margin-bottom: 0px !important;
        }

        .results-table__zebra-row {
            padding: 5px 0px;
        }

        .currency-symbol {
            font-size: 12px;
            font-weight: normal;
        }

        .results-table__col_profit {
            .results-table__zebra-row {
                text-align: right;
                padding-right: 60px;
            }
        }

        .results-table__col_profit {
            .results-table__profit-final {
                text-align: right;
                padding-right: 60px;
            }
        }

    }

    &__sup {
        vertical-align: super;
        font-size: 10px;
    }

    &__row {
        @include row(0px);
        margin: 10px 0;
        border: 1px solid $border-color;
        &_best {
            border: 3px solid $green;
        }

        &_caption {
            background: $green;
            .results-table__col {
                background: $green !important;
                color: #ffffff;
                padding: 20px 10px;

                @media (max-width: 450px) {
                    font-size: 12px;

                    &_proc {
                        padding-left: 0;
                    }

                    &_profit {
                        padding-left: 0;
                    }
                }
            }
        }
    }

    &__col {
        box-sizing: border-box;

        &_name {
            @include col(5, 0px);
            padding: 12px 10px;

            @media (max-width: 768px) {
                padding: 12px 10px;
            }
        }

        &_yield {
            @include col(2, 0px);
        }

        &_proc {
            @include col(3, 0px);
            text-align: center;
        }

        &_profit {
            @include col(2, 0px);
            text-align: center;

            .results-table__zebra-row {
                text-align: right;
                padding-right: 30px;

                @media (max-width: 768px) {
                    padding-right: 15px;
                }
            }

            .results-table__profit-final {
                text-align: right;
                padding-right: 30px;

                @media (max-width: 768px) {
                    padding-right: 15px;
                }
            }
        }
    }

    &__zebra-row {
        padding: 12px 10px;
        margin-bottom: 0 !important;
        box-sizing: border-box;
        height: 38px;
        text-align: center;
        @media (max-width: 500px) {
            height: 45px;
        }

        &:nth-of-type(2n) {
            background: #f4f4f4;
        }

        &_bold {
            font-weight: 700;
        }

        &_big-padding {
            padding: 25px 12px;
        }
    }

    &__profit-final {
        padding: 12px;
        font-weight: 700;
    }

    &__link {
        text-decoration: none;
        color: $green;
        border-bottom: 1px solid $border_light;
        line-height: 1.2;
    }

    &__name-info {
        margin: 0 !important;
        margin-bottom: 5px !important;
    }
}

.currency-symbol {
    font-size: 14px;
}

.loader {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border-bottom: 3px solid #50b848;
    animation: rotate 1s linear infinite;
}

.warning {
    &__list {
        margin: 0 !important;
        list-style: none !important;
    }
    &__list-item {
        margin: 10px 0 !important;
        list-style: none !important;
        line-height: 1.3 !important;
        &:before {
            content: '' !important;
            color: transparent !important;
            font-size: 0 !important;
            margin-right: 0 !important;
        }
    }
}

.depositCalc-info {
    display: flex;
    margin: 15px 0;
    &__text {
        color: $text;
        font-size: 14px;
        line-height: 1.3;
    }
    &__link {
        color: $green;
        transition: all 0.3s;
        border-bottom: 1px solid $border-color;
        display: inline;
        font-size: 14px;
        text-decoration: none;
        &:hover {
            color: darken($green, 15%);
        }
        &_img {
            display: block;
            border-bottom: 0;
        }
    }
    &__banner-wr {
        flex: 0 0 100px;
        margin-left: 15px;
    }
}

.checkboxes-wr {
    &__checkbox {
        margin-bottom: 24px;
    }
    &__checkbox-classic {
        margin: 24px 0;
    }
}

.comment {
    margin: 24px 0;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
