@import './base/vars.scss';
@import './base/mixins.scss';
@import './base/base.scss';
/deep/ * {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
/deep/ .depositFeedback {
    position: relative;
    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.35);
        z-index: 10;
        display: flex;
        align-items: center;
        justify-content: center;

        &_success {
            position: relative;
            height: 150px;
        }
    }
    &__caption {
        margin: 16px 0 32px 0;
        color: $grey;
        font-weight: 500;
        font-size: 28px;
    }
    &__text {
        margin: 24px 0;
    }
}

/deep/ .feedback-form {
    &__input {
        border: 1px solid #dedede;
        width: 100%;
        box-sizing: border-box;
        padding: 14px 12px;
        color: #333;
        font-weight: 400;
        font-size: 18px;
        height: auto;

        &:focus {
            outline: 0;
        }
    }

    &__row {
        @include row(10px);
        padding: 0 15px;
        @media (max-width: 768px) {
            padding: 0 10px;
        }
    }
    &__item {
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        @media (min-width: 481px) and (max-width: 1023px) {
             flex: 0 1 320px;
        }
        @media (max-width: 480px) {
            width: 100%;
        }
    }

    &__button {
        margin: 0;
        width: 100%;
    }

    &__error {
        color: red;
    }
    &__input {
        transition: box-shadow 0.3s;

        &_valid {
            box-shadow: inset 0 0 0 2px #50b848;
        }

        &_invalid {
            box-shadow: inset 0 0 0 2px red;
        }
    }

}

/deep/ .overlay {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 20;
    background: rgba(0, 0, 0, 0.35);
}

/deep/ .close-button {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 30px;
    height: 30px;
    cursor: pointer;

    &__1 {
        position: absolute !important;
        top: 50%;
        left: 0;
        transform: rotate(45deg);
        height: 1px;
        width: 100%;
        background: #333;
    }

    &__2 {
        position: absolute !important;
        top: 50%;
        left: 0;
        transform: rotate(-45deg);
        height: 1px;
        width: 100%;
        background: #333;
    }
}

/deep/ .loader {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border-bottom: 3px solid #50b848;
    animation: rotate 1s linear infinite;
}
