@import './base/base.scss';

* {
    box-sizing: border-box;
}

/deep/ .cib-button {
    height: auto;
    font-size: 16px;
    padding: 10px 20px;
}

.cibFeedbackWidget {

    font-family: Roboto;
    color: $grey;
    display: flex;
    position: relative;
    margin-left: auto;
    &__row {
        display: flex;
        align-items: center;
        @media (min-width: 769px) {
            margin-left: auto;
        }
        @media (max-width: 768px) {
            width: 100%;
            justify-content: flex-end;
        }

    }
    &__text {
        margin-right: 6px;
        font-size: 12px;
        cursor: pointer;
        font-weight: normal;
    }
    &__icons-carousel {
        width: 32px;
        height: 32px;
        background: $yellow;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        border-radius: 8px;
    }
    &__all-icons {
        position: absolute;
        top: 3px;
        left: 0;
        transform: translateX(8px);
        max-width: none;
        transition: transform 0.3s;
        z-index: 1;
    }
    &__icon-img {
        cursor: pointer;
        @media (min-width: 769px) {
            &:hover {
                +.cibFeedbackWidget__hint {
                    opacity: 1;
                }
            }
        }
    }
    &__icons-wr {
        position: absolute;
        top: 100%;
        right: 0;
        width: 100%;
        @media (min-width: 769px) {
            width: 32px;
        }
    }
    &__icon {
        padding: 6px 0;
        transition: opacity 0.3s;
        opacity: 0;
        position: relative;
        display: flex;
        align-items: center;
        text-decoration: none;
        color: $grey;
        border-bottom: 0;
        box-sizing: content-box;
        @media (min-width: 769px) {
            width: 32px;
            height: 32px;
        }
        &:hover {
            border-bottom: 0 !important;
        }
        @media (max-width: 768px) {
            flex-direction: row-reverse;
            border-bottom: 1px solid #e7e7e7;
            background: #fff;
            &:hover {
                border-bottom: 1px solid #e7e7e7 !important;
            }
        }
    }
    &__icon-img {
        @media (max-width: 768px) {
            width: 32px;
            height: 32px;
        }
        @media (min-width: 769px) {
            height: 100%;
            max-width: none;
        }
    }
    &__close-icon {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
    }
    &__hint {
        font-size: 11px;
        white-space: nowrap;
        color: $grey;
        font-weight: normal;
        @media (min-width: 769px) {
            margin-left: 6px;
            opacity: 0;
            transition: opacity 0.3s;
        }
        @media (max-width: 768px) {
            margin-right: 6px;
        }

    }
    &__whatsApp {
        position: fixed;
        z-index: 1;
        bottom: 20px;
        left: 20px;
        width: 106px;
        height: 38px;
        background: #FAF517;
        border-radius: 8px;
        display: none;
        padding: 8px;
        font-family: Roboto;
        font-size: 12px;
        line-height: 1.2;
        display: none;
        text-decoration: none;
        color: $text;
        @media (max-width: 768px) {
            display: flex;
            align-items: center;
        }
        img {
            margin-right: 8px;
        }
    }
    &__chat {
        position: fixed;
        z-index: 1;
        bottom: 20px;
        right: 80px;
        width: 65px;
        height: 65px;
        font-family: Roboto;
        font-size: 12px;
        line-height: 1.2;
        display: flex;
        align-items: center;
        color: $text;
        cursor: pointer;
        img {
            cursor: pointer;
        }
        @media (max-width: 768px) {
            width: 124px;
            height: 38px;
            right: 20px;
            bottom: 20px;
            padding: 8px;
            background: #FAF517;
            border-radius: 8px;
        }

    }
    &__desctop-chat {
        @media (max-width: 768px) {
            display: none;
        }
    }

    &__mobile-chat {
        margin-right: 8px;
        @media (min-width: 769px) {
            display: none;
        }
    }
    &__chat-label {
        @media (min-width: 769px) {
            display: none;
        }
    }
}

.callBackForm {
    width: 320px;
    box-shadow: 0 0 32px rgba(0,0,0,.24);
    border-radius: 6px;
    position: absolute;
    z-index: 3;
    background: #fff;
    top: 84px;
    right: 40px;
    @media (max-width: 768px) {
        right: auto;
        left: 50%;
        transform: translate(-50%, 0);
        width: 90%;
    }
    @media (max-width: 480px) {
        width: 100%;
    }
    &__form {
        position: relative;
        padding: 16px;
    }
    &__caption {
        margin-bottom: 16px;
        font-size: 16px;
        color: $grey;
        text-align: left;
        font-weight: normal;
    }
    &__button {
        padding: 12px 30px;
        height: 40px;
        font-size: 14px;
        margin-right: 6px;
        display: inline-block;
        font-weight: normal;
    }
    &__row {
        &_buttons {
            display: flex;
            margin-top: 10px;
            justify-content: space-between;
        }
    }
    &__modal {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        padding: 16px;
        z-index: 3;
        background: rgba(255, 255, 255, 1);
        display: flex;
        flex-direction: column;
    }
    &__button-wr {
        margin-top: auto;
        text-align: center;
    }
    &__modal-text {
        font-size: 18px;
        line-height: 1.2;
        text-align: center;
        color: $green;
        &_error {
            text-emphasis: left;
            color: $error-color;
        }
    }
}

.cibFeedbackWidget-consultant {
    position: absolute;
    top: -280px;
    left: -255px;
    width: 320px;
    background: #FFFFFF;
    box-shadow: 2px 2px 24px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    padding: 16px 20px 40px 20px;
    &__caption {
        font-family: Montserrat;
        font-weight: bold;
        font-size: 20px;
        line-height: 1.2;
        color: $text;
        margin-bottom: 32px;
    }
    &__message {
        width: 230px;
        height: 46px;
        padding: 0 18px;
        display: flex;
        align-items: center;
        font-family: Roboto;
        font-size: 14px;
        line-height: 1.2;
        display: flex;
        align-items: center;
        color: $text;
        background: #FFFFFF;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.16);
        border-radius: 6px;
        margin-bottom: 20px;
        position: relative;
        &::before {
            content: '';
            border: 10px solid transparent;
            border-left: 10px solid #fff;
            border-top: 10px solid #fff;
            position: absolute;
            left: 0;
            bottom: -10px;
        }
    }
    &__textarea-wr {
        position: relative;
        width: 230px;
        height: 80px;
        margin-left: auto;
        &:before {
            content: '';
            border: 10px solid transparent;
            border-top: 10px solid  rgba(233, 235, 245, 0.8);
            border-right: 10px solid  rgba(233, 235, 245, 0.8);
            position: absolute;
            right: 0;
            bottom: -10px;
            z-index: 1;
        }
    }
    &__textarea {
        width: 100%;
        height: 100%;
        background: rgba(233, 235, 245, 0.8);
        border-radius: 6px;
        resize: none;
        border: 0;
        outline: 0;
        padding: 10px 38px 10px 14px;
        font-family: Roboto;
        font-size: 14px;
        line-height: 1.2;
        color: #77798B;
    }
    &__submit {
        background: transparent;
        outline: 0;
        border: 0;
        cursor: pointer;
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 1;
    }
}
