@import './base/base.scss';

* {
    font-family: Roboto;
    box-sizing: border-box;
}
/deep/ .feedBackPage {
    color: $grey;
    overflow: hidden;
    &__caption {
        font-family: Montserrat;
        font-weight: 700;
        font-size: 46px;
        line-height: 1.2;
        margin-bottom: 48px;
        color: $grey;
        @media (max-width: 768px) {
            font-size: 6.8vw;
            margin-bottom: 7vw;
        }
        @media (max-width: 480px) {
            font-size: 9vw;
            margin-bottom: 8vw;
        }
    }
    &__h2 {
        font-family: Montserrat;
        font-size: 32px;
        line-height: 1.2;
        font-weight: 700;
        margin-top: 54px;
        margin-bottom: 40px;
        @media (max-width: 768px) {
            font-size: 5vw;
            margin-bottom: 7vw;
        }
        @media (max-width: 480px) {
            font-size: 7vw;
            margin-bottom: 9vw;
        }
    }
}

/deep/ .feedBackPage-text-block {
    &__caption {
        font-size: 22px;
        line-height: 1.7;
        font-weight: 700;
    }

    &__text {
        font-size: 18px;
        line-height: 1.2;
        &_bold {
            margin-top: 20px;
            font-weight: 700;
        }
    }

    &__link {
        font-weight: 700;
        font-size: 18px;
        white-space: nowrap;
    }
}

/deep/ .feedBackPageForm {
    margin-top: 20px;
    max-width: 680px;
    min-height: 700px;
    position: relative;
    &__custom-radio-buttons {
        margin-bottom: 10px;
    }
    &__slider-caption {
        margin-bottom: 16px;
        color: #575755;
    }
    &__row {
        margin-bottom: 8px;
        &_link {
            display: flex;
            align-items: center;
            margin-top: 10px;
            margin-bottom: 24px;
        }
        &_flex {
            display: flex;
            @media (max-width: 480px) {
                flex-wrap: wrap;
            }
        }
        &_slider {
            margin-bottom: 50px;
        }
        &_message {
            margin-bottom: 0;
        }
        &_client {
            margin-bottom: 24px;
        }
    }
    &__target-link {
        border-bottom: 0;
    }
    &__target {
        margin-right: 6px;
    }
    &__link {
        font-size: 16px;
    }
    &__clip {
        margin-right: 6px;
    }
    &__ext {
        font-size: 12px;
        color: #767676;
        line-height: 1.2;
        margin-top: 12px;
        margin-bottom: 12px;
    }
    &__line {
        height: 1px;
        width: 100%;
        background: #D3D3D3;
        margin: 40px 0;
    }
    &__col {
        &_checkbox {
            max-width: 500px;
        }
        .checkboxes-wr {
            font-size: 14px;
            line-height: 1.2;
        }
        .checkboxes-wr__checkbox-classic {
            margin: 0;
        }
        &_button {
            @media (min-width: 481px) {
                margin-left: auto;
            }
        }
        &_file {
            display: flex;
            align-items: center;
            //@media (max-width: 480px) {
                flex-wrap: wrap;
            //}
        }
        &_fileList {
            flex: 0 0 200px;
            margin-right: 40px;
        }

    }
    &__file {
        display: none;
    }
    &__fileErrors {
        color: $error-color;
        order: -1;
        margin-bottom: 10px;
    }

}

/deep/ .fileList {
    margin-bottom: 16px;
    &__item {
        display: flex;
        align-items: center;
        margin: 6px 0;
    }
    &__delete {
        width: 14px;
        margin-left: 10px;
        cursor: pointer;
    }
}

/deep/ .v-select {
    height: 52px;
    box-shadow: 0px 2px 32px rgba(0, 0, 0, 0.1)
}
/deep/.input-component {
    &__single-label {
        color: $grey;
        font-size: 18px;
        line-height: 1.2;
        display: inline-block;
        margin-bottom: 16px;
        font-weight: normal;

        &_required {
            &:before {
                content: '*';
                color: #f3001d;
                transition: color .3s ease;
                margin-right: 5px;
            }
        }
    }
}

/deep/ .vs {
    &__dropdown-toggle {
        height: 100%;
    }
    &__selected {
        padding: 0 40px 0 16px;
    }
    &__search {
        padding: 0 !important;
        padding-left: 16px !important;
    }
    &__actions {
        position: absolute;
        top: 50%;
        right: 0;
        padding: 0 10px 0 0;
        height: 100%;
        background: #fff;
        transform: translate(0, -50%);
        img {
            width: 16px;
            height: 8px;
        }
    }
    &__clear {
        display: none;
    }
    &__selected {
        margin:0;
        position:absolute;
        left:0;
        top:0;
        height:100%;
        transition:.3s
    }
}
/deep/.vs--single.vs--open {
    .vs__selected {
        height:50%;
        font-size:12px
    }
}

/deep/ .modal-hint {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &__row {
        text-align: center;
    }
    &__text {
        font-size: 20px;
        margin-bottom: 16px;
        &_error {
            color: $error-color;
        }
    }
    &__bold {
        font-weight: 700;
    }
    &__content {
        background: #fff;
        color: rgb(51, 51, 51);
        padding: 15px;
        max-width: 800px;
        position: relative;
        border-radius: 5px;
        font-size: 14px;
        line-height: 1.3;
        cursor: default;
        @media (max-width: 900px) {
            max-width: 80%;
        }
    }
    &__button {
        height: 30px;
        padding: 6px 20px;
        font-size: 14px;
    }
}

/deep/.custom-radio-buttons {
    @include row(12px);
    &__radio-wr {
        margin-left: 12px;
        margin-right: 12px;
        margin-bottom: 24px;
        @media (max-width: 480px) {
            width: 100%;
        }
    }
    &__radio {
        display: none;
        &:checked {
            + .custom-radio-buttons__label {
                background: #4AB541;
                border-radius: 4px;
                border: 1px solid #4AB541;
                color: #ffffff;
            }
        }
    }
    &__label {
        border: 1px solid #D5D5D5;
        box-sizing: border-box;
        border-radius: 4px;
        padding: 14px 24px;
        display: block;
        cursor: pointer;
        transition: 0.3s;
    }
}

/deep/.cibModal {
    &__h1 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        color: $grey;
        margin-bottom: 16px;
    }
    &__h2 {
        font-size: 20px;
        margin-bottom: 16px;
        font-weight: 700;
    }
    &__text-block {
        margin-bottom: 30px;
    }
    &__text {
        line-height: 1.2;
        &_strong {
            font-weight: 700;
        }
    }
    &__list {
        list-style: disc;
        padding-left: 16px;
        &_decimal {
            list-style: decimal;
        }
    }
    &__list-item {
        line-height: 1.2;
        margin-bottom: 6px;
    }
    &__link {
        color: $green;
        text-decoration: none;
    }
}
