@import './base/base.scss';

.incomeReductionCalc {
    font-family: Roboto;
    color: $grey;
    position: relative;
    &__title {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 20px;
    }
    &__notice {
        padding: 16px;
        font-size: 18px;
        line-height: 1.5;
        background: #f9f9f9;
        border-radius: 6px;
        margin-top: 16px;
    }
    &__text {
        margin-bottom: 16px;
    }
}
.incomeReductionCalcTable {
    &__row {
        @include row ()
    }
    &__col {
        @include col (4);
        @media (max-width: 768px) {
            @include col (6);
        }
        @media (max-width: 480px) {
            @include col (12);
        }
    }
}
