.select-wr {
    * {
        box-sizing: border-box;
        font-family: 'Roboto', sans-serif;
    }
    width: 100%;
    position: relative;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, .1);

    select {
        padding: 12px 32px 12px 24px;
        background: #ffffff;
        outline: 0;
        border: 0;
        width: 100%;
        appearance: none;
        color: $grey;
        font-weight: normal;
        height: $inputHeight;
        font-size: 18px;
        cursor: pointer;
        &:focus {
            outline: 0;
        }
        &:active {
            + img {
                transform: translate(0, -50%) rotate(180deg);
            }
        }
        &:disabled {
            background-color: #e7e7e7;
            box-shadow: none;
        }
    }

    img {
        max-width: 16px;
        position: absolute;
        right: 10px;
        top: 55%;
        transform: translate(0, -50%) rotate(0deg);
        pointer-events: none;
        z-index: 2;
        width: 16px !important;
        transition: transform 0.3s;
    }
}

.checkboxes-wr {
    position: relative;
    color: $grey;
    font-size: 18px;

    &__checkbox-classic {
        position: relative;
        padding-right: 24px;
        margin: 10px 0;

        input[type="checkbox"] {
            position: absolute;
            top: 0;
            right: 0;
            z-index: -1;
            visibility: hidden;

            &:checked {
                + .checkboxes-wr__label {
                    &:hover {
                        &:before {
                            box-shadow: none;
                        }
                    }
                    &:before {
                        content: '';
                        background-image: url(../img/checkbox.svg);
                        background-repeat: no-repeat;
                        background-position: center center;
                    }

                    &_big {
                        &:before {
                            background-size: 18px;
                        }
                    }
                    &_small{
                        &:before {
                            background-size: 12px;
                        }
                    }
                    &_green {
                        &:before {
                            background-color: $green;
                            border: 1px solid $green;
                        }
                    }
                    &_grey {
                        &:before {
                            background-color: #8D8D8D;
                            border: 1px solid #8D8D8D;
                        }
                    }
                }
            }
        }

        .checkboxes-wr__label {
            display: inline-flex;
            position: relative;
            cursor: pointer;
            margin-bottom: 0;
            &:hover {
                &:before {
                    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.08);
                }
            }
            &::selection {
                color: $grey_text;
                background: transparent;
            }
            &:before {
                content: '';
                width: 26px;
                height: 26px;
                border: 1px solid $grey_lighter-2;
                border-radius: 6px;
                margin-right: 26px;
                flex: 0 0 auto;
                display: block;
                background-color: #ffffff;
                background-position: center center;
                background-repeat: no-repeat;
                transition: all 0.3s;
            }
            &_big {
                &:before {
                    width: 30px;
                    height: 30px;
                    background-size: 18px;
                }
            }
            &_small{
                &:before {
                    width: 20px;
                    height: 20px;
                    border-radius: 4px;
                    margin-right: 14px;
                    background-size: 12px;
                }
            }
        }
    }

    &__checkbox-toggle {
        position: relative;
        input[type="checkbox"] {
            position: absolute;
            top: 0;
            right: 0;
            z-index: -1;
            visibility: hidden;

            &:checked {
                + .checkboxes-wr__label {
                    &:before {
                        background: $green;
                    }
                    &:after {
                        background: #fff;
                        left: 31px;
                    }
                }
            }
        }
        .checkboxes-wr__label {
            cursor: pointer;
            position: relative;
            display: inline-flex;
            margin-bottom: 0;
            &:before {
                content: '';
                display: block;
                transition: all 0.3s;
                height: 26px;
                width: 56px;
                border-radius: 13px;
                background: #d7d7d7;
                box-shadow: none;
                margin-right: 10px;
                flex: 0 0 auto;
            }
            &:after {
                content: '';
                display: block;
                transition: all 0.3s;
                position: absolute;
                left: 3px;
                top: 2px;
                width: 22px;
                height: 22px;
                border-radius: 50%;
                background: #a9a8a6;
            }
        }
    }

    &__question {
        position: absolute;
        width: 25px;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $green;
        right: 0px;
        bottom: 10px;
        font-weight: 700;
        cursor: pointer;
        z-index: 2;
        background: transparent;
        border-radius: 50%;
    }

    &__qiestion-descr {
        position: absolute;
        right: -1px;
        top: -1px;
        width: 300px;
        padding: 15px;
        background: #ffffff;
        border: 1px solid $green;
        font-weight: 500;
        font-size: 14px;
    }

    &__label-text {
        display: flex;
        align-items: center;
    }
}

.radio-wr {
    position: relative;
    color: $grey;

    &__radio {
        position: relative;
        font-size: 18px;
        margin: 10px 0;
    }
    input[type="radio"] {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        &:checked {
            + .radio-wr__label {
                &:after {
                    content: '';
                    background: $green;
                }
            }
        }
    }
    &__label {
        cursor: pointer;
        position: relative;
        display: inline-flex;
        margin-bottom: 0;
        &:before {
            content: '';
            width: 22px;
            height: 22px;
            border-radius: 50%;
            border: 1px solid $grey_2;
            background: #fff;
            display: block;
            flex: 0 0 auto;
            margin-right: 20px;
        }
        &:after {
            content: '';
            width: 18px;
            height: 18px;
            background: transparent;
            position: absolute;
            border-radius: 50%;
            left: 3px;
            top: 3px;
            display: block;
            transition: background 0.3s;
        }
    }
    &__label-text {
        display: flex;
        align-items: center;
    }
}
