@import './base/base.scss';
* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
/deep/ .select-wr {
    width: 100%;
    position: relative;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, .1);

    select {
        padding: 12px 32px 12px 24px;
        background: #ffffff;
        outline: 0;
        border: 0;
        width: 100%;
        appearance: none;
        color: $grey;
        font-weight: normal;
        height: $inputHeight;
        font-size: 18px;
        cursor: pointer;
        &:focus {
            outline: 0;
        }
        &:active {
            + img {
                transform: translate(0, -50%) rotate(180deg);
            }
        }
        &:disabled {
            background-color: #e7e7e7;
            box-shadow: none;
        }
    }

    img {
        max-width: 16px;
        position: absolute;
        right: 10px;
        top: 55%;
        transform: translate(0, -50%) rotate(0deg);
        pointer-events: none;
        z-index: 2;
        width: 16px !important;
        transition: transform 0.3s;
    }
}

/deep/ .checkboxes-wr {
    position: relative;
    color: $grey;
    font-size: 18px;

    &__checkbox-classic {
        position: relative;
        padding-right: 24px;
        margin: 10px 0;

        input[type="checkbox"] {
            position: absolute;
            top: 0;
            right: 0;
            z-index: -1;
            visibility: hidden;

            &:checked {
                + .checkboxes-wr__label {
                    &:hover {
                        &:before {
                            box-shadow: none;
                        }
                    }
                    &:before {
                        content: '';
                        background-image: url(../img/checkbox.svg);
                        background-repeat: no-repeat;
                        background-position: center center;
                    }

                    &_big {
                        &:before {
                            background-size: 18px;
                        }
                    }
                    &_small{
                        &:before {
                            background-size: 12px;
                        }
                    }
                    &_green {
                        &:before {
                            background-color: $green;
                            border: 1px solid $green;
                        }
                    }
                    &_grey {
                        &:before {
                            background-color: #8D8D8D;
                            border: 1px solid #8D8D8D;
                        }
                    }
                }
            }
        }

        .checkboxes-wr__label {
            display: inline-flex;
            position: relative;
            cursor: pointer;
            margin-bottom: 0;
            &:hover {
                &:before {
                    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.08);
                }
            }
            &::selection {
                color: $grey_text;
                background: transparent;
            }
            &:before {
                content: '';
                width: 26px;
                height: 26px;
                border: 1px solid $grey_lighter-2;
                border-radius: 6px;
                margin-right: 26px;
                flex: 0 0 auto;
                display: block;
                background-color: #ffffff;
                background-position: center center;
                background-repeat: no-repeat;
                transition: all 0.3s;
            }
            &_big {
                &:before {
                    width: 30px;
                    height: 30px;
                    background-size: 18px;
                }
            }
            &_small{
                &:before {
                    width: 20px;
                    height: 20px;
                    border-radius: 4px;
                    margin-right: 14px;
                    background-size: 12px;
                }
            }
        }
    }

    &__checkbox-toggle {
        position: relative;
        input[type="checkbox"] {
            position: absolute;
            top: 0;
            right: 0;
            z-index: -1;
            visibility: hidden;

            &:checked {
                + .checkboxes-wr__label {
                    &:before {
                        background: $green;
                    }
                    &:after {
                        background: #fff;
                        left: 31px;
                    }
                }
            }
        }
        .checkboxes-wr__label {
            cursor: pointer;
            position: relative;
            display: inline-flex;
            margin-bottom: 0;
            &:before {
                content: '';
                display: block;
                transition: all 0.3s;
                height: 26px;
                width: 56px;
                border-radius: 13px;
                background: #d7d7d7;
                box-shadow: none;
                margin-right: 10px;
                flex: 0 0 auto;
            }
            &:after {
                content: '';
                display: block;
                transition: all 0.3s;
                position: absolute;
                left: 3px;
                top: 2px;
                width: 22px;
                height: 22px;
                border-radius: 50%;
                background: #a9a8a6;
            }
        }
    }

    &__question {
        position: absolute;
        width: 25px;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $green;
        right: 0px;
        bottom: 10px;
        font-weight: 700;
        cursor: pointer;
        z-index: 2;
        background: transparent;
        border-radius: 50%;
    }

    &__qiestion-descr {
        position: absolute;
        right: -1px;
        top: -1px;
        width: 300px;
        padding: 15px;
        background: #ffffff;
        border: 1px solid $green;
        font-weight: 500;
        font-size: 14px;
    }

    &__label-text {
        display: flex;
        align-items: center;
    }
}

/deep/ .radio-wr {
    position: relative;
    color: $grey;

    &__radio {
        position: relative;
        font-size: 18px;
        margin: 10px 0;
    }
    input[type="radio"] {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        &:checked {
            + .radio-wr__label {
                &:after {
                    content: '';
                    background: $green;
                }
            }
        }
    }
    &__label {
        cursor: pointer;
        position: relative;
        display: inline-flex;
        margin-bottom: 0;
        &:before {
            content: '';
            width: 22px;
            height: 22px;
            border-radius: 50%;
            border: 1px solid $grey_2;
            background: #fff;
            display: block;
            flex: 0 0 auto;
            margin-right: 20px;
        }
        &:after {
            content: '';
            width: 18px;
            height: 18px;
            background: transparent;
            position: absolute;
            border-radius: 50%;
            left: 3px;
            top: 3px;
            display: block;
            transition: background 0.3s;
        }
    }
    &__label-text {
        display: flex;
        align-items: center;
    }
}


.input-component {
    position: relative;
    &__wr {
        position: relative;
        &_valid {
            &:before {
                content: '';
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translate(0, -50%) rotate(-45deg);
                display: block;
                width: 14px;
                height: 6px;
                border-bottom: 2px solid #50b848;
                border-left: 2px solid #50b848;
            }
        }
    }

    &__box-shadow {
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    }

    &__error {
        color: #ff3860;
        font-size: 12px;
        margin-left: 5px;
    }

    &__inputHint {
        line-height: 1.5;
        min-height: 24px;
        font-weight: normal;
        transition: all 0.3s;
        font-family: 'Roboto', sans-serif;
        &_hint {
            color: $grey_2;
        }
        &_error {
            color: #ff3860;
        }

    }

    &__input {
        width: 100%;
        padding: 18px 32px 12px 24px;
        border: 0;
        outline: 0 ;
        line-height: 1.3;
        color: $grey;
        border-bottom: 2px solid;
        border-color: rgba(255, 255, 255, 0);
        transition: 0.3s;
        border-radius: 4px;
        height: $inputHeight;
        box-sizing: border-box;
        font-size: 18px;

        &_focus {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            border-color: #a2a2ae;
        }

        &_invalid {
            border-color: #f3001d;
        }

        &_valid {
            border-color: #50b848;
        }

        &_disabled {
            cursor: not-allowed
        }
    }
    &__loader {
        position: absolute;
        right: 16px;
        top: 5px;
        border-right: 3px solid $green;
        border-left: 3px solid $green;
        border-top: 3px solid transparent;
        border-bottom: 3px solid transparent;
        border-radius: 50%;
        animation: rotate 1s linear infinite;
        width: 40px;
        height: 40px;
        z-index: 2;
    }
    &__label {
        position: absolute;
        cursor: text;
        top: 0;
        left: 0;
        color: #8D8D8D;
        line-height: 1;
        font-weight: 400;
        z-index: 2;
        display: block;
        padding-left: 24px;
        width: 100%;
        height: 100%;
        transition: transform .3s ease, font-size .3s ease, color .3s ease;
        margin-bottom: 0;
        background: #fff;
        &_focus {
            pointer-events: none;
            background: transparent;
            .input-component__label-text {
                font-size: 12px;
                top: 4px;
                transform: translate(0, 0);
                &:before {
                    color: #8D8D8D;
                }
            }
        }
    }

    &__label-text {
        position: absolute !important;
        top: 50%;
        left: 24px;
        font-size: 18px;
        transform: translate(0, -50%);
        transition: all 0.3s;
        line-height: 1;

        &_required {
            &:before {
                content: '*';
                color: #f3001d;
                transition: color .3s ease;
                margin-right: 5px;
            }
        }
    }

    &__suggest-wr {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: #fff;
        z-index: 10;
        border: 1px solid #000;
    }

    &__suggest {
        padding: 10px;
        cursor: pointer;
    }

    &__single-label {
        color: $grey;
        font-size: 18px;
        line-height: 1.2;
        display: inline-block;
        margin-bottom: 16px;
        font-weight: normal;

        &_required {
            &:before {
                content: '*';
                color: #f3001d;
                transition: color .3s ease;
                margin-right: 5px;
            }
        }
    }

    &__select-label-outside {
        color: $grey;
        font-size: 18px;
        line-height: 1.2;
        display: inline-block;
        margin-bottom: 16px;
        font-weight: normal;

        &_required {
            &:before {
                content: '*';
                color: #f3001d;
                transition: color .3s ease;
                margin-right: 5px;
            }
        }
    }
    &__select-label-inside {
        position: absolute;
        cursor: text;
        top: 0;
        left: 0;
        color: #8D8D8D;
        line-height: 1;
        font-weight: 400;
        z-index: 2;
        display: block;
        padding-left: 24px;
        width: 100%;
        height: 100%;
        transition: transform .3s ease, font-size .3s ease, color .3s ease;
        margin-bottom: 0;
        pointer-events: none;
        &_focus {
            pointer-events: none;
            background: transparent;
            .input-component__label-text {
                font-size: 12px;
                top: 4px;
                transform: translate(0, 0);
                &:before {
                    color: #8D8D8D;
                }
            }
        }
        &_required {
            .input-component__label-text {
                &:after {
                    content: '*';
                    color: #8D8D8D;
                    transition: color .3s ease;
                }
            }
        }
    }

    &__textarea {
        height: $inputHeight * 2;
        resize: none;
        width: 100%;
        padding: 18px 24px 16px 24px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
        outline: 0;
        font-size: 18px;
        line-height: 1.3;
        color: $grey;
        border: 0 transparent;
        border-bottom: 2px solid transparent;
        transition: 0.3s;
        border-radius: 4px;
        box-sizing: border-box;
        overflow: hidden;
        &_focus {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            border-color: #a2a2ae;

            + {
                .input-component {
                    &__label {
                        pointer-events: none;

                        .input-component__label-text {
                            font-size: 12px;
                            top: 0px;
                            transform: translate(0, 0);
                            &:before {
                                color: #8D8D8D;
                            }
                        }
                    }
                }
            }
        }

        &_invalid {
            border-color: #f3001d;
        }

        &_valid {
            border-color: #50b848;
        }

        &_disabled {
            cursor: not-allowed
        }
    }
}

/deep/ .select-wr {
    select {
        background: #fff;
        font-size: 18px;
        box-sizing: border-box;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
