@import './base/vars';

.cib-link {
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 1.2;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s;
    position: relative;
    font-weight: normal;
    &_withImg {
        padding-right: 20px;
        display: inline-flex;
        align-items: center;
    }
    &__withArrow {
        position: absolute;
        top: 50%;
        right: 4px;
        transform: translateY(-50%);
        width: 11px;
        transition: all .3s;
        fill: $grey;
    }
    &__anotherSite {
        width: 13px;
        transition: all .3s;
        margin-left: 5px;
    }
    &:hover, &:focus, &:active {
        text-decoration: none;
        .cib-link__withArrow {
            fill: $green;
            right: 0px;
        }
    }
    &_green {
        color: $green;
        .cib-link__text {
            transition: all 0.3s;
            border-bottom: 1px solid;
            border-color: $grey_border_link;
        }
        &:hover, &:focus, &:active {
            .cib-link__text {
                color: $green_dark;
            }      
        }
    }
    &_white {
        color: #ffffff;
        .cib-link__text {
            transition: all 0.3s;
            border-bottom: 1px solid;
            border-color: rgba(255, 255, 255, 0.5);
        }
        
        &:hover, &:focus, &:active {
            color: #ffffff;
            .cib-link__text {
                border-color: transparent;
            }
        }
    }
    &_greyDark {
        color: $grey;
        &:hover, &:focus, &:active {
            color: $green;
        }
    }
    &_greyLight {
        color: $grey_2;
        &:hover, &:focus, &:active {
            color: $grey;
        }
    }
}