@import './base/base';
/deep/ * {
    font-family: Roboto;
    box-sizing: border-box;
}
/deep/.maternalCapitalRequest {
    &__h1 {
        font-family: Montserrat;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.2;
        margin-bottom: 48px;
        color: #333 !important;

    }
    &__h3 {
        font-family: Montserrat;
        font-weight: 700;
        font-size: 22px;
        margin-top: 20px;
        margin-bottom: 30px;
        color: #333 !important;
    }
    &__h2 {
        font-family: Montserrat;
        font-weight: 700;
        font-size: 32px;
        margin-top: 20px;
        margin-bottom: 30px;
        color: #333 !important;
    }
    &__row {
        margin-bottom: 10px;
        &_flex {
            display: flex;
            @media (max-width: 480px) {
                flex-wrap: wrap;
            }
        }
        &_file {
            margin-top: 40px;
        }
        &_big-margin {
            margin-bottom: 30px;
        }
    }
    &__col {
        &_checkbox {
            max-width: 500px;
        }
        .checkboxes-wr {
            font-size: 14px;
            line-height: 1.2;
        }
        .checkboxes-wr__checkbox-classic {
            margin: 0;
        }
        &_button {
            @media (min-width: 481px) {
                margin-left: auto;
            }
        }
        &_file {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
        }
        &_fileList {
            flex: 0 0 200px;
            margin-right: 40px;
        }
    }
    &__file {
        display: none;
    }
    &__fileErrors {
        color: $error-color;
        order: -1;
        margin-bottom: 10px;
    }
    &__ext {
        font-size: 12px;
        color: #767676;
        line-height: 1.2;
        margin-top: 12px;
        margin-bottom: 12px;
    }
}

.fileList {
    margin-bottom: 16px;
    &__item {
        display: flex;
        align-items: center;
        margin: 6px 0;
    }
    &__delete {
        width: 14px;
        margin-left: 10px;
        cursor: pointer;
    }
}

/deep/ .v-select {
    height: 52px;
    box-shadow: 0px 2px 32px rgba(0, 0, 0, 0.1)
}
/deep/ .vs--single.vs--open .vs__selected{
    height: 50%;
    font-size: 12px;
}
/deep/ .vs {
    &__dropdown-toggle {
        height: 100%;
    }
    &__selected {
        padding: 0 40px 0 16px;
        margin: 0;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        transition: 0.3s;
    }
    &__search {
        padding: 0 !important;
        padding-left: 16px !important;
    }
    &__actions {
        position: absolute;
        top: 50%;
        right: 0;
        padding: 0 10px 0 0;
        height: 100%;
        background: #fff;
        transform: translate(0, -50%);

        img {
            width: 16px;
            height: 8px;
        }
    }
    &__clear {
        display: none;
    }
}

.request-nav {
    position: relative;
    padding: 18px 16px;
    background: #E7E7E7;
    margin-bottom: 52px;
    &__step-info {
        font-size: 30px;
        line-height: 1.2;
        color: $grey;
        font-weight: 500;
        font-family: 'Montserrat', sans-serif;
        @media (max-width: 768px) {
            font-size: 4vw;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
        }
        @media (max-width: 480px) {
            font-size: 5vw;
        }
    }
    &__current-step {
        flex: 1 1 auto;
        margin-right: 10px;
    }
    &__pagination {
        display: flex;
        padding: 10px 0;
        @media (min-width: 769px) {
            position: absolute;
            right: 50px;
            top: 50%;
            transform: translate(0, -50%);
        }
    }
    &__pagination-item {
        width: 18px;
        height: 18px;
        border: 1px solid;
        border-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        cursor: pointer;
        transition: all 0.3s;
        margin: 0 4px;
        &:before {
            content: '';
            display: block;
            border-radius: 50%;
            width: 12px;
            height: 12px;
            box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.1);
            background: #fff;
            transition: all 0.3s;
        }
        &_active {
            border-color: $green;
        }
        &_valid {
            &:before {
                background: $green;
            }
        }
        &_invalid {
            &:before {
                background: $error-color;
                border-color: $error-color;
            }
        }
    }
}

.button-nav {
    border-top: 2px solid #E7E7E7;
    padding-top: 32px;
    margin: 32px 0 32px 0;
    &__row {
        font-family: Roboto;
        @include row(0px);
    }
    &__col {
        @include col(6, 0px);
        @media (min-width: 769px) {
            &_left {
                text-align: left;
            }
            &_right {
                text-align: right;
            }
            &_mobile {
                display: none;
            }
        }

        @media (max-width: 768px) {
            @include col(12, 0px);
            margin: 12px 0;
            &_desktop {
                display: none;
            }
        }

        @media (max-width: 480px) {
            .cib-button {
                width: 100%;
            }
        }
    }
}

/deep/ .modal-hint {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &__row {
        text-align: center;
    }
    &__text {
        font-size: 20px;
        margin-bottom: 16px;
        &_error {
            color: $error-color;
        }
    }
    &__bold {
        font-weight: 700;
    }
    &__content {
        background: #fff;
        color: rgb(51, 51, 51);
        padding: 15px;
        max-width: 800px;
        position: relative;
        border-radius: 5px;
        font-size: 14px;
        line-height: 1.3;
        cursor: default;
        @media (max-width: 900px) {
            max-width: 80%;
        }
    }
    &__button {
        height: 30px;
        padding: 6px 20px;
        font-size: 14px;
    }
}
