@import './base/base';

/deep/ * {
    font-family: Roboto;
}

.newsCalendar {
    color: $grey;
    &__h1 {
        font-family: Montserrat;
        font-weight: 700;
        font-size: 32px;
        margin: 40px 0;
        color: $grey;
        @media (max-width: 768px) {
            font-size: 6vw;
            margin: 26px 0;
        }
        @media (max-width: 480px) {
            font-size: 8vw;
            margin: 20px 0;
        }
    }
    &__row {
        @include row(16px);
        margin-bottom: 44px;
    }
    &__col {
        @include col(6, 16px)
    }
}

.newsCalendar-result {
    &__newsListItem {
        margin-bottom: 24px;
    }
    &__empty {
        font-size: 18px;
    }
}

.newsListItem {
    &__caption {
        margin-bottom: 16px;
        .cib-link {
            font-size: 20px;
            border-bottom: 1px solid #DDDDDD;
        }
    }
    &__preview-text {
        font-size: 16px;
        margin-bottom: 12px;
        line-height: 1.2;
        a {
            color: $green;
            text-decoration: none;
            border-bottom: 1px solid #DDDDDD;
        }
    }
    &__date {
        font-size: 14px;
        color: #888;
    }
}
