@import './base/base';
$offset: 25px;
/deep/ * {
    font-family: Roboto;
    box-sizing: border-box;
}
/deep/ .popupMessage {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    z-index: 100;
    overflow: hidden;
    &__message {
        position: absolute;
        padding: 16px;
        background: $grey;
        border-radius: 16px;
        width: auto;
        color: #fff;
        &_is-warning {
            background: $yellow;
            color: $grey;
        }
        &_is-success {
            background: $green;
        }
        &_is-danger {
            background: $error-color;
        }
        &_is-top-right {
            top: $offset;
            right: $offset;
        }
        &_is-top {
            top: $offset;
            left: 50%;
            transform: translate(-50%, 0);
        }
        &_is-top-left {
            top: $offset;
            left: $offset;
        }
        &_is-bottom-right {
            bottom: $offset;
            right: $offset;
        }
        &_is-bottom {
            bottom: $offset;
            left: 50%;
            transform: translate(-50%, 0);
        }
        &_is-bottom-left {
            bottom: $offset;
            left: $offset;
        }
    }
}
