@import './base/vars.scss';
@import './base/mixins.scss';
@import './base/base.scss';

.vote {
    &__row {
        @include row(25px);
        margin-bottom: 55px;
        @media (max-width: 768px) {
            @include row(0);
        }
    }
    &__col {
        &_left {
            @include col(7, 25px);
            @media (max-width: 768px) {
                @include col(12, 0px);
            }
        }
        &_right {
            @include col(5, 25px);
            @media (max-width: 768px) {
                display: none;
            }
        }
    }
    &__h1 {
        font-family: Montserrat;
        font-weight: bold;
        font-size: 38px;
        line-height: 1.1;
        color: $text;
        margin-bottom: 24px;
        @media(max-width: 480px) {
            font-size: 28px;
        }
    }
    &__span {
        &_green {
            color: $green;
        }
    }
    &__text {
        font-family: Roboto;
        font-size: 18px;
        line-height: 1.2;
        color: $text;
    }
    &__text-p {
        margin-bottom: 16px;
        &_bold {
            font-weight: 700;
        }
    }
    &__note {
        margin-bottom: 85px;
    }
    &__h2 {
        font-family: Montserrat;
        font-weight: bold;
        font-size: 36px;
        color: $green;
        margin-bottom: 44px;
        text-align: center;
        &_ta-left {
            text-align: left;
        }
    }
    &__liders {
        margin-bottom: 100px;
        @media(max-width: 480px) {
            margin-bottom: 50px;
        }
    }
}

.vote-note {
    background: #FFFFFF;
    box-shadow: 1px 1px 28px rgba(0, 0, 0, 0.18);
    border-radius: 6px;
    text-align: center;
    padding: 36px;
    @media(max-width: 480px) {
        padding: 20px;
    }

    font-family: Roboto;
    &__text {
        font-size: 18px;
        color: $text;
        &_green {
            font-size: 32px;
            color: $green;
            margin-bottom: 6px;
            font-weight: 700;
            @media(max-width: 480px) {
                font-size: 28px;
            }
        }
        &_bold {
            font-weight: 700;
            font-size: 28px;
            margin-bottom: 16px;
            @media(max-width: 480px) {
                font-size: 24px;
            }
        }
    }
}

.vote-liders {
    &__row {
        @include row(30px);
        @media (max-width: 1280px) {
            @include row(16px);
        }
        @media (max-width: 480px) {
            @include row(0px);
        }
    }
    &__col {
        @include col(4, 30px);
        @media (max-width: 1280px) {
            @include col(4, 16px);
        }
        @media (max-width: 768px) {
            @include col(6, 16px);
            margin-bottom: 32px;
        }
        @media (max-width: 480px) {
            @include col(12,0px);
        }
    }
    &__img-wr {
        position: relative;
        margin-bottom: 14px;
        img {
            width: 100%;
            height: 350px;
            object-fit: cover;
            @media (max-width: 480px) {
                height: 450px;
            }
        }
    }
    &__button {
        position: absolute;
        bottom: 16px;
        left: 16px;
        border-radius: 4px;
        background: $yellow;
        font-size: 12px;
        padding: 10px 24px;
        text-transform: uppercase;
        cursor: pointer;
        transition: background 0.3s;
        &:hover {
            background: $yellow_dark;
        }
    }
    &__text-block {
        font-family: Roboto;
        color: $text;
    }
    &__name {
        font-weight: bold;
        font-size: 20px;
        line-height: 1.2;
        margin-bottom: 10px;
    }
    &__text {
        font-size: 12px;
    }
}

.vote-members {
    &__header-row {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        margin-bottom: 26px;
    }
    &__view {
        cursor: pointer;
        &_margin {
            margin-right: 26px;
        }
        &_active {
            rect, line {
                fill: $green;
                stroke: $green;
            }
        }
    }
    &__text {
        color: $text;
        &_big {
            font-family: Montserrat;
            font-weight: 500;
            font-size: 22px;
            margin-bottom: 12px;
        }
        &_small {
            font-family: Roboto;
            font-weight: 300;
            font-size: 14px;
        }
    }
}

.member-item {
    background: #FFFFFF;
    border: 1px solid #E3E3E3;
    box-sizing: border-box;
    border-radius: 6px;
    transition: 0.3s;
    padding: 24px 16px;
    margin-bottom: 30px;
    &:hover {
        background: #FFFFFF;
        box-shadow: 1px 1px 24px rgba(0, 0, 0, 0.2);
        border-radius: 6px;
        border: 1px solid #FFF100;
    }
    &__row {
        display: flex;
        @media (max-width: 650px) {
            flex-wrap: wrap;
        }
    }
    &__col {
        &_img {
            flex: 0 0 208px;
            margin-right: 24px;
            @media (max-width: 650px) {
                margin-bottom: 16px;
                flex: 0 1 300px;
            }
            img {
                height: 350px;
                width: 100%;
                object-fit: cover;
                @media (max-width: 480px) {
                    height: 400px;
                }
            }
        }
        &_description {
            flex: 1 1 auto;
            display: flex;
            flex-direction: column;
            padding-right: 24px;
        }
    }
    &__name {
        display: flex;
        flex-direction: column;
        font-family: Roboto;
        flex-wrap: wrap;
    }
    &__span-name {
        margin-right: 16px;
        font-weight: bold;
        font-size: 22px;
        color: $green;
        margin-bottom: 16px;
    }
    &__span-slogan {
        font-style: italic;
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 16px;
        &::before {
            content: '«';
        }
        &::after {
            content: '»';
        }
    }
    &__post {
        font-size: 18px;
        font-family: Roboto;
        margin-bottom: 24px;
    }
    &__sphere {
        font-family: Roboto;
        font-size: 14px;
        color: $text;
        margin-bottom: 24px;
    }
    &__subcaption {
        font-family: Roboto;
        font-weight: 700;
        margin-bottom: 12px;
        font-size: 16px;
    }
    &__li {
        position: relative;
        margin: 12px 0;
        font-family: Roboto;
        font-weight: 300;
        font-size: 14px;
        color: $text;
        padding-left: 10px;
        line-height: 1.2;
        &::before {
            content: '';
            position: absolute;
            width: 5px;
            height: 5px;
            background: $green;
            border-radius: 1px;
            left: 0;
            top: 3px;
        }
    }
    &__button-wr {
        margin-top: auto;
        display: flex;
    }
    &__button {
        border-radius: 4px;
        background: $yellow;
        font-size: 12px;
        padding: 10px 24px;
        text-transform: uppercase;
        cursor: pointer;
        transition: background 0.3s;
        display: inline-block;
        margin-left: auto;
        &:hover {
            background: $yellow_dark;
        }
    }
}
